<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="id">
						ID:
					</wicket:message>
				</div>
				<div class="fldControl">
					<input wicket:id="id" type="text" />
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>
				
				<div class="fldLabel">
					<wicket:message key="study">
						Study:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="study">
						<option>
							Study selection
						</option>
					</select>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>
				
				<div class="fldLabel">
					<label for="subjectUidPrefix">
						<wicket:message	key="biospecimenUid.template">BiospecimenUID Template:</wicket:message><br>
						<div class="note">
							<wicket:message	key="biospecimenUid.templateNote">[Note replaced from properties]</wicket:message>
						</div>
					</label>
				</div>
				
				<div class="fldControl">
					<div class="label">
						<input wicket:id="biospecimenUidPrefix" type="text" maxLength="3" size="3"/>
						<select wicket:id="biospecimenUidToken">
		       				<option>-</option>
							<option>@</option>
							<option>#</option>
		       			</select>
						<select wicket:id="biospecimenUidPadChar">
		       				<option>1</option>
							<option>2</option>
							<option>3</option>
		       			</select>
					</div>
					<div class="label">
						<b><span wicket:id="biospecimenUid.example">ABC-#########</span></b>
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			</div>
			<!-- End detailFormContainer -->

			<div wicket:id="editButtonContainer">
				<div class="fldLabel">
					&nbsp;
				</div>
				<div class="fldControl">
					&nbsp;
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>
				<div class="actionButtons">
					&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />
						<div class="panelMargin">
							&nbsp;
						</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />
						<div class="panelMargin">
							&nbsp;
						</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />
					</div>
				</div>
			</div>
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		</div>
		<!-- End detailsPanelBorder -->
	</form>
	<br>
	&nbsp;
	<br>
	&nbsp;
</wicket:panel>
