<wicket:panel>&nbsp;
     	<div id="searchPanelContainer">
			<form wicket:id="searchForm">
		  		<div id="searchPanelContent">
					<div id="searchPanelBreaker">&nbsp;</div>				
					<div id="panelContentLeft">&nbsp;</div>
					
		       		<div id="fldLabel">
						<div class="label">
							<label for="id">
								<wicket:message key="arkModuleRole.arkModule">
									Module
								</wicket:message>
							</label>
						</div>
					</div>
					
					<div id="fldControl">
						<div class="label">
							<select wicket:id="arkModule">
								<option>
									1
								</option>
								<option>
									2
								</option>
							</select>
						</div>
					</div>
					
					<div id="searchPanelBreaker">&nbsp;</div>		
		       		
					<!--  Defines the location for buttons -->			
					<div id="panelContentLeft">&nbsp;</div>
					<div id="fldLabel">&nbsp;</div>
					<div id="fldControl">&nbsp;</div>
					<div id="panelMargin">&nbsp;</div>
					<div id="actionButtons">&nbsp;
					<div>
							<input wicket:id="search" type="submit" wicket:message="value:page.search" />&nbsp;
							<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />&nbsp;
							<input wicket:id="new" type="submit" wicket:message="value:page.new" />
					</div>
					</div>
					<div id="searchPanelBreaker">&nbsp;</div>
				</div>
			</form>
       </div><!-- Container-->
</wicket:panel>