<wicket:panel>
	<div class="wizardStepBorder">
		<div wicket:id="header" />
		<div class="wizardStepContent">
			<div class="wizardPanelBreaker">Validation Messages:</div>
			<div class="wizardErrorMessages">
				<span wicket:id="multiLineLabel" class="mark">
					this text will be replaced
				</span>
			</div>
			<input wicket:id="downloadValMsg" type="submit" value="Download Validation Messages" />&nbsp;
			<div class="wizardPanelBreaker">&nbsp;</div>
			<div wicket:id="updateExistingDataContainer">
				<wicket:message	key="updateExistingData">
					Update existing data:
				</wicket:message>
				<input type="checkbox" wicket:id="updateChkBox"/>
			</div>
			<!-- div class="wizardPanelBreaker">&nbsp;</div>
			<div wicket:id="continueDespiteBadDataContainer">
				<wicket:message	key="continueDespiteBadData">
					Continue despite the fact data has failed validation.  
					This is not recommended and will make it much harder for you to group and report on your data.
					If you take this path please manually fix the data using The Ark ASAP:
				</wicket:message>
				<input type="checkbox" wicket:id="continueChkBox"/>
			</div -->
		</div>
	</div>
</wicket:panel>
