.dijitRtl .wager .dijitTab {
	margin-right:0;
	margin-left:2px;		
}
.dijitRtl .wager .dijitTabContainerTopStrip,
.dijitRtl .wager .dijitTabContainerBottomStrip {
	padding-right: 3px;
	padding-left: 0px;
}
.dijitRtl .wager .dijitTabContainerTop-tabs {
	padding-left: auto;
	padding-right: 3px;
}
.dijitRtl .wager .dijitTabContainerBottom-tabs {
	padding-left: auto;
	padding-right: 3px;
}
.dijitRtl .wager .dijitTabInnerDiv {
	padding-left: 3px;
	padding-right: 4px;
}
.dijitRtl .wager .dijitTabPaneWrapper {
	#zoom: 1;
}
.dj_ie-rtl .wager .dijitTabContainerLeft-tabs {
	margin-left: 0px !important;
}
.dj_ie-rtl .wager .dijitTabContainerRight-tabs {
	margin-right: 0px !important;
}
.dijitRtl .wager .dijitTabContainerLeft-tabs .dijitTab,
.dijitRtl .wager .dijitTabContainerRight-tabs .dijitTab {
	margin-left:0px;
}
.dj_ie-rtl .wager .dijitTab .dijitTabInnerDiv{
	width : 1%;
}
