
.wager .dijitButtonNode {
	
	
	border:1px solid #dedede;
	border-bottom:1px solid #dedede;
	padding: 0.1em 0.2em 0.2em 0.2em; 
	background: #fff url("../images/buttonEnabled.png") repeat-x top left;
}
.wager .dijitButtonNode button { 
	border: 0px; 
	background-color: transparent; 
} 
 
.wager .dijitButtonText {
	text-align: center; 
	padding: 0 0.3em;
}
.wager .dijitComboBox .dijitButtonNode {
	border-width: 0px 0px 0px 1px;
}
.wager .dijitArrowButton {
	color: #111;
}
.wager .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.dj_ff2 .wager .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .wager .dijitComboButton .dijitDownArrowButtonFocused {
	border: 1px black dotted !important;
}
.wager .dijitButtonDisabled .dijitButtonNode,
.wager .dijitToggleButtonDisabled .dijitButtonNode,
.wager .dijitDropDownButtonDisabled .dijitButtonNode,
.wager .dijitComboButtonDisabled .dijitButtonNode,
.wager .dijitComboBoxDisabled,
.wager .dijitSpinnerDisabled,
.wager .dijitSpinnerDisabled .dijitButtonNode {
	
	border-color: #dedede;
	background:#fafafa url("../images/buttonDisabled.png") top repeat-x;
	opacity: 0.60; 
}
.wager .dijitButtonHover .dijitButtonNode,
.wager .dijitButtonNodeHover,
.wager .dijitToggleButtonHover .dijitButtonNode,
.wager .dijitDropDownButtonHover .dijitButtonNode,
.wager .dijitComboButtonHover .dijitButtonContents,
.wager .dijitComboButtonDownArrowHover .dijitDownArrowButton,
.wager .dijitComboBoxHover .dijitDownArrowButton,
.wager .dijitSpinnerUpArrowHover .dijitUpArrowButton,
.wager .dijitSpinnerDownArrowHover .dijitDownArrowButton {
	
	
	color:#243C5F;
	background:#fcfcfc url("../images/buttonHover.png") repeat-x top left;
}
.wager .dijitSpinnerUpArrowActive .dijitUpArrowButton,
.wager .dijitSpinnerDownArrowActive .dijitDownArrowButton,
.wager .dijitButtonActive .dijitButtonNode,
.wager .dijitToggleButtonActive .dijitButtonNode,
.wager .dijitDropDownButtonActive .dijitButtonNode,
.wager .dijitComboButtonActive .dijitButtonContents,
.wager .dijitDownArrowActive .dijitDownArrowButton,
.wager .dijitComboBoxActive .dijitDownArrowButton,
.wager .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#dedede;
	background: #f5f5f5 url("../images/buttonActive.png") top left repeat-x;
}
.wager .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat left top;
	width: 11px;
}
.wager .dijitUpArrowButton .dijitArrowButtonInner { 
	background:url("../images/spriteArrows.png") no-repeat -22px top; 
	width: 11px;
}
.dj_ie6 .wager .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat left top;
	width: 11px;
}
.dj_ie6 .wager .dijitUpArrowButton .dijitArrowButtonInner {
	background:url("../images/spriteArrows.gif") no-repeat -22px top;
	width: 11px;
}
