<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div id="detailsPanelBorder">
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!-- Row 1 Study ID and Name-->
			
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="studyKey">
						<wicket:message key="study.component.id">Component Id:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="studyComponent.studyCompKey" type="text" />
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="componentName"><wicket:message	key="study.component.name">Name:</wicket:message></label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="studyComponent.name" type="text" /> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
		
			<div id="searchPanelBreaker">&nbsp;</div>
			
			
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="studyKey">
						<wicket:message key="study.component.description">Description:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="studyComponent.description" type="text" />
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					&nbsp;  <!--  <label for="componentName"><wicket:message	key="study.component.name">Name:</wicket:message></label> -->
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					&nbsp; <!--  <textarea wicket:id="siteVo.siteDescription"></textarea> --> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<!-- Row 1 Ends-->
		
			
			<!--  Row 2 Action Buttons -->
			
			
			<div id="fldLabel">&nbsp;</div>
			<div id="fldControl">&nbsp;</div>
			<div id="panelMargin">&nbsp;</div>
			<div id="actionButtons">&nbsp;
				<div class="label">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
					
					<div id="panelMargin">&nbsp;</div>
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
