<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div id="detailsPanelBorder">
		  <div wicket:id="detailFormContainer">
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!-- Row 1 Study ID and Name-->
			
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="subjectId">
						<wicket:message key="subjectUID">Subject UID:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="subjectStudy.subjectUID"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="title"><wicket:message	key="title">Title:</wicket:message></label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<select wicket:id="person.titleType">
	       				<option>Mr.</option>
						<option>Mrs.</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
		
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 1 Ends-->
			
			<!-- Row 2 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="firstName">
						<wicket:message key="firstName">First Name:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.firstName"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="middleName"><wicket:message	key="middleName">Middle Name:</wicket:message></label> 
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="person.middleName"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 2 Ends-->

			<!-- Row 3 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="lastName">
						<wicket:message key="lastName">Last Name:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.lastName"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="preferredName"><wicket:message	key="preferredName">Preferred Name:</wicket:message></label> 
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="person.preferredName"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 3 Ends-->
			
			
			<!-- Row 4 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="dateOfBirth">
						<wicket:message key="dateOfBirth">Date Of Birth:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.dateOfBirth"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="vitalStatus"><wicket:message key="vitalStatus">Vital Status:</wicket:message></label> 
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<select wicket:id="person.vitalStatus">
	       				<option>Alive</option>
						<option>Deceased</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 4 Ends-->
			
			
			<!-- Row 5 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="gender">
						<wicket:message key="gender">Gender:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					 <select wicket:id="person.genderType">
	       				<option>Male</option>
						<option>Female</option>
	       			</select>
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<wicket:message key="subjectStatus">Subject Status:</wicket:message>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<select wicket:id="subjectStatus">
	       				<option>Status</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Row 6 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="Marital status">
						<wicket:message key="maritalStatus">Marital Status:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<select wicket:id="person.maritalStatus">
	       				<option>Single</option>
	       				<option>Married</option>
	       			</select>
				</div>
			</div>
			<!--  Supposed to be rendered as a List of Custom Controls for Custom Fields. For LifePool First Release we are adding them as regular fields -->
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<wicket:message key="subject.amdrifId">AMDRIF ID:</wicket:message>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="subjectStudy.amdrifId"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Row 7 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="studyApproachDate">
						<wicket:message key="studyApproachDate">Study Approach Date:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="subjectStudy.studyApproachDate"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<wicket:message key="yearOfFirstMamogram">Year of First Mamogram:</wicket:message>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="subjectStudy.yearOfFirstMamogram"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Row 7 Ends -->
			
			<!--  Row 8 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="yearOfRecentMamogram">
						<wicket:message key="yearOfRecentMamogram">Year of Recent Mamogram:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="subjectStudy.yearOfRecentMamogram"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<wicket:message key="totalNumberOfMamograms">Total Mamograms:</wicket:message>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="subjectStudy.totalNumberOfMamograms"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Row 8 Ends -->
			
			<!--  Row 9-->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="siteStreetAddress">
						<label for="siteStreetAddress"><wicket:message key="subjectStudy.siteAddress">Street Address:</wicket:message></label>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					 <input wicket:id="subjectStudy.siteAddress"  type="text" />
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="city"><wicket:message key="city">City:</wicket:message></label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="subjectStudy.city"  type="text" />
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Row 9 Ends -->
			
			<!--  Row 10 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="postCode">
						<label for="postCode"><wicket:message key="subjectStudy.postCode">Post Code:</wicket:message></label>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					 <input wicket:id="subjectStudy.postCode"  type="text" />
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="country"><wicket:message key="country">Country:</wicket:message></label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<select wicket:id="subjectStudy.country">
		       				<option>Australia</option>
							<option>United Kingdom</option>
		       		</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Row 10 End -->
			
			<!--  Row 11 -->
			<div id="searchPanelContentRight">&nbsp;</div>
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<div id="panelContentLeft">&nbsp;</div>
			<div id="fldLabel">
		 		<div class="label">
					<label for="state"><wicket:message key="state">State:</wicket:message></label>
		 		</div> 
		 	</div> 			       			
				
			<div id="fldControl">
			  <div class="label">
			    <div  wicket:id="countryStateSelector"> 
				  <select wicket:id="subjectStudy.state">
		       		<option>WA</option>
					<option>QLD</option>
		       	  </select>
				</div>
		       </div>
			</div>
		       	   		       			
		    <div id="panelMargin">&nbsp;</div>
						
			<div id="fldLabel">
		 		<div class="label">
					&nbsp;
		 		</div> 
		 	</div> 			       			
				
			<div id="fldControl">
				<div class="label">
					&nbsp;
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			<div id="searchPanelBreaker">&nbsp;</div>
			<!--  Row 11 Ends -->
			
			<!--  the custom component 
		    <div wicket:id="ddpanel">
		     
		    </div>
			-->
			<!-- ModalWindow for confirm Delete window -->
			<div wicket:id="modalwindow"></div>
			<div id="searchPanelBreaker">&nbsp;</div>
				
			</div>
			
			<!--  Row 2 Action Buttons -->
			
			<div wicket:id="editButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
					  <input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
					  <div id="panelMargin">&nbsp;</div>
					  <input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
					  <div id="panelMargin">&nbsp;</div>
					  <input wicket:id="delete" type="submit" wicket:message="value:page.delete" />&nbsp;
				  	</div>
				</div>
			</div>
			
			<div wicket:id="viewButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:page.edit" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:page.cancel" />
				  	</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
