<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div id="detailsPanelBorder">
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!-- Row 1 Study ID and Name-->
			
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="subjectId">
						<wicket:message key="subjectId">Subject Id:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.id" type="text" />
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="title"><wicket:message	key="title">Title:</wicket:message></label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<select wicket:id="person.titleType">
	       				<option>Mr.</option>
						<option>Mrs.</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
		
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 1 Ends-->
			
			<!-- Row 2 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="firstName">
						<wicket:message key="firstName">First Name:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.firstName"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="middleName"><wicket:message	key="middleName">Middle Name:</wicket:message></label> 
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="person.middleName"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 2 Ends-->

			<!-- Row 3 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="lastName">
						<wicket:message key="lastName">Last Name:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.lastName"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="preferredName"><wicket:message	key="preferredName">Preferred Name:</wicket:message></label> 
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<input wicket:id="person.preferredName"/> 
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 3 Ends-->
			
			
			<!-- Row 4 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="dateOfBirth">
						<wicket:message key="dateOfBirth">Date Of Birth:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="person.dateOfBirth"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="vitalStatus"><wicket:message key="vitalStatus">Vital Status:</wicket:message></label> 
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<select wicket:id="person.vitalStatus">
	       				<option>Alive</option>
						<option>Deceased</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			<!-- Row 4 Ends-->
			
			
			<!-- Row 5 -->
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="gender">
						<wicket:message key="gender">Gender:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					 <select wicket:id="person.genderType">
	       				<option>Male</option>
						<option>Female</option>
	       			</select>
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<wicket:message key="subjectStatus">Subject Status:</wicket:message>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<select wicket:id="subjectStatus">
	       				<option>Status</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			
			<div id="panelContentLeft">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="gender">
						<wicket:message key="subjectUID">Subject UID:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="subjectUID"/> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<wicket:message key="maritalStatus">Marital Status:</wicket:message>
				</div>
			</div>
			<div id="fldControl">
				<div class="label" >
					<select wicket:id="person.maritalStatus">
	       				<option>Single</option>
	       				<option>Married</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
			
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<!--  Add the Phone Container Panel here <div wicket:id=phoneListContainer></div> -->
			
			
			
			<!-- Row 4 Ends
			
			<div wicket:id="markupContainerPhoneList">
				 <div wicket:id=phoneListPanel></div>
				 <div id="fldLabel">&nbsp;</div>
				 <div id="fldControl">&nbsp;</div>
				 <input wicket:id="addPhone" type="submit" wicket:message="value:page.addPhoneKey" />&nbsp;
			</div>
			-->
			<!--  Row 2 Action Buttons -->
			<div id="fldLabel">&nbsp;</div>
			<div id="fldControl">&nbsp;</div>
			<div id="panelMargin">&nbsp;</div>
			<div id="actionButtons">&nbsp;
				<div class="label">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
					
					<div id="panelMargin">&nbsp;</div>
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
