<wicket:panel>&nbsp;
	<form wicket:id="detailsForm">
		<div id="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<!-- Row 1 Study ID and Name-->
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="subjectId">
							<wicket:message key="subjectUID">Subject UID:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.subjectUID"/> 
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="title"><wicket:message	key="title">Title:</wicket:message></label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<select wicket:id="linkSubjectStudy.person.titleType">
		       				<option>Mr.</option>
							<option>Mrs.</option>
		       			</select>
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
			
				<div id="detailPanelBreaker">&nbsp;</div>
				<!-- Row 1 Ends-->
					
				<!-- Row 2 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="firstName">
							<wicket:message key="firstName">First Name:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.firstName"/> 
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="middleName"><wicket:message	key="middleName">Middle Name:</wicket:message></label> 
					</div>
				</div>
				<div id="fldControl">
					<div class="label" >
						<input wicket:id="linkSubjectStudy.person.middleName"/> 
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				<!-- Row 2 Ends-->
	
				<!-- Row 3 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="lastName">
							<wicket:message key="lastName">Last Name:</wicket:message>
						</label>
					</div>
					<div class="label">
						<label for="lastName">
							<wicket:message key="subjectPreviousLastname">(previous)</wicket:message>
							<div id="note">
								<wicket:message	key="subjectPreviousLastname.note">[Note replaced from properties]</wicket:message>
							</div>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.lastName"/> 
					</div>
					<div class="label" style="padding-top: 5px;">
						<input wicket:id="subjectPreviousLastname"/> 
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="preferredName"><wicket:message	key="preferredName">Preferred Name:</wicket:message></label> 
					</div>
				</div>
				<div id="fldControl">
					<div class="label" >
						<input wicket:id="linkSubjectStudy.person.preferredName"/> 
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				<!-- Row 3 Ends-->
				
				
				<!-- Row 4 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="dateOfBirth">
							<wicket:message key="dateOfBirth">Date Of Birth:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.dateOfBirth" maxLength="10"/>
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="vitalStatus"><wicket:message key="vitalStatus">Vital Status:</wicket:message></label> 
					</div>
				</div>
				<div id="fldControl">
					<div class="label" >
						<select wicket:id="linkSubjectStudy.person.vitalStatus">
		       				<option>Alive</option>
							<option>Deceased</option>
		       			</select>
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				<!-- Row 4 Ends-->
				<!--  Row 4.1 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<wicket:message key="dateLastKnownAlive">Date Last Known Alive:</wicket:message>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.dateLastKnownAlive" maxLength="10"/> 
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						&nbsp;
					</div>
				</div>
				<div id="fldControl">
					<div class="label" >
						&nbsp;
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				<!-- Row 4.1 Ends  -->
				
				
				<!-- Row 5 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div wicket:id="deathDetailsContainer">
					<div id="fldLabel">
						<div class="label">
							<label for="dateOfDeath">
								<wicket:message key="dateOfDeath">Date Of Death:</wicket:message>
							</label>
						</div>
					</div>
					<div id="fldControl">
						<div class="label">
							<input wicket:id="linkSubjectStudy.person.dateOfDeath" maxLength="10"/> 
						</div>
					</div>
					
					<div id="panelMargin">&nbsp;</div>
					
					<div id="fldLabel">
						<div class="label">
							<label for="causeOfDeath">
								<wicket:message key="causeOfDeath">Cause of Death:</wicket:message>
							</label> 
						</div>
					</div>
					<div id="fldControl">
						<div class="label" >
							<input wicket:id="linkSubjectStudy.person.causeOfDeath" maxLength="255"/>
						</div>
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				<!-- Row 5 ends -->
				
				<!-- Row 6 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="gender">
							<wicket:message key="gender">Gender:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						 <select wicket:id="linkSubjectStudy.person.genderType">
		       				<option>Male</option>
							<option>Female</option>
		       			</select>
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<wicket:message key="subjectStatus">Subject Status:</wicket:message>
					</div>
				</div>
				<div id="fldControl">
					<div class="label" >
						<select wicket:id="linkSubjectStudy.subjectStatus">
		       				<option>Status</option>
		       			</select>
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<!--  Row 7 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="Marital status">
							<wicket:message key="maritalStatus">Marital Status:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<select wicket:id="linkSubjectStudy.person.maritalStatus">
		       				<option>Single</option>
		       				<option>Married</option>
		       			</select>
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="personContactMethod">
							<wicket:message key="personContactMethod">Preferred Contact Method:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<select wicket:id="linkSubjectStudy.person.personContactMethod">
		       				<option>Home telephone</option>
		       				<option>Mobile telephone</option>
		       				<option>Email</option>
		       				<option>Post</option>
		       			</select>
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<!--  Row 8 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="preferredEmail">
							<wicket:message key="preferredEmail">Preferred Email:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<div wicket:id="preferredEmailContainer">
							<input wicket:id="linkSubjectStudy.person.preferredEmail" size="30" maxLength="150"/>
						</div> 
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="otherEmail">
							<wicket:message key="otherEmail">Other Email:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.otherEmail" size="30" maxLength="150"/> 
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<!--  comment -->
				<!--  Row 8 -->
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="heardAboutStudy">
							<wicket:message key="heardAboutStudy">Heard About Study:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.heardAboutStudy"/> 
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						 <wicket:message key="comment">Comment:</wicket:message>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<textarea wicket:id="linkSubjectStudy.comment" maxlength="1000" cols="25"></textarea>
					</div>
				</div>
				
				<div id="detailPanelContentRight">&nbsp;</div>
							
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<!--  Place consent fields here -->
				<div id="customPanelBorder">
					
					<div id="customPanelContentLeft">&nbsp;</div>
					
					<div id="fldLabel">
						<div class="label">
							<wicket:message key="consentDate">Consent Date:</wicket:message>
						</div>
					</div>
					<div id="fldControl">
						<div class="label" >
							<input wicket:id="linkSubjectStudy.consentDate"/> 
						</div>
					</div>
					
					<div id="customPanelMargin">&nbsp;</div>
					
					<div id="fldLabel">
						<div class="label">
							<label for="consentStatus">
								<wicket:message key="consentStatus">Consent Status:</wicket:message>
							</label>
						</div>
					</div>
					<div id="fldControl">
						<div class="label">
							<select wicket:id="linkSubjectStudy.consentStatus">
				       			<option>Consented</option>
				       			<option>Not Consented</option>
		       				</select>
						</div>
					</div>
					
					<div id="customPanelContentRight">&nbsp;</div>
					
					<div id="detailPanelBreaker">&nbsp;</div>
					
					<div id="customPanelContentLeft">&nbsp;</div>
					
					<div id="fldLabel">
						<div class="label">
							<wicket:message key="consentType">Consent Type:</wicket:message>
						</div>
					</div>
					<div id="fldControl">
						<div class="label" >
							<select wicket:id="linkSubjectStudy.consentType">
				       			<option>Hard Copy</option>
		       					<option>Electronic Copy</option>
		       				</select>
						</div>
					</div>
					
					<div id="customPanelMargin">&nbsp;</div>
					
					<div id="fldLabel">
						<div class="label">
							<label for="consentDownloaded"><wicket:message key="consent.downloaded">Consent Downloaded:</wicket:message></label>
						</div>
					</div>
					<div id="fldControl">
						<div class="label">
							<select wicket:id="linkSubjectStudy.consentDownloaded">
				       			<option>Yes</option>
								<option>No</option>
				       	  	</select>
						</div>
					</div>
					<div id="customPanelContentRight">&nbsp;</div>
					
					<div id="detailPanelBreaker">&nbsp;</div>
					
					<div id="customPanelContentLeft">&nbsp;</div>
						<div id="fldLabel">
					 		<div class="label">
								<label for="consentToActiveContact"><wicket:message key="consentToPassiveDataGathering">Consent to Passive Data Gathering To Active Contact:</wicket:message></label>
					 		</div> 
					 	</div> 			       			
						
						<div id="fldControl">
						  <div class="label">
							 <select wicket:id="linkSubjectStudy.consentToPassiveDataGathering">
				       			<option>Yes</option>
								<option>No</option>
				       	  	  </select>
					       </div>
						</div>
				       	   		       			
				    <div id="customPanelMargin">&nbsp;</div>
								
					<div id="fldLabel">
				 		<div class="label">
				 		  <label for="consentToActiveContact"><wicket:message key="consentToActiveContact">Consent To Active Contact:</wicket:message></label>
				 		</div> 
				 	</div> 			       			
						
					<div id="fldControl">
						<div class="label">
							 <select wicket:id="linkSubjectStudy.consentToActiveContact">
					       		<option>Yes</option>
								<option>No</option>
					       	  </select>
						</div>
					</div>
					
					<div id="customPanelContentRight">&nbsp;</div>
					
					<div id="detailPanelBreaker">&nbsp;</div>
					
									<div id="customPanelContentLeft">&nbsp;</div>
						<div id="fldLabel">
					 		<div class="label">
								 <label for="consentToUseData"><wicket:message key="consentToUseData">Consent To Active Contact:</wicket:message></label>
					 		</div> 
					 	</div> 			       			
						
						<div id="fldControl">
						  <div class="label">
							  <select wicket:id="linkSubjectStudy.consentToUseData">
					       		<option>Yes</option>
								<option>No</option>
				       	 	  </select>
					       </div>
						</div>
				       	   		       			
				    <div id="customPanelMargin">&nbsp;</div>
								
					<div id="fldLabel">
				 		<div class="label">
				 		   &nbsp;
				 		</div> 
				 	</div> 			       			
						
					<div id="fldControl">
						<div class="label">
							&nbsp;
						</div>
					</div>
					
					<div id="customPanelContentRight">&nbsp;</div>
					<!--  nEw fields -->
					
					
					
				</div>
				<div id="detailPanelContentRight">&nbsp;</div>

				<!--  the custom component 
			    <div wicket:id="ddpanel"></div>
				-->
				
				<!-- ModalWindow for confirm Delete window -->
				<div wicket:id="modalwindow"></div>
				
			<!--  End detailFormContainer -->
			</div>
			
			<!--  Row 2 Action Buttons -->
			<div id="buttons">
				<div wicket:id="editButtonContainer">
					<div id="fldLabel">&nbsp;</div>
					<div id="fldControl">&nbsp;</div>
					<div id="panelMargin">&nbsp;</div>
					<div id="actionButtons">&nbsp;
						<div class="label">
						  <input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
						  <div id="panelMargin">&nbsp;</div>
						  <input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
						  <div id="panelMargin">&nbsp;</div>
						  <input wicket:id="delete" type="submit" wicket:message="value:page.delete" />&nbsp;
					  	</div>
					</div>
				</div>
			
				<div wicket:id="viewButtonContainer">
					<div id="fldLabel">&nbsp;</div>
					<div id="fldControl">&nbsp;</div>
					<div id="panelMargin">&nbsp;</div>
					<div id="actionButtons">&nbsp;
						<div class="label">
							<input wicket:id="edit" type="submit" wicket:message="value:page.edit" />&nbsp;
							<div id="panelMargin">&nbsp;</div>
							<input wicket:id="editCancel" type="submit"	wicket:message="value:page.newSearch" />
					  	</div>
					</div>
				</div>
				<div id="detailPanelBreaker">&nbsp;</div>
			<!--  End buttons -->
			</div>
		<!--  End detailsPanelBorder -->
		</div>
		<div id="detailPanelBreaker">&nbsp;</div>
	</form>
	<br>&nbsp;<br>&nbsp;<br>&nbsp;
</wicket:panel>