<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      ${title}
    </title>
	<style type="text/css">
	a:hover { text-decoration: none !important; }
	.header h1 {color: #ede6cb !important; font: normal 24px Georgia, serif; margin: 0; padding: 0; line-height: 28px;}
	.header p {color: #645847; font: bold 11px Georgia, serif; margin: 0; padding: 0; line-height: 12px; text-transform: uppercase;}
	.content h2 {color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px; font-family: Helvetica, Arial, sans-serif;}
	.content a {color: #0fa2e6; text-decoration: none;}
	.footer p {font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;}
	.footer a {color: #0fa2e6; text-decoration: none;}
	</style>
  </head>
  <body style="margin: 0; padding: 0; background: #FFF no-repeat center top;" bgcolor="#FFF">
  	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="background: #ede6cb; padding: 50px 0 50px">
		  <tr>
		  	<td align="center">
		  		<!-- header-->
			    <table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif;" height="100">
			      <tr>
			        <td style="margin: 0; padding: 40px 10px 0; background: #FFF no-repeat center top" align="left" valign="top">
						<h1 style="color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 24px;font-family: Helvetica, Arial, sans-serif;">${header}</h1>
				    </td>
			      </tr>
				  <tr>
					  <td style="font-size: 1px; height: 15px; line-height: 1px;" height="15">&nbsp;</td>
				  </tr>	
				</table>
				<!-- end header-->
				
				<!-- body -->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif;" >
			      <tr>
			        <td width="599" valign="top" align="left" bgcolor="#ffffff"style="font-family: Georgia, serif; background: #fff; border-top: 5px solid #BFBFBF">
						<table cellpadding="0" cellspacing="0" border="0"  style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="599">
						<tr>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;">&nbsp;</td>
							<td style="padding: 10px 0 0; font-family: Helvetica, Arial, sans-serif;" align="left">			
								<h2 style="color:#393023 !important; font-weight: bold; margin: 0; padding: 0; line-height: 30px; font-size: 17px;font-family: Helvetica, Arial, sans-serif;">${subject}</h2>
								<p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;">
									${text}
								</p>
							</td>
							<td width="15" style="font-size: 1px; line-height: 1px; width: 15px;">&nbsp;</td>
						</tr>  
						</table>	
					</td>
			      </tr>
				 <tr>
					  <td style="font-size: 1px; height: 10px; line-height: 1px;" height="10">&nbsp;</td>
				  </tr>
				</table>
				<!-- end body -->
				
				<!-- footer-->
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="599" style="font-family: Georgia, serif; line-height: 10px;" bgcolor="#464646" class="footer">
			      <tr>
			        <td bgcolor="#464646"  align="center" style="padding: 15px 0 10px; font-size: 11px; color:#bfbfbf; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
						<p style="font-size: 11px; color:#bfbfbf; margin: 0; padding: 0;font-family: Helvetica, Arial, sans-serif;">The message was from <a href="#" style="color: #0fa2e6; text-decoration: none;">${host}</a>.</p>
					</td>
			      </tr>
				  <tr> 
				</table>
				<!-- end footer-->
		  	</td>
		</tr>
    </table>
  </body>
</html>