<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="date">
						Date:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="correspondence.date" type="text" maxlength="10" />
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="time">
						Time:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="correspondence.time"	type="text" />
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="operator">
						Operator:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="correspondence.operator">
						<option>
							Adrian
						</option>
					</select>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="correspondenceMode">
						Type:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="correspondence.correspondenceModeType">
						<option>
							Mail
						</option>
					</select>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="correspondenceDirection">
						Direction:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="correspondence.correspondenceDirectionType">
						<option>
							Outgoing
						</option>
					</select>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="correspondenceOutcome">
						Outcome:
					</wicket:message>
				</div>

				<div class="fldControl">
					<select wicket:id="correspondence.correspondenceOutcomeType">
						<option>
							Sent
						</option>
					</select>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="reason">
						Reason:
					</wicket:message>
				</div>

				<div class="fldControl">
					<textarea wicket:id="correspondence.reason" id="correspondence.reason" cols="25" maxLength="4096">
					</textarea>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="details">
						Details:
					</wicket:message>
				</div>

				<div class="fldControl">
					<textarea wicket:id="correspondence.details" id="correspondence.details" cols="25" maxLength="4096">
					</textarea>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="comments">
						Comments:
					</wicket:message>
				</div>

				<div class="fldControl">
					<textarea wicket:id="correspondence.comments" id="correspondence.comments" cols="25" maxLength="4096">
					</textarea>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="attachmentUpload">
						Upload file:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="correspondence.attachmentFilename" type="file" />
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			</div>

			<!--	Row 2 Action Buttons -->
			<div wicket:id="editButtonContainer">
				<div class="actionButtons">
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:page.save" />
						<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
						<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
					</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
