<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="15%">
				<label for="date">
					<wicket:message	key="date">
						Date:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="time">
					<wicket:message	key="time">
						Time:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="operator">
					<wicket:message	key="operator">
						Operator:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="correspondenceMode">
					<wicket:message	key="correspondenceMode">
						Type:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="correspondenceDirection">
					<wicket:message	key="correspondenceDirection">
						Direction:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="correspondenceOutcome">
					<wicket:message key="correspondenceOutcome">
						Outcome:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="reason">
					<wicket:message key="reason">
						Reason:
					</wicket:message>
				</label>
			</th>
			<th width="10%">&nbsp;</th>
			<th width="2%">&nbsp;</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="correspondenceList">
			<td width="2%">&nbsp;</td>
			<td width="15%">
				<a href="#" wicket:id="correspondence">
					<span wicket:id="correspondenceLabel">
						A correspondence link
					</span>
				</a>
			</td>
			<td width="15%">
				<span wicket:id="time">
					3:30pm
				</span>
			</td>
			<td width="15%">
				<span wicket:id="operator.ldapUserName">
					John Smith
				</span>
			</td>
			<td width="15%">
				<span wicket:id="correspondenceModeType.name">
					Mail
				</span>
			</td>
			<td width="10%">
				<span wicket:id="correspondenceDirectionType.name">
					Outgoing
				</span>
			</td>
			<td width="10%">
				<span wicket:id="correspondenceOutcomeType.name">
					Sent
				</span>
			</td>
			<td width="10%">
				<span wicket:id="reason">
					To return a phone call.
				</span>
			</td>
			<td width="10%">
			  	<input wicket:id="downloadFile" type="submit" wicket:message="value:button.downloadFile" />&nbsp;
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="96%" colspan="8">
				<span wicket:id="correspondenceNavigator" class="a">
				</span>
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0">
	</table>
</wicket:panel>
