**/.project
**/.classpath
**/.settings/
**/target/
**/.metadata
**/logs/
**/velocity.log
**/*.swp
**/.completed
docker/test/output
docker/.env
**/.vagrant

# Properties.
ark-container/src/main/resources/applicationContext.xml
ark-container/src/main/resources/application.properties
ark-container/src/test/resources/applicationContext.xml
ark-container/src/test/resources/application.properties

spark/src/main/resources/spark.properties

ark-user-account/src/main/resources/applicationContext.xml

spark-bluegene/src/main/resources/spark.properties
spark-spartan/src/main/resources/spark.properties
spark-local/src/main/resources/spark.properties
spark-hpc/src/main/resources/spark.properties
ark-calendar/src/main/resources/ark-calendar.properties

tools/casper/src/main/resources/casper.properties
