**/.project
**/.classpath
**/.settings/
**/target/
**/.metadata
**/logs/
**/velocity.log

# Properties.
ark-container/src/main/resources/applicationContext.xml
ark-container/src/main/resources/application.properties
