<wicket:panel>
	&nbsp;
	<div class="searchPanelContainer">
		<form wicket:id="searchForm">
			<div class="searchPanelContent">
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
 
 				  
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.datacenter.microservice">
								Micro Service:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<select wicket:id="microService">
							<option>A</option>
							<option>B</option>
							<option>C</option>
						</select>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="name">
							<wicket:message key="genomics.datacenter.name">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="name">
							<option>A</option>
							<option>B</option>
							<option>C</option>
						</select>
					</div>
				</div>
				
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.datacenter.filedirectory">
								Directory:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="directory" type="text" />
					</div>
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="name">
							<wicket:message key="genomics.datacenter.filename">
								File Name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="fileName" type="text"/>
					</div>
				</div>
				
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.datasource.id">
								Directory:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="dataSource.id" type="text" />
					</div>
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="name">
							<wicket:message key="genomics.datasource.name">
								File Name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="dataSource.name" type="text"/>
					</div>
				</div>
				
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				
				<!--	Defines the location for buttons -->
				<div class="actionButtons">
					<input wicket:id="search" type="submit" wicket:message="value:page.search" />
					<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />
					<input wicket:id="new" type="submit" wicket:message="value:page.new" />
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</wicket:panel>
