<wicket:panel>
	<div class="detailsPanelBorder">
		<div class="customFieldDataPanel">
			<form wicket:id="customDataEditorForm">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div wicket:id="dataViewWMC">
					<div wicket:id="dataViewPanel" class="detailPanel">
						[viewPanel]
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div wicket:id="buttonsPanelWMC">
					<div wicket:id="buttonsPanel">
						[buttonsPanel]
					</div>
				</div>
			</form>

			<span wicket:id="navigator" class="a">
			</span>
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
			<div class="centreLabel">
				<span wicket:id="warnSaveLabel">
					[Please "Save"!]
				</span>
			</div>
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		</div>
	</div>
</wicket:panel>