<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.password">veTum1n</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:9521:genepi1</property>
	<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.username">wagerlab</property>
        <property name="hibernate.default_schema">WAGERLAB</property>
	<property name="hibernate.show_sql">true</property>
        <mapping resource="org/wager/biogenix/types/Biospecimen.hbm.xml" />
        <mapping resource="org/wager/biogenix/types/BioTransactions.hbm.xml" />
    </session-factory>
</hibernate-configuration>
