/*
 * Cascading Stylesheet for Biogenix v4.5 GUI
 *
 * Version: $Id: java.css,v 1.1 2005/04/28 05:13:42 daniel Exp $
 */

/* Styles from Java Skin *** DEPRECATED *** */
A.navigation {
	color : #9999CC;
}
A.navigation:visited {
	color : #9999CC;
}
A.navigation:hover {
	color : #9999CC;
}
A.uportal-navigation-category{
	color : Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-control{
	color : White;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:visited{
	color : #CCCCFF;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:hover{
	color :  Black;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-channel{
	color : #CCCCFF;
	font-size : 12px;
}
A.uportal-navigation-channel:visited{
	color : #CCCCFF;
	font-size : 12px;
}
A.uportal-navigation-channel:hover{
	color : Black;
	font-size : 12px;
}
.uportal-text{
	color : Black;
	font-family : Verdana, Arial;
	font-size : 10px;
}
.uportal-text-small{
	color : Black;
	font-family : Verdana, Arial;
	font-size : 10px;
}
.uportal-button
{
	background-color : #6c2535;
	color : #FFFFFF;
	border : 1px solid #000000;
	font-family : Verdana, Arial, Sanserif;
	cursor: pointer;
	font-weight : bold;
	font-size : 10px;
}
.uportal-label{
	color : Black;
	font-family : Verdana, Arial;
	font-size : 10px;
}
.uportal-label2{
	color : Black;
	font-family : Verdana, Arial;
	font-size : 10px;
	font-weight : bold;
}

input.uportal-input-text
{
	margin : 1px;
	padding : 2px;
	background-color: #FFF7E4;
	border: 1px solid #FFD87E;
	font-family : Verdana, Arial, Sanserif;
	color : #000000;
	font-size : 10px;
}
.uportal-input-text
{
	margin : 1px;
	padding : 2px;
	background-color: #FFF7E4;
	font-family : Verdana, Arial, Sanserif;
	color : #000000;
	font-size : 10px;
}

select.uportal-input-text
{
        margin : 1px;
        padding : 2px;
        background-color: #FFF7E4;
	border: 1px solid #FFD87E;
        font-family : Verdana, Arial, Sanserif;
        color : #000000;
        font-size : 10px;
}


textarea.uportal-input-text
{
	margin : 1px;
	padding : 2px;
	background-color: #FFF7E4;
	border: 1px solid #FFD87E;
	font-family : Verdana, Arial, Sanserif;
	color : #000000;
	font-size : 10px;
}
.uportal-text-reversed{
	color : White;
	font-family : Verdana, Arial;
	font-size : 12px;
}
.uportal-navigation-category-selected{
	font-size : 12px;
	font-weight : bold;
	color : #666699;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-size : 12px;
	color : White;
}
.uportal-crumbtrail{
	font-family : Verdana, Arial;
	font-size : 10px;
	color : #666666;
}
.uportal-copyright{
	font-family : Verdana, Arial;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family : Verdana, Arial;
	font-size : 10px;
}
.uportal-channel-title{
	color : Black;
	font-family : Verdana, Arial;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #FFFFFF;
	font-family : Verdana, Arial;
	font-size : 16px;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #999999;
	font-family : Verdana, Arial;
	font-size : 10px;
	font-weight : bold;
}
.uportal-channel-current-subtitle{
	color : red;
	font-family : Verdana, Arial;
	font-size : 10px;
	font-weight : bold;
}
.uportal-channel-subtitle-reversed{
	color : #333333;
	font-family : Verdana, Arial;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial;

}
.uportal-channel-strong{
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial;
}
.uportal-channel-code{
	color : Black;
	font-size: 12px;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	font-family : Verdana, Arial;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: 10px;
	font-family: Verdana, Arial;
	color : #8B0000;
}
.uportal-channel-error{
	color : Black;
	font-size: 11px;
	font-family: Verdana, Arial;
}
.uportal-channel-table-caption{
	color : #6666FF;
	font-family : Verdana, Arial;
	font-size : 12px;
	font-weight : bold;
	text-align: center;
}
.uportal-channel-table-header{
	color : #666699;
	font-family : Verdana, Arial;
	font-size : 12px;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-size: 11px;
	font-family: Verdana, Arial;
}
.uportal-channel-table-row-odd{
	color : #666666;
	font-size: 11px;
	font-family: Verdana, Arial;
}
.uportal-background{
	background : #FFFFFF;
}
.uportal-background-login{
	background : #FFFFFF;
}
.uportal-background-dark{
	background : #666699;
}
.uportal-background-med{
	background : #666699;
}
.uportal-background-light{
	background : #CCCCFF;
}
.uportal-background-content{
	background : #FFFFFF;
}
.uportal-background-highlight{
	background : #FFCCFF;
}
.uportal-background-shadow{
	background : #000000;
}
.neuragenix-submenu-text
{
	color: #FFFFFF;
	font-size : 8px;
	font-weight : bold;
}
.neuragenix-form-required-text
{
	color: #FF0000;
	font-family : Verdana, Arial;
	font-size : 10px;
	font-weight : bold;
}
.neuragenix-table-header{
	color : White;
	font-family : Verdana, Arial;
	font-size : 10px;
	font-weight : bold;
	background : #666699;
}
td#neuragenix-border-right
{
	border-right: 1px solid #FFFFFF;
}
td#neuragenix-form-row-label
{
	text-align:left;
	width: 10%;
}
td#neuragenix-form-row-label-required
{
	text-align:left;
	width: 1%;
}
td#neuragenix-required-header
{
	text-align:right;
}
td#neuragenix-form-row-input
{
	text-align:left;
	width: 10%;
}
.neuragenix-logo-background
{
	background : #0066CC;
}

/*****************************************************************************
 * STYLES FOR BIOGENIX v4.5
 *****************************************************************************/

/* Defaults */
body
{
	margin : 0px;
	padding : 0px;
	background-color : #FFFFFF;
	color: black;
}
p
{
	font-family : Verdana, Arial, Sanserif;
	color : #4D4D4D;
	font-size : 10px;
}
td
{
	font-family : Verdana, Arial, Sanserif;
	color : #4D4D4D;
	font-size : 10px;
}
a
{
	text-decoration : underline;
	color: black;
	font-family : Verdana, System, Arial;
        font-size : 10px;
}
a:visited
{
	text-decoration : underline;
	color: black;
	font-family : Verdana, System, Arial;
        font-size : 10px;
}
a:hover
{
	text-decoration : underline;
	font-family : Verdana, System, Arial;
        font-size : 10px;
}
input
{
	margin : 1px;
	padding : 2px;
	background-color: #FFF7E4;
	border: 1px solid #FFD87E;
	font-family : Verdana, Arial, Sanserif;
	color : #000000;
	font-size : 10px;
}
select
{
	background-color: #FFF7E4;
	border: 1px solid #FFD87E;
	font-family : Verdana, Arial, Sanserif;
	color : #000000;
	font-size : 10px;
}
textarea
{
	background-color: #FFF7E4;
	border: 1px solid #FFD87E;
	font-family : Verdana, Arial, Sanserif;
	color : #000000;
	font-size : 10px;
}

/* Separators */
tr.separator
{
	background-color : #000000;
}
td.channel_title_bar_separator_bevel
{
	background-color : #4D4D4D;
}
td.channel_title_bar_separator
{
	background-color : #FFFFFF;
}
tr.channel_button_strip_separator
{
	background-color : #6c2535;
}
tr.form_separator
{
	background-color : #6c2535;
}

/* Text Styles */
.required_text
{
	color: #FF0000;
	font-weight : bold;
}
.message_text
{
	color: #FF0000;
	font-weight : bold;
}
.error_text
{
	color: #FF0000;
	font-weight : bold;
}

/* Message Bar */
td.header_message_bar_content
{
	font-size : 10px;
	color : #8BD3E5;
	background-image : url('../institutional/header_message_bar_bg.gif');
	background-repeat : repeat-x;
}
td.header_message_bar_content_empty
{
	font-size : 10px;
	color : #8BD3E5;
	background-image : url('../institutional/header_message_bar_empty_bg.jpg');
	background-repeat : repeat-x;
}

/* General Form Styles */
.form_label
{
	font-weight : bold;
}
input.checkbox
{
	margin : 1px;
	padding : 2px;
	background-color: transparent;
	border: none;
}
input.submit_image_button
{
	margin : 0px;
	padding : 0px;
	background-color: transparent;
	border: none;
}

/* Footer */
td.footer
{
	font-size : 5px;
	background-image : url('../institutional/footer_bg.gif');
	background-repeat : repeat-x;
}

/* Active Navigation Tab */
a.navigation_tab_active
{
	text-decoration : none;
	color : #000000;
	font-size : 10px;
	font-weight : bold;
}
a.navigation_tab_active:hover
{
	text-decoration : none;
	color : #000000;
	font-size : 10px;
	font-weight : bold;
}
a.navigation_tab_active:visited
{
	text-decoration : none;
	color : #000000;
	font-size : 10px;
	font-weight : bold;
}
td.navigation_tab_active
{
	font-size : 10px;
	background-image : url('../navigation/navtab_active_bg.gif');
	background-repeat : repeat-x;
	padding-top : 3px;
}

/* Inactive Navigation Tab */
a.navigation_tab_inactive
{
	text-decoration : none;
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
}
a.navigation_tab_inactive:hover
{
	text-decoration : none;
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
}
a.navigation_tab_inactive:visited
{
	text-decoration : none;
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
}
td.navigation_tab_inactive
{
	font-size : 10px;
	background-image : url('../navigation/navtab_inactive_bg.gif');
	background-repeat : repeat-x;
	padding-top : 3px;
}

/* Space After Rightmost Navigation Tab */
td.navigation_tab_right_space
{
	font-size : 10px;
	background-image : url('../navigation/navtab_right_bg.jpg');
	background-repeat : repeat-x;
}

/* Channel Border Horizontal and Vertical Strips */
td.channel_border_hstrip
{
	background-image : url('../channel/channel_title_bar_bg.gif');
	background-repeat : repeat-y;
}
td.channel_border_left
{
}
td.channel_border_right
{
}

/* Channel Title Bar */
td.channel_title_bar
{
	background-image : url('../channel/channel_title_bar_bg.gif');
	background-repeat : repeat-x;
	color : #000000;
	font-size : 12px;
	font-weight : bold;
}

/* Channel Button Strip */
td.channel_button_strip
{
	padding-top : 2px;
	padding-bottom : 2px;
	background-image : url('../channel/channel_button_strip_bg.gif');
	background-repeat : repeat-x;
}

/* Log-in Page Styles */
h1.login
{
	margin : 0px;
	color : #6c2535;
	font-size : 22px;
	font-weight : bold;
}
h2.login
{
	margin : 0px;
	color : #000000;
	font-size : 14px;
	font-weight : bold;
}
p.login
{
	margin : 2px;
	color : #000000;
	font-size : 12px;
}
a.login
{
	font-size : 12px;
}

/* Function Panel */
table.funcpanel
{
}
td.funcpanel_header_active
{
	height : 20px;
	vertical-align : middle;
	background-image : url('../../../../../../../../neuragenix/funcpanel/funcpanel_header_active_bg.gif');
        background-repeat : repeat-x;
	color : white;
	font-weight : bold;
}
td.funcpanel_header_inactive
{
	height : 20px;
	vertical-align : middle;
	background-image : url('../../../../../../../../neuragenix/funcpanel/funcpanel_header_inactive_bg.gif');
	background-repeat : repeat-x;
	color : #000000;
	font-weight : bold;
}
td.funcpanel_left_border
{
	border-left : 1px solid #6c2535;
}
td.funcpanel_right_border
{
	border-right : 1px solid #6c2535;
}
td.funcpanel_bottom_border
{
	background-color : #FFFFFF;
	border-left : 1px solid #6c2535;
	border-right : 1px solid #6c2535;
	border-bottom : 1px solid #6c2535;
}
tr.funcpanel_content
{
	background-color : white;
}
tr.funcpanel_expanded_content
{
	background-color : #FFFFFF;
}
td.funcpanel_content_spacer
{
	background-color : white;
	border-left : 1px solid #6c2535;
	border-right : 1px solid #6c2535;
}
td.funcpanel_content_separator
{
	border-left : 1px solid #6c2535;
	border-right : 1px solid #6c2535;
	border-bottom : 1px solid #6c2535;
}
td.funcpanel_footer
{
	height : 22px;
	background-image : url('../../../../../../../../neuragenix/funcpanel/funcpanel_footer_bg.gif');
	background-repeat : repeat-x;
}
input.funcpanel_form
{
	margin : 1px;
	padding : 2px;
	background-color : #FFF7E4;
}
select.funcpanel_form
{
	background-color : #FFF7E4;
}

/* Info Panel */
a.infopanel_subtab
{
	text-decoration : none;
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
}
a.infopanel_subtab:hover
{
	text-decoration : none;
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
}
a.infopanel_subtab:visited
{
	text-decoration : none;
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
}
tr.infopanel_subtabs
{
}
td.infopanel_subtab_active
{
	color : #000000;
	font-size : 10px;
	font-weight : bold;
	background-image : url('../../../../../../../../neuragenix/infopanel/infopanel_subtab_active_bg.gif');
	padding-bottom: 3px;
}
td.infopanel_subtab_inactive
{
	color : #6c2535;
	font-size : 10px;
	font-weight : bold;
	background-image : url('../../../../../../../../neuragenix/infopanel/infopanel_subtab_inactive_bg.gif');
	padding-bottom: 3px;
}
td.infopanel_title
{
	font-size : 12px;
	font-weight : bold;
	color: #FFFFFF;
	padding-bottom: 4px;
}

/* Stripped Table Rows (e.g. Search Results) */
a.stripped_column_heading
{
	text-decoration : none;
	color : black;
	font-weight : bold;
	background-color : #c6c6c6;
}
a.stripped_column_heading:visited
{
	text-decoration : none;
	color : black;
	font-weight : bold;
	background-color : #c6c6c6;
}
a.stripped_column_heading:hover
{
	text-decoration : none;
	color : black;
	font-weight : bold;
	background-color : #c6c6c6;
}
td.stripped_column_heading
{
	color : black;
	background-color : #c6c6c6;
    font-weight: bold;
	padding : 4px;
}
a.stripped_content
{
	text-decoration : none;
	font-weight : bold;
	color : inherit;
}
a.stripped_content:visited
{
	text-decoration : none;
	color : #000000;
	font-weight : bold;
}
a.stripped_content:hover
{
	text-decoration : none;
	font-weight : bold;
}
tr.stripped_light
{
	color : #000000;
	background-color : white;

	padding : 4px;
}
tr.stripped_dark
{
	color : Black;
	background-color : #FFF7E4;
	padding : 4px;
}
tr.withdrawn
{
	color : white;
	background-color : #524040;
	padding : 4px;
}
td.stripped_light
{
	color : #000000;
	background-color : white;
	padding : 4px;
	border-bottom:1px solid #FFD87E;
}
td.withdrawn
{
	color : white;
	background-color : #524040;
	padding : 4px;
	border-bottom:1px solid #FFD87E;
}
td.stripped_dark
{
	color : Black;
	background-color : #FFF7E4;
	padding : 4px;
	border-bottom:1px solid #FFD87E;
}
td.stripped_separator
{
	background-color : #FFFFFF;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.button {
    background: transparent url('/wagerlab/media/neuragenix/icons/bg_button2_a.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 30px;
    margin-right: 6px;
    padding-right: 13px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('/wagerlab/media/neuragenix/icons/bg_button2_span.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 8px 0 8px 13px;
} 

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 9px 0 7px 13px; /* push text down 1px */
} 

