<wicket:panel>
	&nbsp;
	<form wicket:id="detailForm">
		<div id="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 			       	
		 		
		 		<div id="panelMargin">&nbsp;</div>		
				
				<div id="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				<!-- ModalWindow for confirm Delete window -->
				<div wicket:id="modalwindow"></div>
			</div>
			<!-- Detail container end-->
			
			<!--  Buttons -->
			<div wicket:id="viewButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:button.edit" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:button.cancel" />
				  	</div>
				</div>
			</div>
			
			<div wicket:id="editButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />
				  	</div>
				</div>
			</div>
		</div>
	
	</form>
</wicket:panel>