<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview">
		<tr>
			<th width="5%">&nbsp;</th>
			<th width="10%>
				<label for="id">
					<!--
					<wicket:message	key="id">ID:</wicket:message>
					 -->
					 &nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="name">
					<!--
					<wicket:message	key="name">Name:</wicket:message>
					-->
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="col3">
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="col4">
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="col5">
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="col6">
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="col7">
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="resultList">
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%"></td>
			<td width="10%">
			  <!--
			  <a href="#"wicket:id="phenoCollection.name">
			  	&nbsp;
			  </a>
			   -->
			   &nbsp;
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%">&nbsp;</td>
		</tr>
		<tr>
			<td width="5%">&nbsp;</td>
			<td width="10%"><span wicket:id="navigator" class="a"></span></td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>