BODY{ 
	background-color : #FFFFFF; 
}
A {
	text-decoration : none;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #1F2999;
}
A:VISITED {
	color : #1F2999;
}
A:HOVER {
	color : #FF0000;
}
A.navigation {
	color : Black;
}
A.navigation:visited {
	color : Black;
}
A.navigation:hover {
	color : #FFFFFF;
}
.uportal-text{
	color : #000000;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
    font-weight: normal;
}
.uportal-text-small{
	color : Black;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 10px;
}
.uportal-button{
	color : #99CCFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	background : #2E358B;
    border-color: #99CCFF #171F75 #171F75 #99CCFF; 
	border-style: outset; 
}
.uportal-label{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-input-text{
	color : Black;	
	font-size: 12px;
	font-family: Monaco, "Andale Mono", monospace;
}
.uportal-text-reversed{
	color : White;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
A.uportal-navigation-category{
	color : #99CCFF;
	font-size : 12px;
	font-weight : bold;
	font-family: Verdana, Arial, Helvetica, sans-serif
}
A.uportal-navigation-category:visited{
	color : #99CCFF;
	font-size : 12px;
	font-weight : bold;
}
A.uportal-navigation-category:hover{
	color : #FFFFFF;
	font-size : 12px;
	font-weight : bold;
}
.uportal-navigation-category-selected{
	font-size : 12px;
	font-weight : bold;
	color : Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
A.uportal-navigation-channel{
	color : #99CCFF;
	font-size : 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: normal;
}
A.uportal-navigation-channel:visited{
	color : #99CCFF;
	font-size : 12px;
}
A.uportal-navigation-channel:hover{
	color : #FFFFFF;
	font-size : 12px;
}
.uportal-navigation-channel-selected{
	background : Black;
	font-size : 12px;
	color : #99CCFF;
    font-weight: bold;
}
.uportal-crumbtrail{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #99CCFF;
}
.uportal-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-text{
	color : Black;
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.uportal-channel-title{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
}
.uportal-channel-title-reversed{
	color : #99CCFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
}
.uportal-channel-subtitle{
	color : #000000;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : normal;
	font-style : italic;
}
.uportal-channel-subtitle-reversed{
	color : #99CCFF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : normal;
}
.uportal-channel-emphasis{
	font-weight : bold;
	font-size : 12px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
}
.uportal-channel-strong{
	font-weight : bold;
	font-size : 11px;
	font-family : Verdana, Arial, Helvetica, sans-serif;
    color: #1F2999;
}
.uportal-channel-code{
	color : Black;
	font-size: 12px;
	font-family: Monaco, Andale Mono, monospace;
}
.uportal-channel-copyright{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : Black;
	font-style : italic;
}
.uportal-channel-warning{
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FF0000;
}
.uportal-channel-error{
	color : #FF0000;
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-caption{
	color : #1F2999;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
    text-align: center;
}
.uportal-channel-table-header{
	color : #1F2999;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	text-align: left;
}
.uportal-channel-table-row-even{
	color : Black;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-channel-table-row-odd{
	color : #666666;
	font-size: 11px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.uportal-background{
	background : #FFFFFF;
}
.uportal-background-dark{
	background : #1F2999;
}
.uportal-background-med{
	background : #0482FF;
}
.uportal-background-light{
	background : #99CCFF;
}
.uportal-background-content{
	background : #FFFFFF;
}
.uportal-background-highlight{
	background : #F5CD62 ;
}
.uportal-background-shadow{
	background : #0A0D32;
}
.uportal-background-focused{
	background : #E3E9EE;
}
 
