<wicket:panel>
	&nbsp;
	<div class="detailsPanelBorder">
		<form wicket:id="subjectDetailForm">
			<div class="detailPanelBreaker">
				&nbsp;
			</div>

			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="fldLabel">
				<wicket:message key="subjectUID">
					Subject UID:
				</wicket:message>
			</div>

			<div class="fldControl">
				<input wicket:id="subjectUID"/>
			</div>

			<div class="panelMargin">
				&nbsp;
			</div>

			<div class="fldLabel">
				<wicket:message key="person.firstName">
					First Name:
				</wicket:message>
			</div>
			<div class="fldControl">
				<input wicket:id="person.firstName"/>
			</div>

			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="fldLabel">
				<wicket:message key="person.lastName">
					Last Name:
				</wicket:message>
			</div>
			<div class="fldControl">
				<input wicket:id="person.lastName"/>
			</div>

			<div class="panelMargin">
				&nbsp;
			</div>

			<div class="fldLabel">
				<wicket:message key="person.dateOfBirth">
					Date Of Birth:
				</wicket:message>
			</div>

			<div class="fldControl">
				<input wicket:id="person.dateOfBirth" maxLength="10"/>
			</div>

			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		</form>
	</div>
	<!--	End detailsPanelBorder -->
</wicket:panel>
