<wicket:panel>
&nbsp;
<!--  This will contain a Form that will capture only user personal account details  -->
<div wicket:id="arkUserAccountPanelcontainer">
	<table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="15%"><label for="moduleName"><wicket:message key="module.name">Module Name:</wicket:message></label></th>
			<th width="25%"><label for="roleName"><wicket:message key="roles">Role:</wicket:message></label></th>
			<th width="2%">&nbsp;</th>
		</tr>
		
		<tr wicket:id="arkUserRoleList">
			<td width="2%">&nbsp;</td>
			<td width="15%"><span wicket:id="moduleName">Module Name</span></td>
			<td width="25%">&nbsp;
		 
				<select wicket:id="arkRole">
					<option>UC1</option>
					<option>UC2</option>
				</select>
			</td> 
			<td width="2%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</div>
</wicket:panel>