<wicket:panel>
	<div id="searchPanelBreaker">
		&nbsp;
	</div>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="5%">
				<label for="fieldDataId">
					<wicket:message	key="fieldData.id">
						Field Data ID:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="fieldDataCollection">
					<wicket:message	key="fieldData.collection">
						Collection:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="fieldDataSubjectUid">
					<wicket:message	key="fieldData.subjectUID">
						SubjectUid:
					</wicket:message>
				</label>
			</th>
			<th width="5%">
				<label for="fieldDataDateCollected">
					<wicket:message	key="fieldData.dateCollected">
						Date/Time Collected:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="fieldDataField">
					<wicket:message	key="fieldData.field">
						Field:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="fieldDataValue">
					<wicket:message	key="fieldData.value">
						Value:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="passedQualityControl">
					<wicket:message	key="fieldData.passedQualityControl">
						Passed Quality Control:
					</wicket:message>
				</label>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="fieldDataList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="5%">
				<a href="#" wicket:id="fieldData.id">
					<span wicket:id="nameLbl">
						100
					</span>
				</a>
			</td>
			<td width="10%">
				<span wicket:id="fieldData.collection">
					Collection
				</span>
			</td>
			<td width="10%">
				<span wicket:id="fieldData.linkSubjectStudy.subjectUID">
					Subject UID
				</span>
			</td>
			<td width="5%">
				<span wicket:id="fieldData.dateCollected">
					Date Collected
				</span>
			</td>
			<td width="10%">
				<span wicket:id="fieldData.field">
					Field
				</span>
			</td>
			<td width="10%">
				<span wicket:id="fieldData.value">
					Value
				</span>
			</td>
			<td width="10%">
				<img wicket:id="fieldData.passedQualityControl"/>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">
				&nbsp;
			</td>
			<td width="96%" colspan="7">
				<span wicket:id="navigator" class="a">
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>
