P {
	FONT-SIZE: 12px; COLOR: #333333
}
.legal {
	FONT-SIZE: 9px; COLOR: #999999; FONT-FAMILY: Arial, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #666666; FONT-FAMILY: Arial, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, sans-serif
}
.header {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: Arial, sans-serif
}
A {
	COLOR: #0000ff; TEXT-DECORATION: none
}
LI {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, sans-serif
}
.menu {
	FONT-SIZE: 12px; COLOR: #666666
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.title {
	FONT-SIZE: 40px; COLOR: #cccccc
}
SUP {
	FONT-SIZE: 50%
}
HR {
	COLOR: #666666
}
.qnumber {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ffffff
}
.pagetitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #c0c0c0; FONT-FAMILY: Arial, Helvetica, sans-serif
}
