<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="5%">
				<label for="col1">
					<wicket:message	key="subjectFile.id">Subject File ID:</wicket:message>
				</label>
			</th>
			<th width="40%">
				<label for="col2">
					<wicket:message	key="subjectFile.filename">Filename:</wicket:message>
				</label>
			</th>
			<th width="5%">
				<label for="col3">
					<wicket:message	key="subjectFile.studyComp">Study Component:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="col4">
					<wicket:message	key="subjectFile.userId">Uploaded By:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="col5">
					<wicket:message	key="subjectFile.comments">Comments:</wicket:message>
				</label>
			</th>
			<th width="5%">
				<label for="col6">
					&nbsp;
				</label>
			</th>
			<th width="5%">
				<label for="col7">
					&nbsp;
				</label>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="resultList">
			<td width="2%">&nbsp;</td>
			<td width="5%">
				<span wicket:id="subjectFile.id">Consent File ID</span>&nbsp;
			</td>
			<td width="40%">
			  	<span wicket:id="subjectFile.filename">Filename</span>
			</td>
			<td width="10%">
				<span wicket:id="subjectFile.studyComp">Study Component</span>
			</td>
			<td width="10%">
				<span wicket:id="subjectFile.userId">Uploaded By</span>
			</td>
			<td width="10%">
				<span wicket:id="subjectFile.comments">Comments</span>
			</td>
			<td width="5%">
			  	<input wicket:id="downloadFile" type="submit" wicket:message="value:button.downloadFile" />
			  	<!--<div wicket:id="downloadFile"></div>-->
			</td>
			<td width="5%">
				<input wicket:id="deleteFile" type="submit" wicket:message="value:button.deleteFile" />
			  	<!--<div wicket:id="deleteFile"></div>-->
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
		<!--  The navigation bar -->
		<tfoot>
			<tr>
				<td width="2%">&nbsp;</td>
				<td width="96%" align="left" colspan="7"><span wicket:id="navigator" class="a"></span></td>
				<td width="2%">&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>