<wicket:panel>
	<!--  Page Left Zone -->
	<div id="leftZone">&nbsp;</div>
	<!-- Content Zone -->
	<div id="contentZone">
		<!--  Form that will contain a Phone or Address List -->
		<form wicket:id="phoneContainerForm">
			
			<div wicket:id="phoneListMarkupContainer">
				<!--  A Panel that contains a List of results for Phone or Address's -->
				<div wicket:id="phoneListPanel"></div>
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="fldLabel"><div class="label">&nbsp;</div></div>
				<div id="fldControl"><div class="label" >&nbsp;</div></div>
				<input wicket:id="addPhone" type="submit" wicket:message="value:page.addPhoneKey" />&nbsp;
		  	</div>
		  	
		  	<!--  The Detail Panel to edit or add a new Phone or Address -->
		  	
		  	<div wicket:id="phoneDetailMarkupContainer">
				<div wicket:id="phoneDetailPanel"></div>
		  	</div>
			
		</form>
		
	</div>
	<!--  Page right Zone -->
	<div id="rightZone">&nbsp;</div>
	
</wicket:panel>