<wicket:panel>
	&nbsp;
	<form wicket:id="phoneForm">
		
		<div id="detailsPanelBorder">


			<div id="panelContentLeft">&nbsp;</div>
			<!--  Row 1 -->
			<div id="fldLabel">
				<div class="label">
					<label for="phoneID">
						<wicket:message	key="phoneID">Phone ID:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="phone.id" type="text" /> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="areaCode"><wicket:message	key="areaCode">Area Code:</wicket:message></label>
				</div>
			</div>
			
			<div id="fldControl">
				<div class="label">
					<input wicket:id="phone.areaCode" type="text" />
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
		
			<div id="searchPanelBreaker">&nbsp;</div>

		
			<div id="panelContentLeft">&nbsp;</div>
			<!--  Row 1 -->
			<div id="fldLabel">
				<div class="label">
					<label for="phoneNumber">
						<wicket:message	key="phoneNumber">Number:</wicket:message>
					</label>
				</div>
			</div>
			<div id="fldControl">
				<div class="label">
					<input wicket:id="phone.phoneNumber" type="text" /> 
				</div>
			</div>
			
			<div id="panelMargin">&nbsp;</div>
			
			<div id="fldLabel">
				<div class="label">
					<label for="phoneType"><wicket:message	key="phoneType">Phone Type:</wicket:message></label>
				</div>
			</div>
			
			<div id="fldControl">
				<div class="label">
					<select wicket:id="phone.phoneType">
	       				<option>iPhone</option>
						<option>Mobile</option>
	       			</select>
				</div>
			</div>
			
			<div id="searchPanelContentRight">&nbsp;</div>
		
			<div id="searchPanelBreaker">&nbsp;</div>
			
			<div id="fldLabel">&nbsp;</div>
			<div id="fldControl">&nbsp;</div>
			<div id="panelMargin">&nbsp;</div>
			<div id="actionButtons">&nbsp;
				<div class="label">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
					<div id="panelMargin">&nbsp;</div>
					<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />&nbsp;
					<div id="panelMargin">&nbsp;</div>
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
				</div>
			</div>
		</div>
	</form>
</wicket:panel>	