<wicket:panel>
	<!--  Page Left Zone -->
	<div id="leftZone">&nbsp;</div>
	
	<!-- Content Zone -->
	<div id="contentZone">
		<form wicket:id="collectionForm">
			<div id="actionButtons">&nbsp;
				<div>
					<input wicket:id="newCollection" type="submit" wicket:message="value:page.newCollection" />&nbsp;<br></br>
					<input wicket:id="newField" type="submit" wicket:message="value:page.newField" />&nbsp;<br></br>
					<input wicket:id="importPhenotypicDataFile" type="submit" wicket:message="value:page.importPhenotypicDataFile" />&nbsp;
				</div>
			</div>
		</form>
	</div>
	
	<!--  Page right Zone -->
	<div id="rightZone">&nbsp;</div>
</wicket:panel>