<wicket:panel>
	<!--  Page Left Zone -->
	<div id="leftZone">&nbsp;</div>
	
	<!-- Content Zone -->
	<div id="contentZone">
		<form wicket:id="collectionForm">
			<div id="actionButtons">&nbsp;
				<div>
					<input wicket:id="newButton" type="submit" wicket:message="value:page.newCollection" />&nbsp;<br></br>
					<input wicket:id="saveButton" type="submit" wicket:message="value:page.saveCollection" />&nbsp;<br></br>
					<input wicket:id="editButton" type="submit" wicket:message="value:page.editCollection" />&nbsp;<br></br>
				</div>
			</div>
		</form>
	</div>
	
	<!--  Page right Zone -->
	<div id="rightZone">&nbsp;</div>
</wicket:panel>