<wicket:panel>&nbsp;
	<form wicket:id="detailForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div class="searchPanelBreaker">&nbsp;</div>
				
				<!-- Row 1 ID and Name-->
				
				<div class="panelContentLeft">&nbsp;</div>
				
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="upload.id">ID:</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="upload.id" type="text" />
					</div>
				</div>
				
				<div class="panelMargin">&nbsp;</div>

				<div class="fldLabel">
					<div class="label">
						<label for="filename"><wicket:message key="upload.filename">Filename:</wicket:message></label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
			        	<input wicket:id="upload.filename" id="upload" type="file"/>
					</div>
				</div>
				
				
			
				<div class="searchPanelBreaker">&nbsp;</div>
				
				<div class="panelContentLeft">&nbsp;</div>
				
				<div class="fldLabel">
					<div class="label">
						<label for="fileFormat"><wicket:message	key="upload.fileFormat">File format:</wicket:message></label> 
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="upload.fileFormat">
		       				<option>Test</option>
		       			</select>
			       	</div>
				</div>
				
				<div class="panelMargin">&nbsp;</div>
				
				<div class="fldLabel">
					<div class="label">
						<label for="delimiterType"><wicket:message	key="upload.delimiterType">Delimiter:</wicket:message></label> 
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="upload.delimiterType">
		       				<option>Test</option>
		       			</select>
			       	</div>
				</div>
				
				<div class="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div class="panelContentLeft">&nbsp;</div>
				
				<div class="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
		       	   		       			
		       	<div class="panelMargin">&nbsp;</div>
						
				<div class="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
				
				
			</div>
			<!-- Detail container end-->
			
			<!--  Buttons -->
			<div wicket:id="viewButtonContainer">
				<div class="fldLabel">&nbsp;</div>
				<div class="fldControl">&nbsp;</div>
				<div class="panelMargin">&nbsp;</div>
				<div class="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:button.edit" />&nbsp;
						<div class="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:page.newSearch" />
				  	</div>
				</div>
			</div>
			
			<div wicket:id="editButtonContainer">
				<div class="fldLabel">&nbsp;</div>
				<div class="fldControl">&nbsp;</div>
				<div class="panelMargin">&nbsp;</div>
				<div class="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />&nbsp;
						<div class="panelMargin">&nbsp;</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />&nbsp;
						<div class="panelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />
				  	</div>
				</div>
			</div>
		</div>
	
	</form>
</wicket:panel>