<wicket:panel>
	<div id="wizardStepBorder">
		<div id="panelContentLeft">
			&nbsp;
		</div>

		<div id="panelContentRight">
			&nbsp;
		</div>

		<div wicket:id="header" />

		<div id="panelBreaker">
			&nbsp;
		</div>

		<div id="panelContentLeft">
			&nbsp;
		</div>

		<div id="panelContentRight">
			&nbsp;
		</div>

		<div id="panelContentCentre">
			<div id="fldLabel">
				<wicket:message	key="updateExistingData">
					Update existing data:
				</wicket:message>
				<input type="checkbox" wicket:id="updateChkBox"/>
			</div>
			<div id="panelBreaker">
				&nbsp;
			</div>
			<span wicket:id="multiLineLabel" class="mark">
				this text will be replaced
			</span>
			<div id="panelBreaker">
				&nbsp;
			</div>
		</div>

		<div id="panelBreaker">
			&nbsp;
		</div>
	</div>
</wicket:panel>
