<wicket:panel>
	<div id="wizardStepBorder">
		<div id="wizardPanelContentLeft">&nbsp;</div>
		<div wicket:id="header" />
		<div id="wizardPanelBreaker">&nbsp;</div>
		
		<div id="wizardPanelContentLeft">&nbsp;</div>
		
		<div id="fldLabel">
			<div class="label">
				<label for="filename"><wicket:message key="upload.filename">Filename:</wicket:message></label>
			</div>
		</div>
		<div id="fldControl">
			<div class="label">
	        	<input wicket:id="upload.filename" id="upload" type="file"/>
			</div>
		</div>
		
		<div id="wizardPanelMargin">&nbsp;</div>
		
		<div id="fldLabel">
			<div class="label">
				<label for="delimiterType"><wicket:message	key="upload.delimiterType">Delimiter:</wicket:message></label> 
			</div>
		</div>
		<div id="fldControl">
			<div class="label">
				<select wicket:id="upload.delimiterType">
       				<option>1</option>
       				<option>2</option>
       				<option>3</option>
       			</select>
	       	</div>
		</div>
		
		<div id="wizardPanelContentRight">&nbsp;</div>
		
		<div id="wizardPanelBreaker">&nbsp;</div>
	</div>
</wicket:panel>