
.wager .dijitMenu,
.wager .dijitMenuBar {
	border: 1px solid #d3d3d3;
	margin: 0px;
	padding: 0px;
	background-color: #fff;
}
.wager .dijitBorderContainer .dijitMenuBar {
	border: 1px #ccc solid;
}
.wager .dijitMenuItem {
	font-family: sans-serif;
	margin: 0px;
	color: #243C5F;
}
.wager .dijitMenuBar .dijitMenuItem {
	padding: 4px 5px;
}
.wager .dijitMenuPreviousButton, .wager .dijitMenuNextButton {
	font-style: italic;
}
.wager .dijitMenuItem TD {
	padding:1px;
}
.wager .dijitMenuPassive .dijitMenuItemHover,
.wager .dijitMenuItemSelected {
	background-color: #ffe284; 
	color: #243C5F;
}
.wager .dijitMenuItemIcon {
	width: 15px;
	height: 15px;
}
.wager .dijitMenuExpand {
	width:15px;
	height:15px;
	background-image: url('images/spriteRoundedIconsSmall.png');
	background-position: -30px top;
}
.dj_ie6 .wager .dijitMenuExpand {
	background-image:url('images/spriteRoundedIconsSmall.gif');
}
.wager .dijitMenuSeparator {
	height: 1px;
}
.wager .dijitMenuSeparatorTop {
	border-bottom: 1px solid #fff; 
}
.wager .dijitMenuSeparatorBottom {
	border-top: 1px solid #d3d3d3;
}
.wager .dijitCheckedMenuItemIconChar {
	display: none;
}
.wager .dijitCheckedMenuItemIcon {
	background-image: url('images/spriteCheckbox.gif');
	background-position: -80px;
}
.wager .dijitCheckedMenuItemChecked .dijitCheckedMenuItemIcon {
	background-position: -64px;
}
