.wager .dijitToolbar {
	border-bottom: 1px solid #ccc;
	background:#eaeaea url("images/titleBar.png") repeat-x top left;
}
.dj_ie6 .wager .dijitToolbar {
	height: 10px;
}
.wager .dijitToolbar .dijitButtonNode,
.wager .dijitToolbar .dijitComboButton .dijitButtonContents,
.wager .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;
	margin: 0px;
	padding: 0px;
	border: none;
	font-size: 12px;
}
.wager .dijitToolbar .dijitButton,
.wager .dijitToolbar .dijitToggleButton,
.wager .dijitToolbar .dijitDropDownButton,
.wager .dijitToolbar .dijitComboButton .dijitButtonContents,
.wager .dijitToolbar .dijitComboButton .dijitDownArrowButton {
	background: none;	
	padding: 1px;	
}
.wager .dijitToolbar .dijitButtonChecked,
.wager .dijitToolbar .dijitToggleButtonChecked {
	background-color:#ffeeb9;
	border:1px solid #f7c95c;
	padding: 0;
}
.wager .dijitToolbar .dijitButtonCheckedHover,
.wager .dijitToolbar .dijitToggleButtonCheckedHover
 {
	background-color:#ffe284;
	border:1px solid #f7c95c;
	padding: 0;
}
.wager .dijitToolbar .dijitButtonHover,
.wager .dijitToolbar .dijitToggleButtonHover,
.wager .dijitToolbar .dijitDropDownButtonHover,
.wager .dijitToolbar .dijitComboButtonHover .dijitButtonContents,
.wager .dijitToolbar .dijitComboButtonDownArrowHover .dijitDownArrowButton {
	
	border: 1px solid #f7c95c;
	padding: 0;
	background-color:#ffe284;
}
.wager .dijitToolbar label {	
	padding: 3px 3px 0 6px;
}
.dj_ie .wager .dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ie .wager .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused,
.dj_ff2 .wager.dijitToolbar .dijitComboButton .dijitButtonContentsFocused,
.dj_ff2 .wager .dijitToolbar .dijitComboButton .dijitDownArrowButtonFocused {
	
	border: 1px #555 dotted !important;
	padding: 0px;
}
