<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="name">
						Name:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="name"	type="text" />
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="description">
						Description:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="description" type="text"	maxlength="255" />
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>
				
				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="startTime">
						Name:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="startTime"	type="text" />
				</div>
				
				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="endTime">
						endTime:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input wicket:id="endTime" type="text"	maxlength="255" />
				</div>
					
			</div>
			<!--	Row 2 Action Buttons -->
				<div wicket:id="editButtonContainer">
					<div class="actionButtons">
						<input wicket:id="save" type="submit" wicket:message="value:page.save" />
						<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
						<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
					</div>
				</div>
	
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			
		</div>
	</form>
</wicket:panel>
