<wicket:panel>
	&nbsp;
	<form wicket:id="detailForm">
		<div id="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<!-- Row 1 FieldData ID and Collection-->
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="fieldDataId">
							<wicket:message key="fieldData.id">FieldData Id:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="fieldData.id" type="text" />
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="fieldDataCollection"><wicket:message key="fieldData.collection">Collection:</wicket:message></label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="fieldData.collection.name" type="text" /> 
					</div>
				</div>
				
				
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDataSubjectUID"><wicket:message key="fieldData.subjectUID">SubjectUid:</wicket:message></label>
					</div>
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="fieldData.linkSubjectStudy.subjectUID" type="text" /> 
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDataDateCollected"><wicket:message key="fieldData.dateCollected">Date Collected:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="fieldData.dateCollected" type="text" />
					</div>
				</div>
				
				
				
				
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDataField"><wicket:message key="fieldData.field">Field:</wicket:message></label>
					</div>
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="fieldData.field.name" type="text" /> 
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDataValue"><wicket:message key="fieldData.value">Value:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="fieldData.value" type="text" />
					</div>
				</div>
				
				
				
				
			</div>
			<!-- Detail container end-->
			
			<!--  Buttons -->
			<div wicket:id="viewButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:button.edit" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:page.newSearch" />
				  	</div>
				</div>
			</div>
			
			<div wicket:id="editButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />&nbsp;
				  	</div>
				</div>
			</div>
		</div>
	
	</form>
</wicket:panel>