<wicket:panel>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview" border="0" style="font-size: 0.9em;">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="25%">
				<wicket:message	key="timestamp">
					Date/Time:
				</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="studyComponentStatus">
					Study Component Status:
				</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="consentStatus">
					Consent Status:
				</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="consentDate">
					Consent Date:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="requestedDate">
					Requested Date:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="receivedDate">
					Received Date:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="completedDate">
					Completed Date:
				</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="consentedBy">
					Consented By:
				</wicket:message>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="resultList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="25%">
				<span wicket:id="timestamp">
					Date/Time:
				</span>
			</td>
			<td width="15%">
				<span wicket:id="studyComponentStatus">
					Study Component Status:
				</span>
			</td>
			<td width="15%">
				<span wicket:id="consentStatus">
					Consent Status:
				</span>
			</td>
			<td width="15%">
				<span wicket:id="consentDate">
					Consent Date:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="requestedDate">
					Requested Date:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="receivedDate">
					Received Date:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="completedDate">
					Completed Date:
				</span>
			</td>
			<td width="15%">
				<span wicket:id="consentedBy">
					Consented By:
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">
				&nbsp;
			</td>
			<td width="96%" colspan="8">
				<span wicket:id="navigator" class="a">
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0">
	</table>
</wicket:panel>
