<wicket:panel>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview" border="0" style="font-size: 0.9em;">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="25%">
				<wicket:message	key="timestamp">
					Date/Time:
				</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="consentDate">
					Consent Date:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="consentStatus">
					Consent Status:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="consentType">
					Consent Type:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="consentDownloaded">
					Downloaded:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="consentToPassiveDataGathering">
					Passive Data Gathering:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="consentToActiveContact">
					Active Contact:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="consentToUseData">
					Use Data:
				</wicket:message>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="resultList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="25%">
				<span wicket:id="timestamp">
					Date/Time:
				</span>
			</td>
			<td width="15%">
				<span wicket:id="consentDate">
					Consent Date:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentStatus">
					Consent Status:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentType">
					Consent Type:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentDownloaded">
					Downloaded:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentToPassiveDataGathering">
					Passive Data Gathering:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentToActiveContact">
					Active Contact:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentToUseData">
					Use Data:
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">
				&nbsp;
			</td>
			<td width="96%" colspan="8">
				<span wicket:id="navigator" class="a">
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0">
	</table>
</wicket:panel>
