
.dijitRtl .wager .dijitEditorIcon {
	background-image: url('images/editor_rtl.gif'); 
}
.dijitRtl .wager .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled_rtl.gif'); 
}
.dijitRtl .wager .dijitToolbar .dijitToolbarSeparator {
	background-image: url('images/editor_rtl.gif');
}
