<wicket:panel>
	<div id="searchPanelBreaker">
		&nbsp;
	</div>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="10%">
				<label for="col1">
					&nbsp;
				</label>
			</th>
			<th width="10%">
				<label for="col2">
					&nbsp;
				</label>
			</th>
			<th width="10%">
				<label for="col3">
					&nbsp;
				</label>
			</th>
			<th width="10%">
				<label for="col4">
					&nbsp;
				</label>
			</th>
			<th width="10%">
				<label for="col5">
					&nbsp;
				</label>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="resultList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">
				&nbsp;
			</td>
			<td width="96%" colspan="5">
				<span wicket:id="navigator" class="a">
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>