<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">

				<div class="detailPanelBreaker">&nbsp;</div>
				<div class="panelContentLeft">&nbsp;</div>
				<div class="panelMargin">&nbsp;</div>

				<div class="fldLabel">
					<div class="label">
						<label for="disease.name"><wicket:message
								key="disease.name">Name:</wicket:message></label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="disease.name" />
					</div>
				</div>

				<div class="detailPanelBreaker">&nbsp;</div>

				<wicket:enclosure child="associatedGenePalette">
					<div class="customPanelBorder">
						<div class="floatLeft50">
							<div wicket:id="associatedGenePalette">[Associated Genes
								Palette]</div>
						</div>

						<div class="floatRight50"></div>
					</div>
				</wicket:enclosure>

				<wicket:enclosure child="diseaseCustomFieldsPalette">
					<div class="customPanelBorder">
						<div class="floatLeft50">
							<div wicket:id="diseaseCustomFieldsPalette">[Associated Genes
								Palette]</div>
						</div>

						<div class="floatRight50"></div>
					</div>
				</wicket:enclosure>
			</div>
			<!--	Row 2 Action Buttons -->
			<div wicket:id="editButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit"
						wicket:message="value:page.save" /> <input wicket:id="cancel"
						type="submit" wicket:message="value:page.cancel" /> <input
						wicket:id="delete" type="submit"
						wicket:message="value:page.delete" />
				</div>
			</div>
			<!--	End buttons -->

			<div class="detailPanelBreaker">&nbsp;</div>
			<!--	End detailsPanelBorder -->
		</div>
		<div class="detailPanelBreaker">&nbsp;</div>
	</form>
	<br>
	&nbsp;
	<br>
	&nbsp;
	<br>
	&nbsp;
</wicket:panel>
