<wicket:panel>
	<div class="searchPanelBreaker">
		&nbsp;
	</div>
<!-- TODO ASAP  do we need this div??? -->
	<div wicket:id="resultsWmc">
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="2%">
				<wicket:message	key="disease.id">
					ID:
				</wicket:message>
			</th>
			<th width="94%">
				<label for="disease.name.link">
					<wicket:message	key="disease.name">
						Name:
					</wicket:message>
				</label>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="diseaseList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="2%">
				<label wicket:id="disease.id"></label>
			</td>
			<td width="94%">
				<a href="#" wicket:id="disease.name.link">
					<span wicket:id="disease.name">
						Disease
					</span>
				</a>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	
		<tfoot>
			<tr>
				<td width="2%">
					&nbsp;
				</td>
				<td width="96%" colspan="2">
					<span wicket:id="navigator" class="a">
					</span>			
				</td>
				<td width="2%">
					&nbsp;
				</td>
			</tr>
		</tfoot>
	</table>
	<!-- <table width="0%" cellspacing="0">
		<wicket:container wicket:id="toolbars"></wicket:container>
	</table> -->
	</div>
</wicket:panel>