
.wager .dijitToggleButton .dijitCheckBox,
.wager .dijitToggleButton .dijitCheckBoxIcon {
	background-image: url('../images/spriteCheckbox.gif');
}
.wager .dijitCheckBox,
.wager .dijitCheckBoxIcon {		
	background-image: url('../images/spriteCheckbox.gif'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.wager .dijitCheckBox,
.wager .dijitToggleButton .dijitCheckBoxIcon {
	
	background-position: -16px;
}
.wager .dijitCheckBoxChecked,
.wager .dijitToggleButtonChecked .dijitCheckBoxIcon {
	
	background-position: 0px;
}
.wager .dijitCheckBoxDisabled {
	
	background-position: -48px;
}
.wager .dijitCheckBoxCheckedDisabled {
	
	background-position: -32px;
}
.wager .dijitCheckBoxHover {
	
	background-position: -80px;
}
.wager .dijitCheckBoxCheckedHover {
	
	background-position: -64px;
}
