
.dijitRtl .wager .dijitSliderProgressBarH,
.dijitRtl .wager .dijitSliderRemainingBarH,
.dijitRtl .wager .dijitSliderLeftBumper,
.dijitRtl .wager .dijitSliderRightBumper,
.dijitRtl .wager .dijitSliderTopBumper {
	background-position: top right;
}
.dijitRtl .wager .dijitSliderProgressBarV,
.dijitRtl .wager .dijitSliderRemainingBarV,
.dijitRtl .wager .dijitSliderBottomBumper {
	background-position: bottom right;
}
.dijitRtl .wager .dijitSliderLeftBumper {
	border-left-width: 0px;
	border-right-width: 1px;
}
.dijitRtl .wager .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0px;
}
.dijitRtl .wager .dijitSliderIncrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat left top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat left top;
}
.dijitRtl .wager .dijitSliderDecrementIconH {
	background:url('../images/spriteRoundedIconsSmall.png') no-repeat -30px top;
	#background:url('../images/spriteRoundedIconsSmall.gif') no-repeat -30px top;
}
