<wicket:panel>
	&nbsp;
	<form wicket:id="detailForm">
		<!--	Layouts and Content to be designed. this is a layout -->
		<div id="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>

				<div id="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="arkFunction.id">
								ID
							</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="arkFunction.id" type="text" />
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="name">
							<wicket:message key="arkFunction.name">
								Name
							</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="arkFunction.name" type="text" />
					</div>
				</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="description">
							<wicket:message key="arkFunction.description">
								Description
							</wicket:message>
						</label>
					</div>
				</div>
				
				<div id="fldControl">
					<div class="label">
						<textarea wicket:id="arkFunction.description" maxlength="255" cols="25"></textarea>
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="functionType">
							<wicket:message key="arkFunction.arkFunctionType">
								Function Type
							</wicket:message>
						</label>
					</div>
				</div>
				
				<div id="fldControl">
					<div class="label">
						<select wicket:id="arkFunction.arkFunctionType">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</div>
				</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<wicket:message key="arkFunction.resourceKey">
						ResourceKey
					</wicket:message>
				</div>
				
				<div id="fldControl">
					<input wicket:id="arkFunction.resourceKey" type="text" size="40"/>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<!-- Empty -->
				
				<div id="detailPanelBreaker">
					&nbsp;
				</div>
				
				<div id="detailPanelBreaker">&nbsp;</div>
			</div>
			<!-- End detailFormContainer -->
			
			<!--  Buttons -->
			<div wicket:id="viewButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:button.edit" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:page.newSearch" />
				  	</div>
				</div>
			</div>
			
			<div wicket:id="editButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />&nbsp;
				  	</div>
				</div>
			</div>
			<div id="detailPanelBreaker">&nbsp;</div>
		</div>
		<!-- End detailsPanelBorder -->
	</form>
	<br>&nbsp;
	<br>&nbsp;
</wicket:panel>