<wicket:panel>
	&nbsp;
	<!-- Page Left Zone -->
	<div class="leftZone">
		&nbsp;
	</div>
	<!-- Page right Zone -->
	<div class="rightZone">
		&nbsp;
	</div>
	<!-- Content Zone -->
	<div class="contentZone">
		<span wicket:id="detailFeedback">
		</span>
		<form wicket:id="detailForm">
			<div class="detailsPanelBorder">
				<div wicket:id="detailFormContainer">
					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<!-- Row 1 ID and Name-->

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.id">
								[Id]
							</wicket:message>
						</div>
					</div>
					<div class="fldControl">
						<div class="label">
							<input wicket:id="phenotypicCollection.id" type="text" />
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.questionnaire">
								[Questionnaire]
							</wicket:message>
							<div class="note">
								<wicket:message	key="phenotypicCollection.questionnaire.note">
									[Note replaced from properties]
								</wicket:message>
							</div>
						</div>
					</div>
					<div class="fldControl">
						<div class="label">
							<select wicket:id="phenotypicCollection.questionnaire">
								<option>
									1
								</option>
								<option>
									2
								</option>
							</select>
						</div>
					</div>

					<div class="detailPanelContentRight">
						&nbsp;
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.name">
								[Name]
							</wicket:message>
						</div>
					</div>
					<div class="fldControl">
						<div class="label">
							<input wicket:id="phenotypicCollection.name" type="text" maxLength="255" />
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.recordDate">
								[Record date]
							</wicket:message>
						</div>
					</div>

					<div class="fldControl">
						<div class="label">
							<input wicket:id="phenotypicCollection.recordDate" type="text" maxLength="10"/>
						</div>
					</div>

					<div class="detailPanelContentRight">
						&nbsp;
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.description">
								[Description]
							</wicket:message>
						</div>
					</div>
					<div class="fldControl">
						<div class="label">
							<textarea wicket:id="phenotypicCollection.description" type="text" cols="25">
							</textarea>
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.status">
								[Status:]
							</wicket:message>
						</div>
					</div>

					<div class="fldControl">
						<div class="label">
							<select wicket:id="phenotypicCollection.status">
								<option>
									1
								</option>
								<option>
									2
								</option>
							</select>
						</div>
					</div>

					<div class="detailPanelContentRight">
						&nbsp;
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="panelContentLeft">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message	key="phenotypicCollection.reviewedBy">
								[Reviewed By]
							</wicket:message>
						</div>
					</div>

					<div class="fldControl">
						<div class="label">
							<select wicket:id="phenotypicCollection.reviewedBy">
								<option>
									1
								</option>
								<option>
									2
								</option>
							</select>
						</div>
					</div>

					<div class="panelMargin">
						&nbsp;
					</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="phenotypicCollection.reviewedDate">
								[Reviewed date:]
							</wicket:message>
						</div>
					</div>

					<div class="fldControl">
						<div class="label">
							<input wicket:id="phenotypicCollection.reviewedDate" type="text" maxLength="10"/>
						</div>
					</div>

					<div class="detailPanelBreaker">
						&nbsp;
					</div>

					<div class="detailSectionBorder">
						<div class="customFieldDataPanel">
							<div wicket:id="dataEntryWMC">
								<!-- Phenotypic Collection data entry -->
								<div wicket:id="phenoCFDataEntryPanel">
								</div>
								<span wicket:id="dataEntryNavigator" class="a">
								</span>
							</div>
							<div class="centreLabel">
								<wicket:message key="warnSaveLabel">
									Please "Save"!
								</wicket:message>
							</div>
						</div>
					</div>

				</div>
				<!-- detailFormContainer end-->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<!-- Action Buttons -->
				<div class="detailPanel">
					<div wicket:id="buttonsPanelWMC">
						<div wicket:id="buttonsPanel">
						</div>
					</div>
				</div>
				<!--	End buttons -->

				<div class="detailPanelBreaker">
					&nbsp;
				</div>
			</div>
		</form>
		<script type="text/javascript" wicket:id="jQueryDirtyFormScript">
		  [script will be rendered here]
		</script>
		<br>
		&nbsp;
	</div>
</wicket:panel>
