<wicket:panel>
	&nbsp;
	<form wicket:id="PhenoCollectionListForm">
		<div class="listPanelBorder">
			<div wicket:id="dataViewListWMC">
				<table width="0%" cellspacing="0">
				</table>
				<table width="100%" cellspacing="0" class="dataview" border="0">
					<!-- Header row -->
					<thead>
						<tr>
							<th width="2%">
								&nbsp;
							</th>
							<th width="10%">
								<wicket:message	key="PhenoCollection.id">
									[ID:]
								</wicket:message>
							</th>
							<th width="15%">
								<wicket:message	key="PhenoCollection.questionnaire">
									[Questionnaire:]
								</wicket:message>
							</th>
							<!--  
							<th width="15%">
								<wicket:message	key="PhenoCollection.name">
									[Collection Name:]
								</wicket:message>
							</th>
							-->
							<th width="22%">
								<wicket:message	key="PhenoCollection.description">
									[Description:]
								</wicket:message>
							</th>
							<th width="16%">
								<wicket:message	key="PhenoCollection.status">
									[Status:]
								</wicket:message>
							</th>
							<th width="10%">
								<wicket:message	key="PhenoCollection.recordDate">
									[Record Date:]
								</wicket:message>
							</th>
							<th width="10%">
								<wicket:message	key="PhenoCollection.reviewedDate">
									[Reviewed Date:]
								</wicket:message>
							</th>
							<th width="2%">
								&nbsp;
							</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td width="2%">
								&nbsp;
							</td>
							<td width="96%" colspan="7">
								<span wicket:id="navigator" class="a">
								</span>
							</td>
							<td width="2%">
								&nbsp;
							</td>
						</tr>
					</tfoot>
					<tbody>
						<!-- Repeated item row -->
						<tr wicket:id="PhenoCollectionList">
							<td width="2%">
								&nbsp;
							</td>
							<td width="10%">
								<span wicket:id="PhenoCollection.id">
								</span>
							</td>
							<td width="15%">
								<a href="#" wicket:id="link">
									<span wicket:id="PhenoCollection.questionnaire">
									</span>
								</a>
							</td>
							<!--  
							<td width="15%">
								<span wicket:id="PhenoCollection.name">
								</span>
							</td>
							-->
							<td width="22%">
								<span wicket:id="PhenoCollection.description">
								</span>
							</td>
							<td width="14%">
								<span wicket:id="PhenoCollection.status">
								</span>
							</td>
							<td width="10%">
								<span wicket:id="PhenoCollection.recordDate">
								</span>
							</td>
							<td width="10%">
								<span wicket:id="PhenoCollection.reviewedDate">
								</span>
							</td>
							<td width="2%">
								&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
				<table width="0%" cellspacing="0">
				</table>
			</div>
			<!-- New button row -->
			<div class="buttons">
				<input wicket:id="new" type="submit" wicket:message="value:page.new" />
			</div>
			<!--	End listDetailsPanelBorder -->

			<!--	The detailModalWindow for detail edit/add from listPanel -->
			<div wicket:id="detailModalWindow">
			</div>
			
			<div class="detailPanel">
				<div class="buttons">
					<select wicket:id="customFieldGroupSelected">[Custom Field Group]</select>
					<input wicket:id="getData" type="submit" wicket:message="value:getData" />
				</div>
			
				<div wicket:id="phenoDataView" class="datatable">
					[phenoDataView]
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
