<wicket:panel>
	<!--  Page Left Zone -->
	<div id="leftZone">&nbsp;</div>
	
	<!-- Content Zone -->
	<div id="contentZone">
		<div class="detailsPanelBorder">
			<span wicket:id="feedbackMessage"></span>
		 	<!--  Collections panel --> 
		 	<div wicket:id="collectionListDetailPanel"></div>
		 	
			<!--  Biospecimens panel
			<div wicket:id="biospecimenListDetailPanel"></div>
			-->
			<!--  The detailModalWindow for detail edit/add from listDetail -->
			<div wicket:id="detailModalWindow"></div>
		</div>
	</div>
	
	<!--  Page right Zone -->
	<div id="rightZone">&nbsp;</div>
</wicket:panel>