	<wicket:panel>
		<div wicket:id="tableContainer">
		<table width="100%" cellspacing="0" class="dataview" border="0">
			<tr>
				<th width="2%"></th>
				<th width="10%">Revision Number:</th>
				<th width="10%">Revision Date/Time:</th>
				<th width="16%">Revised By:</th>
				<th width="23%">Field Name</th>
				<th width="23%">Value:</th>
				<th width="16%">Revision Type:</th>
				<th width="2%"></th>
			</tr>
			<tr wicket:id="table">
				<td width="2%"></td>
				<td width="10%"><span wicket:id="rev"></span></td>
				<td width="10%"><span wicket:id="revDate"></span></td>
				<td width="16%"><span wicket:id="revBy"></span></td>
				<td width="40%"><span wicket:id="fieldName"></span></td>
				<td width="23%"><span wicket:id="value"></span></td>
				<td width="16%"><span wicket:id="revType"></span></td>
				<td width="2%"></td>
			</tr>
			<tfoot>
				<tr>
					<td width="2%"></td>
					<td colspan="98%">
						<span wicket:id="pageNavigator" class="a"></span>
					</td>
				</tr>
			</tfoot>
		</table>
		</div>
	</wicket:panel>