<wicket:panel>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%"></th>
			<th width="19%">Revision Number:</th>
			<th width="19%">Revision Date/Time:</th>
			<th width="19%">Revised By:</th>
			<th width="20%">Value:</th>
			<th width="19%">Revision Type:</th>
			<th width="2%"></th>
		</tr>
		<tr wicket:id="table">
			<td width="2%"></td>
			<td width="19%"><span wicket:id="rev"></span></td>
			<td width="19%"><span wicket:id="revDate"></span></td>
			<td width="19%"><span wicket:id="revBy"></span></td>
			<td width="20%"><span wicket:id="value"></span></td>
			<td width="19%"><span wicket:id="revType"></span></td>
			<td width="2%"></td>
		</tr>
		<tfoot>
			<tr>
				<td width="2%"></td>
				<td colspan="98%">
					<!--  put navigator back here -->
				</td>
			</tr>
		</tfoot>
	</table>
</wicket:panel>