<wicket:panel>
<table width="0%" cellspacing="0"></table>
		<table width="100%" cellspacing="0" class="dataview" border="0">
			<tr>
				<th width="2%">
				</th>
				<th>
					Revision Number:
				</th>
				<th>
					Revision Date/Time:
				</th>
				<th>
					Revised By:
				</th>
				<th>
					Value:
				</th>
				<th>
					Revision Type:
				</th>
				<th width="2%">
				</th>
			</tr>
			<tr wicket:id="table">
				<td width="2%">
				</td>
				<td>
					<span wicket:id="rev"></span>
				</td>
				<td>
					<span wicket:id="revDate"></span>
				</td>
				<td>
					<span wicket:id="revBy"></span>
				</td>
				<td>
					<span wicket:id="value"></span>
				</td>
				<td>
					<span wicket:id="revType"></span>
				</td>
				<td>
				</td>
				<td width="2%">
				</td>
			</tr>
			<tfoot>
				<tr>
					<td width="2%">
					</td>
					<td colspan="100%">
						<!--  put navigator back here -->		
					</td>
				</tr>
			</tfoot>
		</table>
		<table width="0%" cellspacing="0"></table>
</wicket:panel>