<wicket:panel>&nbsp;
	<form wicket:id="wizardForm">
		<div id="detailsPanelBorder">		
			<div wicket:id="wizardFormContainer">
				<div wicket:id="phenoUploadWizardPanel"></div>
			</div>
		</div>
		
		<div id:"wizardButtons">
			<input wicket:id="previous" type="submit" value="previous" />
			<input wicket:id="next" type="submit" value="next" />
			<input wicket:id="cancel" type="submit" value="cancel" />
			<input wicket:id="finish" type="submit" value="finish" />
		</div>
	</form>
</wicket:panel>