<wicket:panel>
	<div wicket:id="navigationButtonContainer">
		<div id="fldLabel">&nbsp;</div>
		<div id="fldControl">&nbsp;</div>
		<div id="panelMargin">&nbsp;</div>
		<div id="actionButtons">&nbsp;
			<div class="label">
				<!-- NOTE: For button labels: button.* located in BasePage.properties file -->
				<input wicket:id="firstRecordButton" type="submit" wicket:message="value:button.firstRecord" />&nbsp;
				<div id="panelMargin">&nbsp;</div>
				<input wicket:id="previousRecordButton" type="submit" wicket:message="value:button.previousRecord" />&nbsp;
				<div id="panelMargin">&nbsp;</div>
				<input wicket:id="searchResultsButton" type="submit" wicket:message="value:page.searchResults" />&nbsp;
				<div id="panelMargin">&nbsp;</div>
				<input wicket:id="nextRecordButton" type="submit" wicket:message="value:button.nextRecord" />&nbsp;
				<div id="panelMargin">&nbsp;</div>
				<input wicket:id="lastRecordButton" type="submit" wicket:message="value:button.lastRecord" />&nbsp;
		  	</div>
		</div>
	</div>
</wicket:panel>