<wicket:panel>
    <div style="left: 30px;">
        <form wicket:id="confirmForm">
        	<table width="100%">
        		<tr>
        			<td>
	        			<div class="label">
							<span wicket:id="deleteMessage">Are you sure you want to delete?</span>
						</div>
					</td>
        		</tr>
        		<tr colspan="2">
        			<td>
        				<input type="button" wicket:id="ok" value="OK"/>
        			</td>
					<td>
						<input type="button" wicket:id="cancel" value="Cancel" />
					</td>
        		</tr>
        	</table>
        </form>
    </div>
</wicket:panel>