<wicket:panel>
	<!--  Page Left Zone -->
	<div id="leftZone">&nbsp;</div>
	
	<!-- Content Zone -->
	<div id="contentZone">
		<form wicket:id="testForm">
			<div id="actionButtons">&nbsp;
				<div>
					<input wicket:id="fireInTheHole" type="submit" wicket:message="value:page.fireTest" />&nbsp;<br></br>
					<input wicket:id="theGreatFlood" type="submit" wicket:message="value:page.waterTest" />&nbsp;<br></br>
					<input wicket:id="noahsRescue" type="submit" wicket:message="value:page.noahsRescue" />&nbsp;
				</div>
			</div>
		</form>
	</div>
	
	<!--  Page right Zone -->
	<div id="rightZone">&nbsp;</div>
</wicket:panel>