<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="5%">
				<label for="id">
					<wicket:message key="work.billableitem.id">
						ID
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="commenceDate">
					<wicket:message key="work.billableitem.commencedate">
						Commence Date:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="researcher">
					<wicket:message key="work.billableitem.researchername">
						Researcher:
					</wicket:message>
				</label>
			</th>
			<th width="25%">
				<label for="workRequest">
					<wicket:message key="work.billableitem.workrequest">
						Work Request:
					</wicket:message>
				</label>
			</th>
			<th width="25%">
				<label for="description">
					<wicket:message key="work.billableitem.description">
						Description:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="quantity">
					<wicket:message key="work.billableitem.quantity">
						Quantity:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="itemCost">
					<wicket:message key="work.billableitem.itemcost">
						item cost:
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="totalCost">
					<wicket:message key="work.billableitem.totalcost">
						total cost:
					</wicket:message>
				</label>
			</th>
			<th width="20%">
				<label for="invoiced">
					<wicket:message key="work.billableitem.invoice">
						Invoiced:
					</wicket:message>
				</label>
			</th>
			<th width="20%">
				<label for="invoiced">
					<wicket:message key="work.billableitem.type">
						System Generated:
					</wicket:message>
				</label>
			</th>
			<th width="20%">
				<label for="attachemntName">
					<wicket:message key="work.billableitem.attachmentfilename">
						Attachment:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="attachemntName">
					&nbsp;
				</label>
			</th>
			<th width="2%">&nbsp;</th>			
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="billableItemList">
			<td width="2%">&nbsp;</td>
			<td width="5%">
				<span wicket:id="billableItem.id">100</span>
			</td>
			<td width="15%">
				<span wicket:id="billableItem.commenceDate">Commence Date</span>
			</td>
			<td width="15%">
				<span wicket:id="researcherFullName">Researcher Full Name</span>
			</td>
			<td width="25%">
			  <span wicket:id="billableItem.workRequest">Work request name</span>
			</td>
			<td width="25%">
				<a href="#"wicket:id="billableItem.description">
			  	<span wicket:id="nameLbl">Name</span>
			  </a>
			</td>
			<td width="15%">
				<span wicket:id="billableItem.quantity">quantity</span>
			</td>
			<td width="15%">
				<span wicket:id="billableItem.itemCost">item cost</span>
			</td>
			<td width="15%">
				<span wicket:id="totalCost">total cost</span>
			</td>
			<td width="20%">
				<span wicket:id="billableItem.invoice">invoiced</span>
			</td>
			<td width="20%">
				<span wicket:id="billableItem.type">yes</span>
			</td>
			<td width="20%">
				<span wicket:id="billableItem.attachmentFileName">sample file</span>
			</td>
			<td width="10%" valign="middle">
			  	<input wicket:id="downloadFile" type="submit" wicket:message="value:button.downloadFile" />&nbsp;
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
		<tfoot>
			<tr>
				<td width="2%">&nbsp;</td>
				<td colspan="12"><span wicket:id="navigator" class="a"></span></td>
				<td width="2%">&nbsp;</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>