<wicket:panel>
	&nbsp;
	<div class="searchPanelContainer">
		<form wicket:id="searchForm">
			<div class="searchPanelContent">
				<div class="searchPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="work.billableitem.id">
								Billable Item Id:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<!--	this will change to ID -->
						<input wicket:id="billableItem.id"	type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="commenceDate">
							<wicket:message key="work.billableitem.commencedate">
								Date:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="billableItem.commenceDate" type="text" maxlength="10"/>
					</div>
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="workRequest">
							<wicket:message key="work.billableitem.workrequest">
								Work Request:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="billableItem.workRequest">
							<option>
								WR1
							</option>
							<option>
								WR2
							</option>
							<option>
								WR3
							</option>
						</select>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="researcher">
							<wicket:message key="work.billableitem.researcher">
								Researcher:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="researcher">
							<option>
								researcher1
							</option>
							<option>
								researcher2
							</option>
							<option>
								researcher3
							</option>
						</select>
					</div>
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="invoiced">
							<wicket:message key="work.billableitem.invoice">
								Invoiced:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<select wicket:id="billableItem.invoice">
							<option>
								YES
							</option>
							<option>
								NO
							</option>
						</select>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="description">
							<wicket:message key="work.billableitem.description">
								Work Summarry:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="billableItem.description"	type="text" />
					</div>
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<!--	Defines the location for buttons -->
				<div class="actionButtons">
					<input wicket:id="search" type="submit" wicket:message="value:page.search" />
					<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />
					<input wicket:id="new" type="submit" wicket:message="value:page.new" />
					<input wicket:id="invoice" type="submit" wicket:message="value:page.invoice" />
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</wicket:panel>