<wicket:panel>
	<div class="leftZone">&nbsp;</div>
	<!--  <img id="pedindicator" src="images/loader.gif"/> -->
	<div align="center" class="contentZone">
		<img id="pedigreeImage" wicket:id = "pedigreeImg"  border="0"/>
	</div>
	<div align="left" style="margin-left:15px;">
		<a href="#" wicket:id ="pngLink"><img  src="images/icons/picture_save.png" onmouseover="Download PNG"/></a>
		<a href="#" wicket:id ="pdfLink"><img  src="images/icons/pdf.png" onmouseover="Download PDF"/></a>
		<a href="#" wicket:id ="svgLink"><img  src="images/icons/svg.png" onmouseover="Download SVG"/></a>
	</div>
	<div class="rightZone">&nbsp;</div>
</wicket:panel>