<wicket:panel>
	&nbsp;
	<div class="searchPanelContainer">
		<form wicket:id="searchForm">
			<div class="searchPanelContent">
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<div wicket:id="detailModalWindow"></div>
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<!--	Defines the location for buttons -->
				<div class="pedigreeButtons">
					<input wicket:id="father" type="submit" wicket:message="value:page.setfather" />
					<input wicket:id="mother" type="submit" wicket:message="value:page.setmother" />
					<input wicket:id="twin" type="submit" wicket:message="value:page.settwins" />
					<input wicket:id="view" type="submit" wicket:message="value:page.visualise" />
					<input wicket:id="configure" type="submit" wicket:message="value:page.config" />
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</wicket:panel>