<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
	<div wicket:id="resultsWMC">
	
		<!-- AUDIT ENTITY TABLE -->	
	
		<table width="0%" cellspacing="0"></table>
		<table width="100%" cellspacing="0" class="dataview" border="0">
			<tr>
				<th width="2%">
				</th>
				<th>
					Revision Number:
				</th>
				<th>
					Revision Date/Time:
				</th>
				<th>
					Revised By:
				</th>
				<th>
					Entity:
				</th>
				<th>
					Primary Key:
				</th>
				<th>
					Revision Type:
				</th>
				<th width="2%">
				</th>
			</tr>
			<tr wicket:id="auditList">
				<td width="2%">
				</td>
				<td>
					<span wicket:id="revNumber"></span>
				</td>
				<td>
					<span wicket:id="revDate"></span>
				</td>
				<td>
					<span wicket:id="revBy"></span>
				</td>
				<td>
					<span wicket:id="enType"></span>
				</td>
				<td>
					<span wicket:id="priKey"></span>
				</td>
				<td>
					<span wicket:id="revType"></span>
				</td>
				<td width="2%">
				</td>
			</tr>
			<tfoot>
				<tr>
					<td width="2%">
					</td>
					<td colspan="100%">
						<span wicket:id="navigator" class="a">
						</span>			
					</td>
				</tr>
			</tfoot>
		</table>
		<table width="0%" cellspacing="0"></table>
	</div>
			
	<div wicket:id="fldResultsWMC">
	
		<!-- AUDIT FIELD TABLE -->
		
		<table width="0%" cellspacing="0"></table>
		<table width="100%" cellspacing="0" class="dataview" border="0">
			<tr>
				<th width="2%">
				</th>
				<th>
					Revision:
				</th>
				<th>
					Revision Date/Time:
				</th>
				<th>
					User:
				</th>
				<th>
					Entity:
				</th>
				<th>
					ID:
				</th>
				<th>
					Field:
				</th>
				<th>
					Value:
				</th>
				<th>
					Previous Value:
				</th>
				<th>
					Revision Type:
				</th>
				<th width="2%">
				</th>
			</tr>
			<tr wicket:id="fldAuditList">
				<td width="2%">
				</td>
				<td>
					<span wicket:id="fldRevNumber"></span>
				</td>
				<td>
					<span wicket:id="fldRevDate"></span>
				</td>
				<td>
					<span wicket:id="fldRevBy"></span>
				</td>
				<td>
					<span wicket:id="fldEnType"></span>
				</td>
				<td>
					<span wicket:id="fldPrimaryKey"></span>
				</td>
				<td>
					<span wicket:id="fldType"></span>
				</td>
				<td>
					<span wicket:id="fldPriKey"></span>
				</td>
				<td>
					<span wicket:id="prevPriKey"></span>
				</td>
				<td>
					<span wicket:id="fldRevType"></span>
				</td>
				<td width="2%">
				</td>
			</tr>
			<tfoot>
				<tr>
					<td width="2%">
					</td>
					<td colspan="100%">
						<span wicket:id="fldNavigator" class="a">
						</span>			
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</wicket:panel>