<wicket:panel>&nbsp;
     	<div class="searchPanelContainer">
			<form wicket:id="searchForm">
		  		<div class="searchPanelContent">
					<div class="searchPanelBreaker">&nbsp;</div>				
					<div class="panelContentLeft">&nbsp;</div>
					<div class="fldLabel">
		 				Module:
		 			</div>
						
					<div class="fldControl">
						<select wicket:id="auditPackage">
						</select>
					</div>
						
		       		<div  id="panelMargin">&nbsp;</div>
		       		
		       		<div class="fldLabel">
		 				Entities:
		 			</div>
						
					<div class="fldControl">
						<select wicket:id="auditEntity">
						</select>
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>				
					<div class="panelContentLeft">&nbsp;</div>
					<div class="fldLabel">
		 				Fields:
		 			</div>
						
					<div class="fldControl">
						<select wicket:id="auditField">
						</select>
					</div>
						
		       		<div  id="panelMargin">&nbsp;</div>
		       		
		       		<div class="fldLabel">
		 				Revision Number:
		 			</div>
						
					<div class="fldControl">
						<input wicket:id="revisionNumber"/>
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>				
					<div class="panelContentLeft">&nbsp;</div>
					<div class="fldLabel">
		 				Revision Type:
		 			</div>
						
					<div class="fldControl">
						<select wicket:id="revisionType">
						</select>
					</div>
						
		       		<div  id="panelMargin">&nbsp;</div>
		       		
		       		<div class="fldLabel">
		       			Revised By:
		 			</div>
						
					<div class="fldControl">
						<input wicket:id="revisedBy"/>
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>
					<div class="panelContentLeft">&nbsp;</div>
					<div class="fldLabel">
		 				Revision Date:
		 			</div>
						
					<div class="fldControl">
						<input wicket:id="revisedDate"/>
					</div>
						
		       		<div  id="panelMargin">&nbsp;</div>
		       		
		       		<div class="fldLabel">
		       			Entity ID:
		 			</div>
						
					<div class="fldControl">
						<input wicket:id="entityID"/>
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>				
					<!--  Defines the location for buttons -->
					<div class="actionButtons">
						<input wicket:id="search" type="submit" wicket:message="value:page.search" />
						<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />
						<input wicket:id="new" type="submit" wicket:message="value:page.new" />
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>
				</div>
			</form>
       </div><!-- Container-->
</wicket:panel>