#login {
	background-color:#EEEEEE;
	margin:1em 0;
	padding:15px;
	position:relative;
	border: 1px solid #000000;
	width: 600px;
}

#resetPassword {
	background-color:#EEEEEE;
	margin:1em 0;
	padding:15px;
	position:relative;
	border: 1px solid #000000;
	width: 600px;
}