<wicket:panel>
	&nbsp;
	<div class="searchPanelContainer">
		<form wicket:id="searchForm">

			<div class="searchPanelContent">

				<div class="searchPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="phenoDataSetCategory.id">
						 ID:
					</wicket:message>
				</div>

				<div class="fldControl">
					<!--	this will change to ID -->
					<input wicket:id="phenoDataSetCategory.id"	type="text" />
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="phenoDataSetCategory.name">
						Name:
					</wicket:message>
				</div>
				<div class="fldControl">
					<input wicket:id="phenoDataSetCategory.name"	type="text" />
				</div>
				<div class="searchPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="phenoDataSetCategory.description">
						Description:
					</wicket:message>
				</div>

				<div class="fldControl">
					<textarea wicket:id="phenoDataSetCategory.description" cols="25">
					</textarea>
				</div>
				<div class="panelMargin">
					&nbsp;
				</div>
				<!--  <div class="fldLabel">
					<wicket:message key="phenoDataSetCategory.parentCategory">
						Parent Category:
					</wicket:message>
				</div>
				Add panel to refresh
				<div  wicket:id="categoryPanel">
					<div class="fldControl">
							<select wicket:id="phenoDataSetCategory.parentCategory">
							<option>
								Cat 1
							</option>
							<option>
								Cat 2
							</option>
						</select>
					</div>
				</div>
				end of panel 
				<div class="searchPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="phenoDataSetCategory.orderNumber">
						Order No:
					</wicket:message>
				</div>
			
				<div class="fldControl">
				<input wicket:id="phenoDataSetCategory.orderNumber"	type="text" />
				</div>
 -->				
				<div class="panelMargin">
					&nbsp;
				</div>

				<!--	Defines the location for buttons -->
				<div class="actionButtons">
					<input wicket:id="search" type="submit" wicket:message="value:button.search" />
					<input wicket:id="reset" type="submit" wicket:message="value:button.reset" />
					<input wicket:id="new" type="submit" wicket:message="value:button.new" />
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
</wicket:panel>
