<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
			<div wicket:id="detailFormContainer">

				<div class="detailPanelBreaker">&nbsp;</div>
				<div class="panelContentLeft">&nbsp;</div>
				<div class="panelMargin">&nbsp;</div>

				<div class="fldLabel">
					<div class="label">
						<label for="gene.name"><wicket:message key="gene.name">Name:</wicket:message></label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="gene.name" />
					</div>
				</div>

				<div class="detailPanelBreaker">&nbsp;</div>

				<wicket:enclosure child="associatedDiseasePalette">
					<div class="customPanelBorder">
						<div class="floatLeft50">
							<div wicket:id="associatedDiseasePalette">[Associated
								Disease Palette]</div>
						</div>

						<div class="floatRight50"></div>
					</div>
				</wicket:enclosure>

				<table width="100%" cellspacing="0" class="dataview" border="0"
					style="font-size: 0.9em;">
					<tr>
						<th width="2%">&nbsp;</th>
						<th width="4%">ID</th>
						<th width="82%">Name</th>
						<th width="10%">&nbsp;</th>
						<th width="2%">&nbsp;</th>
					</tr>
					<!--	The Data Result Set -->
					<tr wicket:id="listEditor">
						<td width="2%">&nbsp;</td>
						<td width="4%"><span wicket:id="id"></span></td>
						<td width="82%"><input wicket:id="name" type="text">
							</input></td>
						<td width="10%"><input type="button" wicket:id="delete" value="Delete"/></td>
						<td width="2%">&nbsp;</td>
					</tr>
					<tfoot>
						<tr>
							<td width="2%">&nbsp;</td>
							<td width="96%" colspan="3"><input wicket:id="new"
								type="submit" wicket:message="value:button.new" /></td>
							<td width="2%">&nbsp;</td>
						</tr>
					</tfoot>
				</table>

			</div>


			<!--	Row 2 Action Buttons -->
			<div wicket:id="editButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit"
						wicket:message="value:page.save" /> <input wicket:id="cancel"
						type="submit" wicket:message="value:page.cancel" /> <input
						wicket:id="delete" type="submit"
						wicket:message="value:page.delete" />
				</div>
			</div>
			<!--	End buttons -->

			<div class="detailPanelBreaker">&nbsp;</div>
			<!--	End detailsPanelBorder -->
		</div>
		<div class="detailPanelBreaker">&nbsp;</div>
	</form>
	<br>
	&nbsp;
	<br>
	&nbsp;
	<br>
	&nbsp;
</wicket:panel>
