<wicket:panel>
	<!--  Page Left Zone -->
	<div id="leftZone">&nbsp;</div>
	
	<!-- Content Zone -->
	<div id="contentZone">
		<form wicket:id="containerForm">
		  <span wicket:id="feedbackMessage"> </span>

		  <div wicket:id="searchContainer">
			<div wicket:id="searchSitePanel"></div>  
		  </div>
		  
		  <div wicket:id="resultListContainer">
			<div wicket:id="searchResults"></div>
		  </div>
		  
		  <div wicket:id="detailsContainer">
			<div wicket:id="detailsPanel"></div>
		  </div>

		  
		
		</form>
	</div>
	
	<!--  Page right Zone -->
	<div id="rightZone">&nbsp;</div>
</wicket:panel>