<wicket:panel>&nbsp;
     	<div class="searchPanelContainer">
			<form wicket:id="searchForm">
		  		<div class="searchPanelContent">
					<div class="searchPanelBreaker">&nbsp;</div>				
					<div class="panelContentLeft">&nbsp;</div>
					<div class="fldLabel">
		 				<wicket:message key="arkRole.id">ID</wicket:message>
		 			</div>
						
					<div class="fldControl">
						<input wicket:id="arkRole.id" type="text" />
					</div>
						
		       		<div  id="panelMargin">&nbsp;</div>
		       		
		       		<div class="fldLabel">
		 				<wicket:message key="arkRole.name">name</wicket:message> 
		 			</div>
						
					<div class="fldControl">
						<input wicket:id="arkRole.name" type="text" />
					</div>
					
					
					<div class="searchPanelBreaker">&nbsp;</div>		
		       		
					<!--  Defines the location for buttons -->
					<div class="actionButtons">
						<input wicket:id="search" type="submit" wicket:message="value:page.search" />
						<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />
						<input wicket:id="new" type="submit" wicket:message="value:page.new" />
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>
				</div>
			</form>
       </div><!-- Container-->
</wicket:panel>