<wicket:panel>&nbsp;
	<div class="searchPanelContainer">
		<form wicket:id="searchForm">
			<div class="searchPanelContent">
				<div class="searchPanelBreaker">&nbsp;</div>
				
				<div class="panelContentLeft">&nbsp;</div>
				
				<div class="searchPanelTextMessage">
					<div class="label">
						<span wicket:id="generalLbl"></span>
					</div>
				</div>
				
				<div class="panelContentRight">&nbsp;</div>
			
				<!-- 				
				<div class="searchPanelBreaker">&nbsp;</div>				
				
				<div class="panelContentLeft">&nbsp;</div>
				
				<div class="fldLabel">
		 			<div class="label">
		 				<label for="streetAddress"><wicket:message key="street.address">Street Address:</wicket:message></label>		
		 			</div> 
		 		</div>
		 		 -->
		 		<!--  this will change to ID -->
		 		<!-- 
				<div class="fldControl">
					<div class="label"> 
						<input wicket:id="address.streetAddress"  type="text" />
					</div>
				</div>
			
				<div  id="panelMargin">&nbsp;</div>
				
				<div class="fldLabel">
		 			<div class="label">
						<label for="city"><wicket:message key="city">City:</wicket:message></label>		
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<div class="label">
						<input wicket:id="address.city"  type="text" />
					</div>
				</div>
					
				
				
				<div class="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div class="panelContentLeft">&nbsp;</div>
				
				<div class="fldLabel">
		 			<div class="label">
						<label for="postCode"><wicket:message key="postcode">Post Code:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<input wicket:id="address.postCode"  type="text" />
				</div>
		       	   		       			
		       	<div class="panelMargin">&nbsp;</div>
						
				<div class="fldLabel">
		 			<div class="label">
						<label for="country"><wicket:message key="country">Country:</wicket:message></label>		
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<div class="label">
						<select wicket:id="address.country" width="150" style="width: 150px">
		       				<option>Australia</option>
							<option>United Kingdom</option>
		       			</select>
					</div>
				</div>
				
				
				<div class="searchPanelBreaker">&nbsp;</div>
				
				<div class="panelContentLeft">&nbsp;</div>
				<div class="fldLabel">
		 			<div class="label">
						<label for="state"><wicket:message key="state">State:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
				  <div class="label">
				  	<div  wicket:id="countryStateSelector"> 
						<select wicket:id="address.countryState">
		       				<option>WA</option>
							<option>QLD</option>
		       			</select>
				    </div>
		       	  </div>
				</div>
		       	   		       			
		       	<div class="panelMargin">&nbsp;</div>
						
				<div class="fldLabel">
		 			<div class="label">
						<label for="state"><wicket:message key="addressType">Address Type:</wicket:message></label>		
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<div class="label">
						<select wicket:id="address.addressType">
		       				<option>Work</option>
							<option>Home</option>
		       			</select>
					</div>
				</div>
				-->
				<!-- This section of code was commented before ark-273. Incase someone reverts ark-273 behaviour make sure this section is commented or the components added in if the use case required it.
				
				<div class="searchPanelBreaker">&nbsp;</div>
				<div class="panelContentLeft">&nbsp;</div>
				
				<div class="fldLabel">
		 			<div class="label">
						<label for="addressStatus"><wicket:message key="addressStatus">Address Status:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
				  	<span wicket:id="addressStatusRadioId">
				  		<input type="radio">Active</input>
				  		<input type="radio">Inactive</input>
					</span>
				</div>
		       	   		       			
		       	<div class="panelMargin">&nbsp;</div>
						
				<div class="fldLabel">
		 			<div class="label">
						&nbsp;		
		 			</div> 
		 		</div> 			       			
				
				<div class="fldControl">
					<div class="label">
					  &nbsp;
					</div>
				</div>
				 -->
				 		
				<div class="searchPanelBreaker">&nbsp;</div>
						
				<!--  Defines the location for buttons -->
				<div class="actionButtons">
					<input wicket:id="search" type="submit" wicket:message="value:page.search" />
					<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />
					<input wicket:id="new" type="submit" wicket:message="value:page.new" />
				</div>
				
				<div class="searchPanelBreaker">&nbsp;</div>
			</div>
		</form>
	</div>
</wicket:panel>