<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview">
		<tr>
			<th width="5%">&nbsp;</th>
			<th width="5%>
				<label for="streetAddress">
					<wicket:message	key="street.address">Street Address:</wicket:message>
				</label>
			</th>
			
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="city">
					<wicket:message	key="city">City:</wicket:message>
				</label>
			</th>

			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="state">
					<wicket:message	key="state">State:</wicket:message>
				</label>
			</th>
			
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="postCode">
					<wicket:message	key="postcode">Post Code:</wicket:message>
				</label>
			</th>

			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="country">
					 <wicket:message key="country">Country:</wicket:message>
				</label>
			</th>
			
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="something">
					 <wicket:message	key="addressType">Address Type:</wicket:message>
				</label>
			</th>
			
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="addressList">
			
			<td width="5%"></td>
			<td width="10%">
			  <a href="#" wicket:id="address">
				  <span wicket:id="addressLabel">Some Address Link</span>
			  </a>
			</td>

			<td width="5%">&nbsp;</td>
			<td width="5%">
			  	<span wicket:id="city">Perth</span>
			</td>

			<td width="5%">&nbsp;</td>
			<td width="10%">
  				<span wicket:id="countryState.state">WA</span>			   
			</td>

			<td width="5%">&nbsp;</td>
			<td width="10%">
				<span wicket:id="postCode">6000</span>		
			</td>

			<td width="5%">&nbsp;</td>
			<td width="10%">
				<span wicket:id="country.name">Australia</span>		
			</td>

			<td width="5%">&nbsp;</td>
			<td width="10%">
				<span wicket:id="addressType.name">Home</span>		
			</td>
			
		</tr>
		<tr>
			<td width="5%">&nbsp;</td>
			<td width="15%"><span wicket:id="addressNavigator" class="a"></span></td>
			<td width="15%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="15%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="15%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>

