<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" xml:lang="en" lang="en">
	<head></head>
	<wicket:panel>
		<table wicket:id="table" cellpadding="0" cellspacing="0" class="wizardDataGridTable" style="margin-top:1em;" border="1">
			<thead>
				<tr>
					<td><b>Field</b></td>
					<td colspan="100%"><b>Values</b></td>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="data">
					<td wicket:id="cols" style="min-width:60px"><span wicket:id="value"></span></td>
				</tr>
			</tbody>
		</table>
		<span wicket:id="navigator" class="a"></span>
	</wicket:panel>
</html>
