<wicket:panel>
	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="panelContentLeft">
		&nbsp;
	</div>

	<div id="fldLabel">
		<span wicket:id="notAllocated">
			[Not allocated]
		</span>
	</div>

	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="fldLabel">
		&nbsp;
	</div>

	<div id="fldControl">
		&nbsp;
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="actionButtons">
		<div class="label">
			<input wicket:id="allocate" type="submit" wicket:message="value:button.allocate" />
		</div>
	</div>

	<!-- The detailModalWindow for allocation-->
	<div wicket:id="detailModalWindow">
	</div>
</wicket:panel>
