<wicket:panel>
	<div class="detailPanelBreaker">
		&nbsp;
	</div>

	<div class="panelContentLeft">
		&nbsp;
	</div>

	<div class="fldLabel">
		<wicket:message key="biospecimen.site">
			Site:
		</wicket:message>
	</div>

	<div class="fldControl">
		<span wicket:id="biospecimenLocationVO.site">
		</span>
	</div>

	<div class="panelMargin">
		&nbsp;
	</div>

	<div class="fldLabel">
		<wicket:message key="biospecimen.freezer">
			Freezer:
		</wicket:message>
	</div>

	<div class="fldControl">
		<span wicket:id="biospecimenLocationVO.freezer">
		</span>
	</div>

	<div class="detailPanelBreaker">
		&nbsp;
	</div>

	<div class="panelContentLeft">
		&nbsp;
	</div>

	<div class="fldLabel">
		<wicket:message key="biospecimen.rack">
			Rack:
		</wicket:message>
	</div>

	<div class="fldControl">
		<span wicket:id="biospecimenLocationVO.rack">
		</span>
	</div>

	<div class="panelMargin">
		&nbsp;
	</div>

	<div class="fldLabel">
		<wicket:message key="biospecimen.box">
			Box:
		</wicket:message>
	</div>

	<div class="fldControl">
		<span wicket:id="biospecimenLocationVO.box">
		</span>
	</div>

	<div class="detailPanelBreaker">
		&nbsp;
	</div>

	<div class="panelContentLeft">
		&nbsp;
	</div>

	<div class="fldLabel">
		<wicket:message key="biospecimen.row">
			Row:
		</wicket:message>
	</div>

	<div class="fldControl">
		<span wicket:id="biospecimenLocationVO.row">
		</span>
	</div>

	<div class="panelMargin">
		&nbsp;
	</div>

	<div class="fldLabel">
		<wicket:message key="biospecimen.column">
			Column:
		</wicket:message>
	</div>

	<div class="fldControl">
		<span wicket:id="biospecimenLocationVO.column">
		</span>
	</div>
	
	<div class="detailPanelBreaker">
		&nbsp;
	</div>

	<div class="fldLabel">
		&nbsp;
	</div>

	<div class="fldControl">
		&nbsp;
	</div>

	<div class="panelMargin">
		&nbsp;
	</div>

	<div class="actionButtons">
		<div class="label">
			<input wicket:id="unallocate" type="submit" wicket:message="value:button.unallocate" />
		</div>
	</div>
</wicket:panel>
