<wicket:panel>
	<div class="detailPanelBreaker">
		&nbsp;
	</div>

	<div class="panelContentLeft">
		&nbsp;
	</div>

	<div class="fldLabel">
		<span wicket:id="notAllocated">
			[Not allocated]
		</span>
	</div>

	<div class="detailPanelBreaker">
		&nbsp;
	</div>

	<div class="fldLabel">
		&nbsp;
	</div>

	<div class="fldControl">
		&nbsp;
	</div>

	<div class="panelMargin">
		&nbsp;
	</div>

	<div class="actionButtons">
		<div class="label">
			<input wicket:id="allocate" type="submit" wicket:message="value:button.allocate" />
		</div>
	</div>

	<!-- The detailModalWindow for allocation-->
	<div wicket:id="detailModalWindow">
	</div>
</wicket:panel>
