<wicket:panel>
	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="panelContentLeft">
		&nbsp;
	</div>

	<div id="fldLabel">
		<wicket:message key="biospecimen.site">
			Biospecimen Site:
		</wicket:message>
	</div>

	<div id="fldControl">
		<span wicket:id="biospecimenLocationVO.siteName">
		</span>
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="fldLabel">
		<wicket:message key="biospecimen.tankName">
			Tank Name:
		</wicket:message>
	</div>

	<div id="fldControl">
		<span wicket:id="biospecimenLocationVO.tankName">
		</span>
	</div>

	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="panelContentLeft">
		&nbsp;
	</div>

	<div id="fldLabel">
		<wicket:message key="biospecimen.trayName">
			Tray Name:
		</wicket:message>
	</div>

	<div id="fldControl">
		<span wicket:id="biospecimenLocationVO.trayName">
		</span>
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="fldLabel">
		<wicket:message key="biospecimen.boxName">
			Box Name:
		</wicket:message>
	</div>

	<div id="fldControl">
		<span wicket:id="biospecimenLocationVO.boxName">
		</span>
	</div>

	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="panelContentLeft">
		&nbsp;
	</div>

	<div id="fldLabel">
		<wicket:message key="biospecimen.row">
			Row:
		</wicket:message>
	</div>

	<div id="fldControl">
		<span wicket:id="biospecimenLocationVO.row">
		</span>
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="fldLabel">
		<wicket:message key="biospecimen.column">
			Column:
		</wicket:message>
	</div>

	<div id="fldControl">
		<span wicket:id="biospecimenLocationVO.column">
		</span>
	</div>
</wicket:panel>
