<wicket:panel>
	<div id="fldLabel">
		<div class="label">
			<label for="site">
				<wicket:message key="biospecimen.site">
					Biospecimen Site:
				</wicket:message>
			</label>
		</div>
	</div>

	<div id="fldControl">
		<div class="label">
			<span wicket:id="biospecimenLocationVO.siteName">
			</span>
		</div>
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="fldLabel">
		<div class="label">
			<label for="tank">
				<wicket:message key="biospecimen.tankName">
					Tank Name:
				</wicket:message>
			</label>
		</div>
	</div>

	<div id="fldControl">
		<div class="label">
			<span wicket:id="biospecimenLocationVO.tankName">
			</span>
		</div>
	</div>

	<div id="detailPanelContentRight">
		&nbsp;
	</div>

	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="panelContentLeft">
		&nbsp;
	</div>

	<div id="fldLabel">
		<div class="label">
			<label for="site">
				<wicket:message key="biospecimen.trayName">
					Tray Name:
				</wicket:message>
			</label>
		</div>
	</div>

	<div id="fldControl">
		<div class="label">
			<span wicket:id="biospecimenLocationVO.trayName">
			</span>
		</div>
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="fldLabel">
		<div class="label">
			<label for="tank">
				<wicket:message key="biospecimen.boxName">
					Box Name:
				</wicket:message>
			</label>
		</div>
	</div>

	<div id="fldControl">
		<div class="label">
			<span wicket:id="biospecimenLocationVO.boxName">
			</span>
		</div>
	</div>

	<div id="detailPanelContentRight">
		&nbsp;
	</div>

	<div id="detailPanelBreaker">
		&nbsp;
	</div>

	<div id="panelContentLeft">
		&nbsp;
	</div>

	<div id="fldLabel">
		<div class="label">
			<label for="site">
				<wicket:message key="biospecimen.row">
					Row:
				</wicket:message>
			</label>
		</div>
	</div>

	<div id="fldControl">
		<div class="label">
			<span wicket:id="biospecimenLocationVO.row">
			</span>
		</div>
	</div>

	<div id="panelMargin">
		&nbsp;
	</div>

	<div id="fldLabel">
		<div class="label">
			<label for="tank">
				<wicket:message key="biospecimen.column">
					Column:
				</wicket:message>
			</label>
		</div>
	</div>

	<div id="fldControl">
		<div class="label">
			<span wicket:id="biospecimenLocationVO.column">
			</span>
		</div>
	</div>
</wicket:panel>
