<wicket:panel>
	&nbsp;
	<!-- Page Left Zone -->
	<div id="leftZone">
		&nbsp;
	</div>
	<!-- Page right Zone -->
	<div id="rightZone">
		&nbsp;
	</div>
	<!-- Content Zone -->
	<div id="contentZone">
		<span wicket:id="detailFeedback">
		</span>
		<form wicket:id="detailForm">
			<div id="detailsPanelBorder">
			    <div id="contentZoneLeft">
					<!--	The TreeView of the Inventory-->
					<div wicket:id="tree">
						[tree]
					</div>
				</div>
				<div id="contentZoneLeft"> &nbsp; </div>
				<div id="contentZoneLeft">
					<div wicket:id="gridBoxPanel">
						[GridBoxPanel]
					</div>
				</div>
			</div>
		</form>
		<br>
		&nbsp;
	</div>
</wicket:panel>
