<wicket:panel>
	<form wicket:id="appRoleForm" >
		<div id="accordionLeft" ></div>
		<div id="accordionContent" >
			<div wicket:id="accordion" >
				<div wicket:id="accordionSection" >
					<!--	This will be a List View -->
					<h3>
						<a href="#div1">
							<span wicket:id="accordionSectionNameLbl"/>
						</a>
					</h3>
					<div id="div1">
						<div wicket:id="ajaxContainer">
							<div id="paletteBorder">
								<div class="label" >
									<wicket:message	key="user.roles">
										User Roles:
									</wicket:message>
								</div>
								
								<div id="paletteAvailable" >
									<div id="paletteAvailableLabel" >
										<wicket:message key="palette.label.available">
											[Available]
										</wicket:message>
									</div>
									<select wicket:id="availableRolesLMC" multiple="multiple" style="width:100%">
										<option>
											[Available values will be inserted here]
										</option>
									</select>
								</div>
								
								<div id="paletteSelected" >
									<div id="paletteSelectedLabel" >
										<wicket:message key="palette.label.selected">
											[Selected]
										</wicket:message>
									</div>
									<select wicket:id="selectedRolesLMC" multiple="multiple" style="width:100%">
										<option >
											[Selected values will be inserted here]
										</option>
									</select>
								</div>
								
								<div id="paletteButtons" >
									<input id="addSelectedBtn" wicket:id="addSelectedBtn" type="submit" value="Add"></input>
									<input id="removeSelectedBtn" wicket:id="removeSelectedBtn" type="submit" value="Remove"></input>
								</div>
								
								<div id="paletteBreaker" >
									&nbsp;
								</div>
								<div id="paletteAddAllButtons" >
									<input id="addAllBtn" wicket:id="addAllBtn" type="submit" value="Add All" ></input>
									<input id="removeAllBtn" wicket:id="removeAllBtn" type="submit" value="Remove All" ></input>
								</div>
							<!-- End paletteBorder -->
							</div>
							
						<!-- End ajaxContainer -->
						</div>
						
						<div id="userRolesPalette" style="float: left;" >
							<span wicket:id="userRolesPalette" ></span>
						<!-- End userRolesPalette -->
						</div>
					<!-- End div1 -->
					</div>
				<!-- End accordionSection -->
				</div>
			<!-- End accordion -->
			</div>
		<!-- End accordionContent -->
		</div>
		<div id="accordionRight" ></div>
	</form>
</wicket:panel>
