<wicket:panel>
	<form wicket:id="appSelectorForm">
	
	<!--  Row 9 Multi select Controls -->
		<div id="panelContentLeft">&nbsp;</div>
	
		<div wicket:id="lmcAjaxContainer">
				<div id="fldLabel">
					<div class="label">
						<label for="LinkStudy2Application">
							Link Study with:
						</label>
					</div>
				</div>
			
				<div id="fldControl">
					<select wicket:id="lmcAvailableApps" multiple="multiple" size="5" style="width:80%">
						<option>[Values will be inserted here]</option>
					</select>
				</div>

				<div id="panelMargin">
					&nbsp;
				</div>
			
				<div class="label">
					<label for="LinkStudy2Application">
						&nbsp;
					</label>
				</div>
			
				<div id="fldControl">
						<select wicket:id="lmcSelectedApps" multiple="multiple"size="5" style="width:80%">
							<option>[Values will be inserted here]</option>
						</select>
				</div>
				<div id="searchPanelContentRight">&nbsp;</div>				

				<div id="searchPanelBreaker">&nbsp;</div>

				<div id="panelContentLeft">&nbsp;</div>
				<div id="fldLabel">
					<div class="label">
						<label for="applications">
							&nbsp;
						</label>
					</div>
				</div>
				<div id="fldControl">
					<input wicket:id="addSelectedBtn" 	type="submit" value="Add"></input>&nbsp;
					<input wicket:id="addAllBtn" 	type="submit" value="Add All"></input>
				</div>
				<div id="panelMargin">
					&nbsp;
				</div>
				<div id="fldLabel">
					<div class="label">
						<label for="applications">
							&nbsp;
						</label>
					</div>
				</div>
				<div id="fldControl">
					<input wicket:id="removeSelectedBtn" type="submit" value="Remove"></input>&nbsp;
					<input wicket:id="removeAllBtn" type="submit" value="Remove All"></input>
				</div>
				<div id="searchPanelContentRight">&nbsp;</div>
			</div>
	</form>
</wicket:panel>