<wicket:panel>
	&nbsp;
	 			<form wicket:id="studyForm">
	 			<div id="searchPanelContent">
	 			<div id="searchPanelBreaker">&nbsp;</div>	
	 					<!-- Row 1 -->
						<div id="panelContentLeft">&nbsp;</div>
 						<div id="fldLabel">
 							<div class="label">
 								<label for="studyKey"><wicket:message key="study.studykey">Study Id:</wicket:message></label>
 							</div> 
 						</div>
 						<div id="fldControl">
							<div class="label">
								<input wicket:id="studyKey"  type="text" />
							</div>
						</div>
 						<div  id="panelMargin">&nbsp;</div>
 						<div id="fldLabel">
 							<div class="label">
 								<label for="studyName"><wicket:message key="study.studyName">Name:</wicket:message></label>
 							</div> 
 						</div>
 						<div id="fldControl">
							<div class="label">
								<input wicket:id="name"  type="text" />
							</div>
						</div>
						<div id="searchPanelContentRight">&nbsp;</div>
						
						<div id="searchPanelBreaker">&nbsp;</div>	
						
						<!-- Row 2 -->	
	    		   		<div id="panelContentLeft">&nbsp;</div>	
						<div id="fldLabel">
							<div class="label">
			       					<label for="description">
			       						<label for="description"><wicket:message key="study.description">Description:</wicket:message></label>
			       					</label>
		       			</div>
	       				</div>
						<div id="fldControl">
			       				<div class="label">
			       					<textarea wicket:id="description"></textarea>
			       				</div>
			       		</div>
			       		<div  id="panelMargin">&nbsp;</div>
			       		<div id="fldLabel">
							<div class="label">
			       				<label for="dateOfApplication">
			       					<wicket:message key="study.dateOfApplication">Date Of Application:</wicket:message>
			       				</label>
		       				</div>
	       				</div>
						<div id="fldControl">
			       			<div class="label">
		       					 <input wicket:id="dateOfApplication"  type="text" />
			       			</div>
			       		</div>
			       		<div id="searchPanelContentRight">&nbsp;</div>

						<div id="searchPanelBreaker">&nbsp;</div>	

						<!--  Row 3 -->	
	    		   		<div id="panelContentLeft">&nbsp;</div>	
				       	<div id="fldLabel">
							<div class="label">
								<label for="yearOfCompletion"><wicket:message key="study.yearOfCompletion">Estimated Year of completion:</wicket:message></label>
				       		</div>
				       	</div>
				       	<div id="fldControl">
				       		<div class="label">
				       			<input wicket:id="estimatedYearOfCompletion"  type="text" />
				       		</div>
				       	</div>
				       	<div  id="panelMargin">&nbsp;</div>
				       	<div id="fldLabel">
		       				<div class="label">
		       					<label for="chiefInvestigator"><wicket:message key="study.chiefInvestigator">Chief Investigator:</wicket:message></label>
		       				</div>
				       	</div>
				       	<div id="fldControl">
				       		<div class="label">
				       			<input wicket:id="chiefInvestigator"  type="text" />
				       		</div>
				       	</div>
			       		<div id="searchPanelBreaker">&nbsp;</div>
			       		
			       		<!--  Row 4 -->
			       		<div id="panelContentLeft">&nbsp;</div>
						<div id="fldLabel">&nbsp;</div>
						<div id="fldControl">&nbsp;</div>
						<div id="panelMargin">&nbsp;</div>
						<div id="actionButtons">&nbsp;
							<div class="label">
			       				<input wicket:id="save" type="submit" wicket:message="value:page.save" />&nbsp;
			       				<div  id="panelMargin">&nbsp;</div>
			       				<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />&nbsp;
			       				<div  id="panelMargin">&nbsp;</div>
			 					<input wicket:id="cancel" type="submit" wicket:message="value:page.cancel" />
							</div>
						</div>
					</div>
	 			</form>
</wicket:panel>
