<wicket:panel>
	<div class="searchPanelBreaker">
		&nbsp;
	</div>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="5%">
				<wicket:message	key="customFieldCategory.id">
					ID:
				</wicket:message>
			</th>
			<th width="25%">
				<wicket:message	key="customFieldCategory.name">
					Name:
				</wicket:message>
			</th>
			<th width="10%">
				<wicket:message	key="customFieldCategory.customFieldType">
					Custom field Type:
				</wicket:message>
			</th> 
			<th width="25%">
				<wicket:message	key="customFieldCategory.description">
					Description:
				</wicket:message>
			</th>
			<th width="15%">
				<wicket:message	key="customFieldCategory.parentCategory">
					Parent:
				</wicket:message>
			</th> 
			<th width="10%">
				<wicket:message	key="customFieldCategory.orderNumber">
					Order No:
				</wicket:message>
			</th>
			<th width="2%">
				&nbsp;
			</th> 
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="customFieldCategoryList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="5%">
				<span wicket:id="id">
					100
				</span>
			</td>
			<td width="15%">
				<div wicket:id="customfieldCategoryLinkWMC">
					<a href="#"wicket:id="name">
						<span wicket:id="nameLbl">
							Name
						</span>
					</a>
				</div>
			</td>
			<td width="10%">
				<span wicket:id="customFieldCategory.customFieldType.name">
					Field Type
				</span>
			</td>
			<td width="25%">
				<span wicket:id="description">
					Description
				</span>
			</td>
			<td width="25%">
				<span wicket:id="customFieldCategory.parentCategory.name">
					Parent category
				</span>
			</td>
			<td width="10%">
				<span wicket:id="orderNumber">
					Units
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tfoot>
			<tr>
				<td width="2%">
					&nbsp;
				</td>
				<td width="96%" colspan="6">
					<span wicket:id="navigator" class="a">
					</span>
				</td>
				<td width="2%">
					&nbsp;
				</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0">
		<wicket:container wicket:id="toolbars"></wicket:container>
	</table>
</wicket:panel>
