.dijitIEFixedToolbar {
	position:absolute;
	
	top: expression(eval((document.documentElement||document.body).scrollTop));
}
.wager .dijitToolbar .dijitToolbarSeparator {
	background: url('images/editor.gif');
}
.wager .dijitEditorIcon {
	background-image: url('images/editor.gif'); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.wager .dijitDisabled .dijitEditorIcon {
	background-image: url('images/editorDisabled.gif'); 
}
.wager .dijitEditorIconSep { background-position: 0px; }
.wager .dijitEditorIconBackColor { background-position: -18px; }
.wager .dijitEditorIconBold { background-position: -36px; }
.wager .dijitEditorIconCancel { background-position: -54px; }
.wager .dijitEditorIconCopy { background-position: -72px; }
.wager .dijitEditorIconCreateLink { background-position: -90px; }
.wager .dijitEditorIconCut { background-position: -108px; }
.wager .dijitEditorIconDelete { background-position: -126px; }
.wager .dijitEditorIconForeColor { background-position: -144px; }
.wager .dijitEditorIconHiliteColor { background-position: -162px; }
.wager .dijitEditorIconIndent { background-position: -180px; }
.wager .dijitEditorIconInsertHorizontalRule { background-position: -198px; }
.wager .dijitEditorIconInsertImage { background-position: -216px; }
.wager .dijitEditorIconInsertOrderedList { background-position: -234px; }
.wager .dijitEditorIconInsertTable { background-position: -252px; }
.wager .dijitEditorIconInsertUnorderedList { background-position: -270px; }
.wager .dijitEditorIconItalic { background-position: -288px; }
.wager .dijitEditorIconJustifyCenter { background-position: -306px; }
.wager .dijitEditorIconJustifyFull { background-position: -324px; }
.wager .dijitEditorIconJustifyLeft { background-position: -342px; }
.wager .dijitEditorIconJustifyRight { background-position: -360px; }
.wager .dijitEditorIconLeftToRight { background-position: -378px; }
.wager .dijitEditorIconListBulletIndent { background-position: -396px; }
.wager .dijitEditorIconListBulletOutdent { background-position: -414px; }
.wager .dijitEditorIconListNumIndent { background-position: -432px; }
.wager .dijitEditorIconListNumOutdent { background-position: -450px; }
.wager .dijitEditorIconOutdent { background-position: -468px; }
.wager .dijitEditorIconPaste { background-position: -486px; }
.wager .dijitEditorIconRedo { background-position: -504px; }
.wager .dijitEditorIconRemoveFormat { background-position: -522px; }
.wager .dijitEditorIconRightToLeft { background-position: -540px; }
.wager .dijitEditorIconSave { background-position: -558px; }
.wager .dijitEditorIconSpace { background-position: -576px; }
.wager .dijitEditorIconStrikethrough { background-position: -594px; }
.wager .dijitEditorIconSubscript { background-position: -612px; }
.wager .dijitEditorIconSuperscript { background-position: -630px; }
.wager .dijitEditorIconUnderline { background-position: -648px; }
.wager .dijitEditorIconUndo { background-position: -666px; }
.wager .dijitEditorIconWikiword { background-position: -684px; }
.wager .dijitEditorIconToggleDir { background-position: -540px; }
.wager .dijitEditorIconTabIndent { background-position: -702px; }
.wager .dijitEditorIconSelectAll { background-position: -720px; }
.wager .dijitEditorIconUnlink { background-position: -738px; }
