<wicket:panel>
	&nbsp;
	<form wicket:id="detailForm">
		<div id="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<!-- Row 1 Study ID and Name-->
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="fieldId">
							<wicket:message key="field.id">Field Id:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.id" type="text" />
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="fieldName"><wicket:message	key="field.name">Name:</wicket:message></label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.name" type="text" /> 
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
			
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="fieldType"><wicket:message	key="field.fieldType">Field Type:</wicket:message></label> 
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<select wicket:id="field.fieldType">
		       				<option>Number</option>
							<option>Character</option>
							<option>Date</option>
		       			</select>
			       	</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
							
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDescription"><wicket:message key="field.description">Description:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<textarea wicket:id="field.description" rows="5" cols="35"></textarea> 
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldUnits"><wicket:message key="field.units">Units:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.units"  type="text" />
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDiscreteValues"><wicket:message key="field.discreteValues">Discrete Values:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.discreteValues"  type="text" />
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldMinValue"><wicket:message key="field.minValue">Minimum Value:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.minValue"  type="text" />
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldMinValue"><wicket:message key="field.maxValue">Maximum Value:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.maxValue"  type="text" />
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldSeqNum"><wicket:message key="field.seqNum">Sequence Number:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="field.seqNum"  type="text" />
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				<!-- ModalWindow for confirm Delete window -->
				<div wicket:id="modalwindow"></div>
			</div>
			<!-- Detail container end-->
			
			<!--  Buttons -->
			<div wicket:id="viewButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:button.edit" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:button.cancel" />
				  	</div>
				</div>
			</div>
			
			<div wicket:id="editButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />
				  	</div>
				</div>
			</div>
		</div>
	
	</form>
</wicket:panel>