<wicket:panel>
	<div class="detailsPanelBorder">
		<div class="customFieldDataPanel">
			<form wicket:id="customDataEditorForm">
				<div class="detailPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
						&nbsp;
				</div>
				<div class="fldLabel">
					<wicket:message key="bioCollectionCustomFieldCategory">
					BioCollection Custom Field Category:
					</wicket:message>
				</div>
				<div class="fldControl">
					<select wicket:id="bioCollectionCustomFieldData.customFieldDisplay.customField.customFieldCategory">
						<option>
							Cat1
						</option>
						<option>
							Cat2
						</option>
					</select>
				</div>
				<div wicket:id="dataViewWMC">
					<div wicket:id="dataViewPanel" class="detailPanel">
						[viewPanel]
					</div>
				</div>

				<div class="detailPanelBreaker">
					&nbsp;
				</div>

				<div wicket:id="buttonsPanelWMC">
					<div wicket:id="buttonsPanel">
						[buttonsPanel]
					</div>
				</div>
			</form>

			<span wicket:id="navigator" class="a">
			</span>
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
			<div class="centreLabel">
				<span wicket:id="warnSaveLabel">
					[Please "Save"!]
				</span>
			</div>
			<div class="detailPanelBreaker">
				&nbsp;
			</div>
		</div>
	</div>
</wicket:panel>
