<wicket:panel>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview">
		<!-- Does not have header row -->
		<!--  The Data Result Set -->
		<tr wicket:id="bioCollectionCustomDataList">
			<td width="2%">&nbsp;</td>
			<td width="36%">
				<div class="label">
					<span wicket:id="fieldLabel">100</span>
				</div>
				<div id="detailPanelBreaker">&nbsp;</div>
			</td>
			<td width="60%">
				<div wicket:id="dataValueEntryPanel"></div>
				<div id="detailPanelBreaker">&nbsp;</div>
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>