<wicket:panel>&nbsp;
     	<div class="searchPanelContainer">
			<form wicket:id="searchForm">
		  		<div class="searchPanelContent">
					<div class="searchPanelBreaker">&nbsp;</div>				
					<div class="panelContentLeft">&nbsp;</div>
					
		       		<div class="fldLabel">
						<div class="label">
							<wicket:message key="propertyName">Property Name</wicket:message>
						</div>
					</div>
					
					<div class="fldControl">
						<div class="label">
							<input wicket:id="propertyName" type="text" />
						</div>
					</div>

					<div id="panelMargin">&nbsp;</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="propertyValue">Property Value</wicket:message>
						</div>
					</div>

					<div class="fldControl">
						<div class="label">
							<input wicket:id="propertyValue" type="text" />
						</div>
					</div>

					<div class="searchPanelBreaker">&nbsp;</div>
					<div class="panelContentLeft">&nbsp;</div>

					<div class="fldLabel">
						<div class="label">
							<wicket:message key="propertyType">Property Type</wicket:message>
						</div>
					</div>

					<div class="fldControl">
						<div class="label">
							<select wicket:id="propertyType" />
						</div>
					</div>

					<div class="searchPanelBreaker">&nbsp;</div>		
		       		
					<!--  Defines the location for buttons -->
					<div class="actionButtons">
						<input wicket:id="search" type="submit" wicket:message="value:page.search" />
						<input wicket:id="reset" type="submit" wicket:message="value:page.reset" />
						<input wicket:id="new" type="submit" wicket:message="value:page.new" />
					</div>
					
					<div class="searchPanelBreaker">&nbsp;</div>
				</div>
			</form>
       </div><!-- Container-->
</wicket:panel>