<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="detailsPanelBorder">
		  <div wicket:id="detailFormContainer">
			<div class="detailPanelBreaker">&nbsp;</div>
			<div class="panelContentLeft">&nbsp;</div>
			<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.computation.id">
								Id:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="computation.id"	type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.computation.name">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="computation.name"	type="text" />
					</div>
				</div>
				<div class="detailPanelBreaker">&nbsp;</div>
				<div class="panelContentLeft">&nbsp;</div>
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.computation.description">
								Description:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<textarea wicket:id="computation.description" cols="25"></textarea>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.computation.microservice">
								name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="computation.microService">
							<option>A</option>
							<option>B</option>
						</select>
					</div>
				</div> 
				<div class="detailPanelBreaker">&nbsp;</div>
			
			<div class="panelContentLeft">&nbsp;</div>
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.computation.status">
								Description:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="computation.status"	type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="organization">
							<wicket:message key="genomics.computation.method">
								name:
							</wicket:message>
						</label>
					</div>
					<div class="note">
						<wicket:message	key="note">NOTE</wicket:message>
					</div>
				</div>
				<div class="fldControl">
					<input wicket:id="file" type="file" accept=".zip"/>
					<a href="#" wicket:id="clearButton"><img  src="images/icons/editclear.png" /></a>
					<br>
					<b>
						<span wicket:id="computation.programName">File Name</span>
					</b>
					<a href="#" wicket:id="deleteButton"><img  src="images/icons/delete.png" /></a>
				</div>
				<div class="detailPanelBreaker">&nbsp;</div>
					
			<div class="panelContentLeft">&nbsp;</div>
				<div class="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="genomics.computation.available">
								Available:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="computation.available" type="checkbox" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>
				<div class="detailPanelBreaker">&nbsp;</div>
			
			</div>
			
			<!--  Row 2 Action Buttons -->
			
			<div wicket:id="editButtonContainer">
				<div class="actionButtons">
					<input wicket:id="save" type="submit" wicket:message="value:page.save" />
					<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
					<input wicket:id="delete" type="submit" wicket:message="value:page.delete" />
					<input wicket:id="upload" type="submit" wicket:message="value:page.upload" />  	
					<input wicket:id="compile" type="submit" wicket:message="value:page.compile" />  	
				</div>
			</div>
		</div>
	</form>
</wicket:panel>