<wicket:panel>
	<!--  Page Left Zone -->
	<div class="leftZone">&nbsp;</div>
	
	<!-- Content Zone -->
	<div class="contentZone">
		<form wicket:id="containerForm">
			<span wicket:id="feedbackMessage"> </span>
				 
			<!--  The wizardContainer  WebMarkupContainer that has the WizardPanel -->
			<div wicket:id="wizardContainer">
				<div wicket:id="wizardPanel"></div>
			</div>
			
			<!--  The SearchResults  WebMarkupContainer that has the SearchResultsPanel -->
			<div wicket:id="resultListContainer">
				<div wicket:id="searchResults"></div>
			</div>
		</form>
	</div>
	
	<!--  Page right Zone -->
	<div class="rightZone">&nbsp;</div>
</wicket:panel>