<wicket:panel>
	&nbsp;
	<div wicket:id="dataViewListWMC">
		<table width="0%" cellspacing="0">
		</table>
		<table width="100%" cellspacing="0" class="dataview" border="0">
			<!-- Header row -->
			<thead>
				<tr>
					<th width="2%">
						&nbsp;
					</th>
					<th width="5%">
						<wicket:message	key="bioTransaction.id">
							ID:
						</wicket:message>
					</th>
					<th width="10%">
						<wicket:message	key="bioTransaction.transactionDate">
							Transaction date:
						</wicket:message>
					</th>
					<th width="10%">
						<wicket:message	key="quantity">
							Quantity:
						</wicket:message>
					</th>
					<th width="10%">
						<label for="status">
							<wicket:message	key="bioTransaction.status">
								Status:
							</wicket:message>
						</label>
					</th>
					<th width="20%">
						<wicket:message	key="bioTransaction.reason">
							Reason:
						</wicket:message>
					</th>
					<th width="25%">
						<wicket:message	key="bioTransaction.recorder">
							Recorder:
						</wicket:message>
					</th>
					<th width="10%">
						<wicket:message	key="bioTransaction.accessRequest">
							Access Request:
						</wicket:message>
					</th>
					<th width="6%">
						&nbsp;
					</th>
					<th width="2%">
						&nbsp;
					</th>
				</tr>
			</thead>
			<!-- Apparently 'tfoot' must be before 'tbody' -->
			<tfoot>
				<tr>
					<td width="2%">
						&nbsp;
					</td>
					<td width="96%" colspan="8">
						<span wicket:id="navigator" class="a">
						</span>
					</td>
					<td width="2%">
						&nbsp;
					</td>
				</tr>
			</tfoot>
			<tbody>
				<!-- Repeated item row -->
				<tr wicket:id="bioTransactionList">
					<td width="2%">
						&nbsp;
					</td>
					<td width="5%">
						<span wicket:id="bioTransaction.id">
						</span>
					</td>
					<td width="10%">
						<span wicket:id="bioTransaction.transactionDate">
						</span>
					</td>
					<td width="10%">
						<img wicket:id="bioTransaction.quantityImage"/>
						<span wicket:id="bioTransaction.quantity">
						</span>
						<span wicket:id="bioTransaction.biospecimen.unit.name">
						</span>
					</td>
					<td width="10%">
						<span wicket:id="bioTransaction.status.name">
						</span>
					</td>
					<td width="20%">
						<span wicket:id="bioTransaction.reason">
						</span>
					</td>
					<td width="25%">
						<span wicket:id="bioTransaction.recorder">
						</span>
					</td>
					<td width="10%">
						<span wicket:id="bioTransaction.accessRequest.id">
						</span>
					</td>
					<td width="6%">
						<span wicket:id="rowDetailsWMC">
							<a href="#" wicket:id="rowDeleteLink">
								<wicket:message	key="bioTransaction.delete">
								</wicket:message>
							</a>
						</span>
					</td>
					<td width="2%">
						&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
		<table width="0%" cellspacing="0">
		</table>
	</div>
	<form wicket:id="bioTransactionListForm">
		<span wicket:id="feedback">[Feedback]</span>
		<div class="detailPanel">
			<table width="100%" cellspacing="0" class="dataview" border="0">
				<tr>
					<td width="2%">
						&nbsp;
					</td>
					<td width="5%">
						&nbsp;
					</td>
					<td width="10%">
						<span wicket:id="bioTransaction.transactionDate">
						</span>
					</td>
					<td width="10%">
						<input wicket:id="bioTransaction.quantity" type="text" size="1"/><span class="requiredHint">*</span>
						<span wicket:id="bioTransaction.biospecimen.unit.name">
						</span>
					</td>
					<td width="10%">
						<select wicket:id="bioTransaction.status">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</td>
					<td width="20%">
						<input wicket:id="bioTransaction.reason" type="text" />
					</td>
					<td width="25%">
						<span wicket:id="bioTransaction.recorder"></span>
					</td>
					<td width="10%">
						<select wicket:id="bioTransaction.accessRequest">
							<option>
								1
							</option>
							<option>
								2
							</option>
						</select>
					</td>
					<td>
						<input wicket:id="saveButton" type="submit" value="Save"/>
					</td>
				</tr>
			</table>
		</div>
	</form>
</wicket:panel>
