<wicket:panel>
	&nbsp;
	<div id="searchPanelContainer">
		<div id="searchPanelContent">
			<div id="searchPanelBreaker">
				&nbsp;
			</div>
			<div id="panelContentLeft">
				&nbsp;
			</div>

			<div id="imgLeft">
				<div id="image">
					<img wicket:id="phenoFieldSummaryImage">
				</div>
			</div>

			<div id="imgLeft">
				<div id="image">
					<img wicket:id="phenoPhenoCollectionSummaryImage">
				</div>
			</div>

			<div id="searchPanelBreaker">
				&nbsp;
			</div>

			<div id="panelContentLeft">
				&nbsp;
			</div>

			<div id="imgLeft">
				<div id="image">
					<img wicket:id="phenoCollectionBarChartSummaryImage">
				</div>
			</div>

			<div id="fldControl">
				<div class="label">
					&nbsp;
				</div>
			</div>

			<div	id="panelMargin">
				&nbsp;
			</div>

			<div id="fldLabel">
				<div class="label">
					&nbsp;
				</div>
			</div>

			<div id="fldControl">
				<div class="label">
					&nbsp;
				</div>
			</div>

			<div id="searchPanelBreaker">
				&nbsp;
			</div>
		</div>
	</div>
</wicket:panel>
