<wicket:panel>
	&nbsp;
	<div class="searchPanelContainer">
		<div class="searchPanelContent">
			<div class="searchPanelBreaker">
				&nbsp;
			</div>
			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="imgLeft">
				<div class="image">
					<img wicket:id="phenoFieldSummaryImage">
				</div>
			</div>

			<div class="imgLeft">
				<div class="image">
					<img wicket:id="phenoPhenoCollectionSummaryImage">
				</div>
			</div>

			<div class="searchPanelBreaker">
				&nbsp;
			</div>

			<div class="panelContentLeft">
				&nbsp;
			</div>

			<div class="imgLeft">
				<div class="image">
					<img wicket:id="phenoCollectionBarChartSummaryImage">
				</div>
			</div>

			<div class="fldControl">
				<div class="label">
					&nbsp;
				</div>
			</div>

			<div	id="panelMargin">
				&nbsp;
			</div>

			<div class="fldLabel">
				<div class="label">
					&nbsp;
				</div>
			</div>

			<div class="fldControl">
				<div class="label">
					&nbsp;
				</div>
			</div>

			<div class="searchPanelBreaker">
				&nbsp;
			</div>
		</div>
	</div>
</wicket:panel>
