<wicket:panel>
	&nbsp;
	<span wicket:id="detailFeedback">
	</span>
	<form wicket:id="customFieldDisplayForm">
		<div class="detailsPanelBorder">
			<div wicket:id="cfdFieldContainer">
				<div class="detailFormBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>
				
				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="customFieldDisplay.id">
						Custom Field Display Id:
					</wicket:message>
				</div>
				
				<div class="fldControl">
					<input wicket:id="customFieldDisplay.id"/>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="customField.name">
						Custom Field Name:
					</wicket:message>
				</div>
				
				<div class="fldControl">
					<input wicket:id="customFieldDisplay.customField.name"	type="text" />
				</div>

				<div class="detailFormBreaker">
					&nbsp;
				</div>

				<div class="detailFormBreaker">
					&nbsp;
				</div>
				
				<div class="panelContentLeft">
					&nbsp;
				</div>
				
				<!--	Row 1 -->
				<div class="fldLabel">
					<wicket:message key="customFieldDisplay.required">
						Required:
					</wicket:message>
				</div>

				<div class="fldControl">
					<input type="checkbox" wicket:id="customFieldDisplay.required"/>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<wicket:message key="customFieldDisplay.allowMultiselect">
						Allow Multiple selections
					</wicket:message>
				</div>

				<div class="fldControl">
					<input type="checkbox" wicket:id="customFieldDisplay.allowMultiselect"/>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>
			</div>

			<div class="detailFormBreaker">
				&nbsp;
			</div>

			<div class="actionButtons">
				<input wicket:id="save" type="submit" wicket:message="value:page.save" />
				<input wicket:id="cancel" type="submit"	wicket:message="value:page.cancel" />
			</div>

			<div class="detailFormBreaker">
				&nbsp;
			</div>
		</div>
	</form>
</wicket:panel>
