#header {
	width: 100%;
	height: 10%;
	overflow: hidden;
}

#mainheaderouter{
	min-height:125px;
	margin:auto;
}

#hostedby {
	float:left;
	height:100px;
	padding-top:10px;
	width:0;
}

#product {
	float: right;
	height: 100px;
	padding-top:10px;
}

#banner {
	width: 100%;
	height: 25px;
	background: url("../images/banner_image.gif") repeat-x scroll center bottom #DAE0D2;	
}
