/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/
* {
	margin: 0;
	padding: 0;
}

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html,body {
	/* 98% allows footer to be seen ok,at all times */
	height: 98%;
}

#wrap {
	min-height: 50%;
}

#main {
	overflow: auto;
	padding-bottom: 10px;
}  /* must be same height as the footer */

/*
#footer {
	position: relative;
	margin-top: -125px;
	height: 10px;
	clear: both;
}
*/

/*Opera Fix*/
body:before { /* thanks to Maleika (Kohoutec)*/
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px; /* thank you Erik J - negate effect of float*/
}

#footer-inner {
	height: 10px;
}

/* margin-bottom ensures last content is not obscured by footer */
#content {
	margin-bottom: 10px;
}

#actionButtons {
	float: left;
	width: 20%;
	height: 5%;
	padding-bottom:10px;
}

#labelBold {
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-weight: bold;
}

#lmcarea{
	background-color:#FF0000;
	width: 100%;
	height: 5%;
	float:left;
}
#listmultiSelect {
	width:80%;
	height:5%;
}

#multiSelectBr {
	float: left;
	width: 80%;
	height: 10%;
}

#multiSelectLeft {
	float: left;
	background-color: #F2F2FA;
	width: 15%;
	height: 10%;
}

#holder {
	overflow: hidden;
}

#leftZone {
	float: left;
	width: 10%;
	height: 75%;
}

#leftZoneTop {
	float: left;
	width: 10%;
	height: 20%;
}

#leftZoneTop_1 {
	float: left;
	width: 10%;
	height: 20%;
}

#userLeftZoneTop_1 {
	float: left;
	width: 10%;
	height: 20%;
}

#contentZoneLeft {
	float: left;
	width: 20%;
	height: 75%;
}

#contentZoneCenter {
	width: 60%;
	height: 75%;
}

#contentZoneRight {
	float: right;
	width: 20%;
	height: 75%;
}

#contentZone {
	float: left;
	width: 80%;
	height: 75%;
}

#generalContent_1 {
	float: left;
	width: 80%;
	height: 75%;
}

#searchPanel {
	float: left;
	width: 100%;
	height: 90%;
}

#searchPanelContent {
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}

#detailsPanelBorder{
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	float: left;
	width: 100%;
	height: 100%;
}

#summaryBorder{
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	float: left;
	width: 100%;
	height: 100%;
}

#searchPanelBr {
	float: left;
	width: 100%;
	height: 10%;
}

#searchPanelBreaker {
	float: left;
	width: 100%;
	height: 20%;
}

#accordionLeft {
	float: left;
	width: 10%;
	height: 25%;
}

#accordionContent {
	float: left;
	width: 50%;
}

#panelContentLeft {
	float: left;
	width: 10%;
	height: 5%;
}

#searchPanelContentRight {
	float: right;
	width: 10%;
	height: 5%;
}

#searchPanelFbContainer {
	float: left;
	width: 100%;
	height: 25%;
}

#searchPanelFbLeft {
	float: left;
	width: 25%;
	height: 25%;
}

#searchPanelFbRight {
	float: right;
	width: 25%;
	height: 25%;
}

#searchPanelFb {
	background-color: white;
	float: left;
	width: 50%;
	height: 25%;
}

#searchPanelBtnLeft {
	float: left;
	width: 75%;
	height: 10%;
}

#searchPanelBtnRight {
	float: right;
	width: 25%;
	height: 10%;
}

#panelMargin {
	float: left;
	width: 10%;
	height: 5%;
}

#fldLabel {
	float: left;
	width: 10%;
	height: 5%;
}

#fldControl {
	float: left;
	width: 25%;
	height: 5%;
}

#multiSelect{
}

#fldC1{
	float: left;
	width: 35%;
	height: 5%;
}
#fldLabelAndCtrl{
	float: left;
	width: 35%;
	height: 5%;
}


#userContainerPanel {
	background-color: #E7E4C1;
	float: left;
	width: 80%;
	height: 75%;
}

#rightZoneTop {
	float: left;
	width: 10%;
	height: 20%;
}

#rightZoneTop_1 {
	float: left;
	width: 10%;
	height: 20%;
}

#rightZone {
	float: right;
	width: 10%;
	height: 75%;
}

#LoginFeedbackZone {
	float: left;
	width: 40%;
	height: 10%;
}

#menuZone {
	float: left;
	width: 100%;
	height: 15%;
}

#feedbackZone {
	float: left;
	width: 40%;
	height: 10%;
}

body {
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 96% 96%;
	color: #000000;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 10pt;
	line-height: 1.5em;
	
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	
	/*
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	*/
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
}

#extitle {
	font-size: 12pt;
	font-weight: bold;
	color: #E9601A;
	padding: 10px 10px 10px 10px;
}

.mark {
	background-color: yellow;
	margin: 5px;
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-weight: bold;
}

.block {
	padding: 10px;
}

.blockWithBorder {
	border-width: thin;
	border-style: dotted;
	border-color: #E9601A;
}

#hellomessage {
	font-size: 30pt;
}

#titleblock {
	background-color: #BBBBBB;
	color: white;
	font-weight: bold;
	border-bottom: solid #E9601A;
	border-width: thin;
	padding: 2px 2px 2px 6px;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

a {
	color: #6F6F6F;
	text-decoration: underline;
}

img {
	border: none;
}

pre {
	font-family: 'Lucida Sans', 'Helvetica', 'Sans serif', 'sans';
}

th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
}

tr.b {
	background: #F5F5F5;
}

tr.a {
	background: #E6E6E5;
}

tr.none {
	background: transparent;
}

a.none {
	background: transparent;
	padding-right: 0px;
}

#inputForm {
	width: 300px;
}

#inputForm label {
	display: block;
	margin-top: 5px;
}

#numberRadioChoice label {
	display: inline !important;
}

#inputForm label.non {
	display: inline !important;
}

#inputFormTable td {
	vertical-align: top;
	padding: 10px;
}

#nestedExampleTree {
	width: 300px;
}

#feedbackPanel {
	width: 600px;
}

#siteSelection {
	width: 200px;
}

div.tabRowContent {
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	margin: 4px;
	padding: 4px;
}

table.dataview {
	margin-bottom: 10px;
	border-bottom: 1px solid #6F6F6F;
	font-size: 1em;
	font-family: arial;
}

table.dataview caption {
	text-align: left;
}

table.dataview tr {
	padding-top: 2px;
	padding-bottom: 2px;
}

table.dataview tr.even {
	background-color: #EEEEEE;
}

table.dataview tr.odd {
	background-color: #FFFFFF;
}

table.dataview tr td {
	padding-left: 8px;
	padding-right: 30px;
}

table.dataview tr th {
	color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 8px;
	padding-right: 24px;
	background-color: #C0C0C0;
	border-bottom: 1px solid #6F6F6F;
	border-top: 1px solid #6F6F6F;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
}

table.dataview tr th {
	background-position: right;
	background-repeat: no-repeat;
}

table.dataview tr th.wicket_orderDown {
	background-color: #87cbff;
	background-image: url(displaytag/img/arrow_down.png);
}

table.dataview tr th.wicket_orderUp {
	background-color: #87cbff;
	background-image: url(displaytag/img/arrow_up.png);
}

table.dataview tr th.wicket_orderNone {
	background-image: url(displaytag/img/arrow_off.png);
}

table.dataview tr th a {
	font-weight: normal;
}

table.dataview #message {
	padding-left: 3px;
}

table.dataview caption {
	padding-bottom: 2px;
}

table.palette td.header {
	background-color:#C0C0C0;
	border-bottom: 1px solid #6F6F6F;
	border-top: 1px solid #6F6F6F;
	font-size: 10pt;
	font-weight: bold;
	padding: 2px;
	text-align: center;
}

/* TAB PANEL STYLES */
div.tabpanel div.tab-row {
	float: left;
	width: 100%;
	background: #DAE0D2 url("tabs/bg.gif") repeat-x bottom;
	line-height: normal;
}

div.tabpanel div.tab-row ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

div.tabpanel div.tab-row li {
	float: left;
	background: url("tabs/left.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
}

div.tabpanel div.tab-row a {
	display: block;
	background: url("tabs/right.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	color: #eee;
}

div.tabpanel div.tab-row a:hover {
	color: #fff;
}

div.tabpanel div.tab-row li.selected {
	background-image: url("tabs/left_on.gif");
}

div.tabpanel div.tab-row li.selected a {
	background-image: url("tabs/right_on.gif");
	color: #333;
	padding-bottom: 5px;
}

/* VARIATION 1 TAB PANEL STYLES */
div.tabpanel1 div.tab-row {
	float: left;
	width: 100%;
	background: #DAE0D2 url("tabs1/bg.gif") repeat-x bottom;
	line-height: normal;
}

div.tabpanel1 div.tab-row ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

div.tabpanel1 div.tab-row li {
	float: left;
	background: url("tabs1/left.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
}

div.tabpanel1 div.tab-row a {
	display: block;
	background: url("tabs1/right.gif") no-repeat right top;
	padding: 5px 15px 4px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #765;
	white-space: nowrap;
}

div.tabpanel1 div.tab-row a:hover {
	color: #333;
}

div.tabpanel1 div.tab-row li.selected {
	background-image: url("tabs1/left_on.gif");
}

div.tabpanel1 div.tab-row li.selected a {
	background-image: url("tabs1/right_on.gif");
	color: #333;
	padding-bottom: 5px;
}

/* TABBED PANEL VARIATION 2 */
div.tabpanel2 div.tab-row {
	float: left;
	width: 100%;
	background: #369 url("tabs2/bg.gif") repeat-x bottom;
	font-size: 85%;
	line-height: normal;
}

div.tabpanel2 div.tab-row ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

div.tabpanel2 div.tab-row li {
	float: left;
	background: url("tabs2/right.gif") no-repeat right top;
	margin: 0;
	padding: 0 5px 0 0;
}

div.tabpanel2 div.tab-row a {
	float: left;
	display: block;
	background: url("tabs2/left.gif") no-repeat left top;
	padding: 5px 7px 4px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #9cf;
	white-space: nowrap;
}

/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
div.tabpanel2 div.tab-row a {
	float: none;
}

/* End IE5-Mac hack */
div.tabpanel2 div.tab-row a:hover {
	color: #fff;
}

div.tabpanel2 div.tab-row li.selected {
	background-image: url("tabs2/right_on.gif");
}

div.tabpanel2 div.tab-row li.selected a {
	background-image: url("tabs2/left_on.gif");
	color: #333;
	padding-bottom: 5px;
}

/* TABBED PANEL VARIATION 3 */
div.tabpanel3 div.tab-row {
	float: left;
	width: 100%;
	background: #eee url("tabs3/bg.jpg") repeat-x top;
	line-height: normal;
}

div.tabpanel3 div.tab-row ul {
	margin: 0;
	padding: 10px 10px 0;
	list-style: none;
}

div.tabpanel3 div.tab-row li {
	float: left;
	background: url("tabs3/left.gif") no-repeat left top;
	margin: 0;
	padding: 0 0 0 28px;
}

div.tabpanel3 div.tab-row a {
	float: left;
	display: block;
	background: url("tabs3/right.gif") no-repeat right top;
	padding: 9px 28px 4px 0px;
	text-decoration: none;
	font-weight: bold;
	color: #92A2AC;
}

/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
div.tabpanel3 div.tab-row a {
	float: none;
}

/* End IE5-Mac hack */
div.tabpanel3 div.tab-row a:hover {
	color: #A56060;
}

div.tabpanel3 div.tab-row li.selected {
	background-image: url("tabs3/left_on.gif");
}

div.tabpanel3 div.tab-row li.selected a {
	background-image: url("tabs3/right_on.gif");
	color: #A56060;
}

div.tabpanel4 ul {
	height: 20px;
	margin: 0;
	padding-left: 10px;
	background: url( tabs4/tab_bottom.gif ) repeat-x bottom;
}

div.tabpanel4 li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

div.tabpanel4 a:link,div.tabpanel4  a:visited {
	float: left;
	background: #f3f3f3;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

div.tabpanel4 li.selected a:link,div.tabpanel4  a:visited.active {
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

div.tabpanel4  a:hover {
	background: #fff;
}

div#container {
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.text {
	width: 250px;
}

div.footer {
	FONT-WEIGHT: lighter;
	FONT-SIZE: x-small;
	TEXT-TRANSFORM: none;
	COLOR: ;
	BORDER-TOP: #6F6F6F 1px solid;
	FONT-STYLE: normal;
	FONT-FAMILY: Verdana, Arial;
	TEXT-ALIGN: left;
	FONT-VARIANT: normal;
	TEXT-DECORATION: none
}

/* PROGRESS BAR */
div.wupb-uploadStatus {
	margin: 5px;
	color: #aaa;
}

div.wupb-progressBar {
	margin: 5px;
}

div.wupb-progressBar .wupb-border {
	background: url( progress-remainder.gif ) repeat-x;
	background-color: #eee;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	width: 100%;
}

div.wupb-progressBar .wupb-background {
	background: url( progress-bar.gif ) repeat-x;
	background-color: #507090;
	height: 18px;
	width: 0%;
}

/* END PROGRESS BAR */
div.ex {
	width: 220px;
	padding: 10px;
	border: 1px solid #FFBD5C;
	margin: 0px;
}