<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
	<table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="15%">
				<a href="#" wicket:id="arkRoleTemplatePolicy.id">
					<wicket:message key="arkRoleTemplatePolicy.id">id</wicket:message>
				</a>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.arkRole">arkRole</wicket:message>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.arkModule">arkModule</wicket:message>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.arkFunction">arkFunction</wicket:message>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.createPermission">create</wicket:message>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.readPermission">read</wicket:message>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.updatePermission">update</wicket:message>
			</th>
			<th width="15%">
				<wicket:message key="arkRoleTemplatePolicy.deletePermission">delete</wicket:message>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<tr wicket:id="arkRoleTemplatePolicyList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="15%">
				<a href="#" wicket:id="link">
					<span wicket:id="arkRoleTemplatePolicy.id">id</span>
				</a>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.arkRole">arkRole</span>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.arkModule">arkModule</span>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.arkFunction">arkFunction</span>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.createPermission">createPermission</span>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.readPermission">readPermission</span>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.updatePermission">updatePermission</span>
			</td>
			<td width="15%">
				<span wicket:id="arkRoleTemplatePolicy.deletePermission">deletePermission</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">
				&nbsp;
			</td>
			<td width="96%" colspan="8">
				<span wicket:id="navigator" class="a">
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>