<wicket:panel>&nbsp;
	<form wicket:id="wizardForm">
		<div class="wizardPanelBorder">		
			<div wicket:id="wizardFormContainer">
				<div wicket:id="step" />
				<div wicket:id="gridView" />
			</div>
		
			<div wicket:id="wizardButtonContainer">
				<div class="fldLabel">&nbsp;</div>
				<div class="fldControl">&nbsp;</div>
				<div class="wizardPanelMargin">&nbsp;</div>
				<div class="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="previous" type="submit" value="Previous" />&nbsp;
						<div class="wizardPanelMargin">&nbsp;</div>
						<input wicket:id="next" type="submit" value="Next" />&nbsp;
						<div class="wizardPanelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit" value="Cancel" />&nbsp;
						<div class="wizardPanelMargin">&nbsp;</div>
						<input wicket:id="finish" type="submit" value="Finish" />
					</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>