<wicket:panel>
	&nbsp;
	<form wicket:id="wizardForm">
		<div class="wizardPanelBorder">
			<div wicket:id="wizardFormContainer">
				<div wicket:id="step" />
				<div wicket:id="gridView" />
			</div>

			<div wicket:id="wizardButtonContainer">
				<div class="actionButtons">
					<input wicket:id="previous" type="submit" value="Previous" />
					<input wicket:id="next" type="submit" value="Next" />
					<input wicket:id="cancel" type="submit" value="Cancel" />
					<input wicket:id="finish" type="submit" value="Finish" />
				</div>
			</div>
		</div>
	</form>
</wicket:panel>
