<wicket:panel>
	<div id="wizardPanelBorder">
		<div id="panelContentLeft">&nbsp;</div>
		
		<div id="panelContentRight">&nbsp;</div>
		
		<div wicket:id="header" />
		
		<div id="panelBreaker">&nbsp;</div>
		
		<div id="panelContentLeft">&nbsp;</div>
		
		<div id="panelContentRight">&nbsp;</div>
		
		<div id="panelContentCentre">
			<div id="fldLabel">
				<wicket:message	key="overrideDataValidationChkBox">Override Datavalidation:</wicket:message>
				<input type="checkbox" wicket:id="overrideDataValidationChkBox"/>
			</div>
			<div id="panelBreaker">&nbsp;</div>
			<span wicket:id="multiLineLabel" class="mark">this text will be replaced</span>
		</div>
		
		<div id="panelBreaker">&nbsp;</div>
	</div>
</wicket:panel>