<wicket:panel>
	<div id="wizardPanelBorder">
		<div id="panelContentLeft">&nbsp;</div>
		<div wicket:id="header" />
		<div id="searchPanelBreaker">&nbsp;</div>
		
		<!-- Row 1 ID and Name-->		
		<div id="panelContentLeft">&nbsp;</div>
		
		<div id="fldLabel">
			<div class="label">
				<label for="id">
					<wicket:message key="upload.id">ID:</wicket:message>
				</label>
			</div>
		</div>
		<div id="fldControl">
			<div class="label">
				<input wicket:id="upload.id" type="text" />
			</div>
		</div>
		
		<div id="panelMargin">&nbsp;</div>

		<div id="fldLabel">
			<div class="label">
				<label for="filename"><wicket:message key="upload.filename">Filename:</wicket:message></label>
			</div>
		</div>
		<div id="fldControl">
			<div class="label">
	        	<input wicket:id="upload.filename" id="upload" type="file"/>
			</div>
		</div>
		
		<div id="searchPanelContentRight">&nbsp;</div>
	
		<div id="searchPanelBreaker">&nbsp;</div>
		
		<div id="panelContentLeft">&nbsp;</div>
		
		<div id="fldLabel">
			<div class="label">
				<label for="fileFormat"><wicket:message	key="upload.fileFormat">File format:</wicket:message></label> 
			</div>
		</div>
		<div id="fldControl">
			<div class="label">
				<select wicket:id="upload.fileFormat">
       				<option>Test</option>
       			</select>
	       	</div>
		</div>
		
		<div id="panelMargin">&nbsp;</div>
		
		<div id="fldLabel">
			<div class="label">
				<label for="delimiterType"><wicket:message	key="upload.delimiterType">Delimiter:</wicket:message></label> 
			</div>
		</div>
		<div id="fldControl">
			<div class="label">
				<select wicket:id="upload.delimiterType">
       				<option>1</option>
       				<option>2</option>
       				<option>3</option>
       			</select>
	       	</div>
		</div>
		
		<div id="searchPanelContentRight">&nbsp;</div>
		
		<div id="searchPanelBreaker">&nbsp;</div>
	</div>
</wicket:panel>