<wicket:panel>&nbsp;
	<div id="detailsPanelBorder">
		<div wicket:id="phenoUploadWizardContainer">
			<form wicket:id="wizardForm">
				<div wicket:id="wizardFormContainer">
					<div wicket:id="phenoUploadWizardPanel"></div>
				</div>
				
				<!--
				<div id:"wizardButtons">
					<input wicket:id="previous" type="submit" value="previous" />
					<input wicket:id="next" type="submit" value="next" />
					<input wicket:id="cancel" type="submit" value="cancel" />
					<input wicket:id="finish" type="submit" value="finish" />
				</div>
				-->
			</form>
		</div>
	</div>
</wicket:panel>