<wicket:panel>
	<!--	Page Left Zone -->
	<div class="leftZone">
		&nbsp;
	</div>

	<!-- Content Zone -->
	<div class="contentZone">
		<form wicket:id="containerForm">
			<span wicket:id="feedbackMessage">
			</span>
			
			<!-- Print Applet -->
			<div wicket:id="printAppletPanel">
			</div>
			
			<!--	The Search WebMarkupContainer that has the SearchPanel -->
			<div wicket:id="searchContainer">
				<div wicket:id="searchPanel">
					[Search Panel]
				</div>
			</div>

			<div wicket:id="resultListContainer">
				<!--	Biospecimens list panel -->
				<div wicket:id="biospecimenListPanel">
					[Search Result]
				</div>
			</div>
		</form>
	</div>

	<!--	Page right Zone -->
	<div class="rightZone">
		&nbsp;
	</div>
</wicket:panel>
