<wicket:panel>
	<table width="100%" cellspacing="0" align="center">
		<tbody>
			<tr>
				<td>
					<table width="100%" cellspacing="0" class="customFieldDataView" border="0">
						<!-- Does not have header row -->
						<!--	The Data Result Set -->
						<tr wicket:id="customDataList">
							<td width="2%">
								&nbsp;
							</td>
							<td width="46%">
								<div class="label">
									<span wicket:id="fieldLabel">
										[field label]
									</span>
								</div>
								<div id="detailPanelBreaker">
									&nbsp;
								</div>
							</td>
							<td width="50%">
								<div wicket:id="dataValueEntryPanel">
									[data entry panel]
								</div>
								<div id="detailPanelBreaker">
									&nbsp;
								</div>
							</td>
							<td width="2%">
								&nbsp;
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</wicket:panel>