<wicket:panel>
	&nbsp;
	<form wicket:id="rowForm">
		<h2 style="padding-bottom:0.5em;">Rows</h2>
		<table cellspacing="0" class="dataview" border="0" width="100%">
			<tr>
				<th>
					<!-- to align --> &nbsp;
				</th>
				<th>
					<wicket:message key="rows.id">
						Row ID
					</wicket:message>
				</th>
				<th>
					<wicket:message key="rows.name">
						Row Name
					</wicket:message>
				</th>
				<th colspan="2">
					&nbsp;
				</th>
			</tr>
			<tr wicket:id="listView" style="height:2.3em;">
				<td width="2%">&nbsp;</td>
				<td width="3%"><span wicket:id="rows.id"></span></td>
				<td width="88%"><input wicket:id="rows.name" type="text" size="50"/></td>
				<td width="5%"><input wicket:id="delete" value="Delete" type="button" /></td>
				<td width="2%">&nbsp;</td>
			</tr>
			<tfoot>
				<tr>
					<td width="2%">&nbsp;</td>
					<td width="96%" colspan="3"><input wicket:id="new"
						type="submit" wicket:message="value:button.new" /></td>
					<td width="2%">&nbsp;</td>
				</tr>
			</tfoot>
		</table>	
		<div class="detailPanelBreaker">
		</div>
		<div class="actionButtons">
			<input wicket:id="save" type="submit" wicket:message="value:button.save" />
			<input wicket:id="close" type="button" value="Close" />
		</div>
	</form>
	<br>
	&nbsp;
	<br>
	&nbsp;
	<br>
	&nbsp;
</wicket:panel>
