<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="5%">
				<label for="bioCollection.id">
					<wicket:message	key="bioCollection.id">Collection ID:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="bioCollection.name">
					<wicket:message	key="bioCollection.name">Collection Name:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="bioCollection.linkSubjectStudy">
					<wicket:message	key="bioCollection.linkSubjectStudy">Subject UID:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="bioCollection.collectionDate">
					<wicket:message	key="bioCollection.collectionDate">Collection Date:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="bioCollection.surgeryDate">
					<wicket:message	key="bioCollection.surgeryDate">Surgery Date:</wicket:message>
				</label>
			</th>
			<th width="30%">
				<label for="bioCollection.comments">
					<wicket:message	key="bioCollection.comments">Comments:</wicket:message>
				</label>
			</th>
			<th width="2%">&nbsp;</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="collectionList">
			<td width="2%">&nbsp;</td>
			<td width="5%">
				<span wicket:id="bioCollection.id">ID</span>
			</td>
			<td width="10%">
			  <a href="#"wicket:id="bioCollection.name">
			  	<span wicket:id="nameLbl">Name</span>
			  </a>
			</td>
			<td width="10%">
				<span wicket:id="bioCollection.linkSubjectStudy"></span>
			</td>
			<td width="10%">
				<span wicket:id="bioCollection.collectionDate"></span>
			</td>
			<td width="10%">
				<span wicket:id="bioCollection.surgeryDate"></span>
			</td>
			<td width="30%">
				<span wicket:id="bioCollection.comments">Comments</span>
			</td>
			<td width="2%">&nbsp;</td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
		 	<td width="96%" colspan="5"><span wicket:id="navigator" class="a"></span></td>
			<td width="2%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>