<wicket:panel>&nbsp;
	<div id="searchPanelContainer">
		<form wicket:id="searchForm">
		
			<div id="searchPanelContent">
				
				<div id="searchPanelBreaker">&nbsp;</div>				
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
		 				<label for="id"><wicket:message key="bioCollection.id">Collection ID:</wicket:message></label>
		 			</div> 
		 		</div>
		 		
				<div id="fldControl">
					<div class="label">
						<input wicket:id="bioCollection.id"  type="text" />
					</div>
				</div>
				
				<div  id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="name"><wicket:message key="bioCollection.name">Name:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="bioCollection.name"  type="text" />
					</div>
				</div>
					
				<div id="searchPanelContentRight">&nbsp;</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="bioCollection.collectionDate">
							<wicket:message key="bioCollection.collectionDate">Collection Date:</wicket:message>
						</label>
		 			</div>
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="bioCollection.collectionDate"  type="text" maxLength="10"/>
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="endDate"><wicket:message key="bioCollection.surgeryDate">Surgery Date:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="bioCollection.surgeryDate"  type="text" maxLength="10"/>
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>		
				<!--  Defines the location for buttons -->			
				
				<div id="actionButtons">&nbsp;
					<div>
						<input wicket:id="search" type="submit" wicket:message="value:button.search" />&nbsp;
						<input wicket:id="reset" type="submit" wicket:message="value:button.reset" />&nbsp;
						<input wicket:id="new" type="submit" wicket:message="value:button.new" />
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
			</div>
		</form>
	</div>
</wicket:panel>