<wicket:panel>
	<!--	Page Left Zone -->
	<div class="leftZone">
		&nbsp;
	</div>

	<!-- Content Zone -->
	<div class="contentZone">
		<form wicket:id="form">
			<span wicket:id="feedbackMessage">
				[Feedback]
			</span>
			<div wicket:id="searchResultsPanel">
				[SearchResultsPanel]
			</div>

			<div class="actionButtons">
				<input wicket:id="refresh" type="submit" wicket:message="value:button.refresh" />
			</div>
		</form>
	</div>

	<!--	Page right Zone -->
	<div class="rightZone">
		&nbsp;
	</div>
	<!--	Enforce some spacing at bottom of page -->
	<br>
	&nbsp;
	<br>
	&nbsp;
	<br>
</wicket:panel>
