<wicket:panel>
	<div class="searchPanelBreaker">&nbsp;</div>
	<table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="30%">
				<wicket:message key="ARK_SESSION_ID">SessionID</wicket:message>
			</th>
			<th width="56%">
				<wicket:message key="ARK_USERID">UserId</wicket:message>
			</th>
			<th width="10%">
				<wicket:message key="ARK_HOST">Host:</wicket:message>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<tr wicket:id="list">
			<td width="2%">
				&nbsp;
			</td>
			<td width="30%">
				<span wicket:id="ARK_SESSION_ID">SessionID</span>
			</td>
			<td width="56%">
				<span wicket:id="ARK_USERID">UserID</span>
			</td>
			<td width="10%">
				<span wicket:id="ARK_HOST">Host</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">
				&nbsp;
			</td>
			<td width="96%" colspan="4">
				<span wicket:id="navigator" class="a">
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>