<wicket:panel>
	&nbsp;
	<form wicket:id="detailsForm">
		<div class="searchPanelContent"> 
			<div class="searchPanelBreaker">
				&nbsp;
			</div>
			<div class="searchPanelBreaker">
				&nbsp;
			</div>
			
			<div class="pedigreeButtons">
				<input wicket:id="editor" type="submit" value="Edit Table" />
			</div>	
			
			<div class="searchPanelBreaker">
				&nbsp;
			</div>
		</div>
		<div wicket:id="detailModalWindow"></div>
		<div class="searchPanelBreaker">
			&nbsp;
		</div>
		<div wicket:id="theContainer">
			<table cellspacing="0" class="dataview" border="0" width="100%">
				<tr>
					<th>
						<!-- to align --> &nbsp;
					</th>
					<th wicket:id="headers"><span wicket:id="header"></span></th>
				</tr>
				<tr wicket:id="listView">
					<td><span wicket:id="row"> </span></td>
					<td wicket:id="nested">
						<div wicket:id="dataValueEntryPanel">[data entry panel]</div>
					</td>
				</tr>
				<tfoot>
					<tr>
						<td colspan="100%">	
							&nbsp;
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</form>
	<br>
	&nbsp;
	<br>
	&nbsp;
	<br>
	&nbsp;
</wicket:panel>
