<wicket:panel>
	<form wicket:id="containerForm">
		<span wicket:id="feedbackMessage">
		</span>
		
		<div class="quarterLeft">
			&nbsp;
			<div class="detailsPanelBorder">
				<div wicket:id="tree">[tree]</div>
			</div>
		</div>
		
		<div class="threeQuarterRight">
			<!--	Collections panel -->
			<div wicket:id="biocollectionListPanel">
				biocollectionList
			</div>
	
			<!--	Biospecimens panel -->
			<div wicket:id="biospecimenListPanel">
				biopecimenList
			</div>
		</div>
		
		<!--	The detailModalWindow for detail edit/add -->
		<div wicket:id="detailModalWindow">
		</div>
	</form>
</wicket:panel>
