<wicket:panel>
	<div id="detailPanelBreaker">
		<div id="customFieldDataPanel">
			<form wicket:id="customDataEditorForm">
				<div id="detailsPanelBorder">
					<div id="detailPanelBreaker">
						<div wicket:id="dataViewWMC">
							<div wicket:id="dataViewPanel">
							</div>
						</div>
						<div wicket:id="buttonsPanelWMC">
							<div wicket:id="buttonsPanel">
							</div>
						</div>
					</div>
				</div>
			</form>
			<div id="detailPanel">
				<span wicket:id="navigator" class="a">
				</span>
				<div id="detailPanelBreaker">
				</div>
				<div class="centreLabel">
					<label for="warnSaveLabel">
						<wicket:message key="warnSaveLabel">
							Please "Save"!
						</wicket:message>
					</label>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>