div.footer {
	position: fixed;
	bottom: 10px;
	z-index: 100000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	line-height: normal;
	width: 100%;
	border-top: 1px solid black;
	background-color: white;
	text-align: center;
}