<wicket:panel>
	&nbsp;
	<!-- Start of searchPanelContainer-->
	<div class="searchPanelContainer">
		<form wicket:id="searchForm">
			<div class="searchPanelContent">
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<div class="label">
						<label for="study">
							<wicket:message key="study">
								Study:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<select wicket:id="study">
							<option>
								Study selection
							</option>
						</select>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<!-- Empty -->

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>
				<div class="fldLabel">
					<div class="label">
						<label for="subjectId">
							<wicket:message key="subjectUID">
								Subject UID:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.subjectUID" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="firstName">
							<wicket:message key="firstName">
								First Name:
							</wicket:message>
						</label>
					</div>
				</div>

				<div class="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.firstName" type="text" />
					</div>
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="middleName">
							<wicket:message key="middleName">
								Middle Name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.middleName" type="text" />
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="lastName">
							<wicket:message key="lastName">
								Last Name:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.lastName" type="text" />
					</div>
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="dateOfBirth">
							<wicket:message key="dateOfBirth">
								Date Of Birth:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<input wicket:id="linkSubjectStudy.person.dateOfBirth" maxLength="10"/>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="vitalStatus">
							<wicket:message key="vitalStatus">
								Vital Status:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="vitalStatus">
							<option>
								Alive
							</option>
							<option>
								Deceased
							</option>
						</select>
					</div>
				</div>

				<div class="searchPanelBreaker">
					&nbsp;
				</div>

				<div class="panelContentLeft">
					&nbsp;
				</div>

				<div class="fldLabel">
					<div class="label">
						<label for="genderType">
							<wicket:message key="gender">
								Gender:
							</wicket:message>
						</label>
					</div>
				</div>
				<div class="fldControl">
					<div class="label">
						<select wicket:id="genderType">
							<option>
								Male
							</option>
							<option>
								Female
							</option>
						</select>
					</div>
				</div>

				<div class="panelMargin">
					&nbsp;
				</div>

				<!-- Empty -->

				<div class="searchPanelBreaker">
					&nbsp;
				</div>
				
				<!--	Defines the location for buttons -->
				<div class="actionButtons">
					<input wicket:id="search" type="submit" wicket:message="value:button.search" />
					<input wicket:id="reset" type="submit" wicket:message="value:button.reset" />
					<input wicket:id="new" type="submit" wicket:message="value:button.new" />
				</div>
				
				<div class="searchPanelBreaker">
					&nbsp;
				</div>
			</div>
		</form>
	</div>
	<!-- End of searchPanelContainer-->
</wicket:panel>
