<wicket:panel>
	<div class="searchPanelBreaker">
		&nbsp;
	</div>
	<table width="0%" cellspacing="0">
	</table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">
				&nbsp;
			</th>
			<th width="10%">
				<label for="Id">
					<wicket:message	key="subjectUID">
						Subject ID:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="Id">
					<wicket:message	key="study">
						study
					</wicket:message>
				</label>
			</th>
			<th width="15%">
				<label for="fullName">
					<wicket:message	key="fullName">
						Full Name:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="dob">
					<wicket:message	key="dateOfBirth">
						Date Of Birth:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="vitalStatus">
					<wicket:message	key="vitalStatus">
						Vital Status:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="gender">
					<wicket:message	key="gender">
						Gender:
					</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="consentStatus">
					<wicket:message	key="consentStatus">
						Consent Status:
					</wicket:message>
				</label>
			</th>
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--	The Data Result Set -->
		<tr wicket:id="subjectList">
			<td width="2%">
				&nbsp;
			</td>
			<td width="10%">
				<a href="#" wicket:id="subjectUID">
					<span wicket:id="subjectKeyLbl">
						UID500
					</span>
				</a>
			</td>
			<td width="10%">
				<span wicket:id="studyLbl">
					UID500
				</span>
			</td>
			<td width="15%">
				<span wicket:id="subjectFullName">
					Full Name
				</span>
			</td>
			<td width="10%">
				<span wicket:id="person.dateOfBirth">
					Date Of Birth:
				</span>
			</td>
			<td width="10%">
				<span wicket:id="person.vitalStatus.statusName">
					Vital Status
				</span>
			</td>
			<td width="10%">
				<span wicket:id="person.genderType.name">
					Gender
				</span>
			</td>
			<td width="10%">
				<span wicket:id="consentStatus.name">
					Consent Status
				</span>
			</td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tfoot>
			<tr>
				<td width="2%">
					&nbsp;
				</td>
				<td width="96%" colspan="6">
					<span wicket:id="navigator" class="a">
					</span>
				</td>
				<td width="2%">
					&nbsp;
				</td>
			</tr>
		</tfoot>
	</table>
	<table width="0%" cellspacing="0">
	</table>
</wicket:panel>