<wicket:panel>
	<!--  Page Left Zone -->
	<div class="leftZone">&nbsp;</div>
	<!--  Page right Zone -->
	<div class="rightZone">&nbsp;</div>
	<!-- Content Zone -->
	<div class="contentZone">
		<form wicket:id="containerForm">
		 	<span wicket:id="feedbackMessage"> </span>
		 	<!--  The Search WebMarkupContainer that has the SearchPanel -->
		 	<div wicket:id="searchContainer">
				 <div wicket:id="searchComponentPanel"></div>
			</div>
			
			<!--  The SearchResults  WebMarkupContainer that has the SearchResultsPanel -->
			<div wicket:id="resultListContainer">
				 <div wicket:id="searchResults"></div>
			</div>
			
			<div wicket:id="detailContainer">
				 <div wicket:id="detailsPanel"></div>
			</div>
		</form>
	</div>
</wicket:panel>