
.wager .dijitContentPane {
    padding: 0px;
}
.wager .dijitTabContainerTop-dijitContentPane,
.wager .dijitTabContainerLeft-dijitContentPane,
.wager .dijitTabContainerRight-dijitContentPane,
.wager .dijitTabContainerBottom-dijitContentPane,
.wager .dijitAccordionContainer-dijitContentPane {
    background-color: #fff;
    padding: 5px;
}
.wager .dijitSplitContainer-dijitContentPane,
.wager .dijitBorderContainer-dijitContentPane {
    background-color: #fff;		
    padding: 5px;
}
