<wicket:panel>
	&nbsp;
	<form wicket:id="treeForm">
		<!-- Buttons -->
		<div id="detailsPanelBorder">
			<input wicket:id="addSite" type="submit" wicket:message="value:addSite" />
			<div id="panelMargin">
				&nbsp;
			</div>
			<input wicket:id="addTank" type="submit" wicket:message="value:addTank" />
			<div id="panelMargin">
				&nbsp;
			</div>
			<input wicket:id="addTray" type="submit" wicket:message="value:addTray" />
			<div id="panelMargin">
				&nbsp;
			</div>
			<input wicket:id="addBox" type="submit" wicket:message="value:addBox" />
			<div id="panelMargin">
				&nbsp;
			</div>
		</div>
	</form>
	
	<div id="detailPanelBreaker"></div>
	
	<div id="searchPanelContent">
		<!-- Inventory Tree -->
		<div wicket:id="tree">
			[Tree]
		</div>
	</div>
</wicket:panel>
