<wicket:panel>
	&nbsp;
	<form wicket:id="detailForm">
		<div id="detailsPanelBorder">
			<div wicket:id="detailFormContainer">
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<!-- Row 1 ID and Name-->
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="id">
							<wicket:message key="collection.id">Collection ID:</wicket:message>
						</label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="genoCollection.id" type="text" />
					</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="name"><wicket:message key="collection.name">Name:</wicket:message></label>
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<input wicket:id="genoCollection.name" type="text" /> 
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
			
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="status"><wicket:message	key="collection.status">Status:</wicket:message></label> 
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<select wicket:id="genoCollection.status">
		       				<option>Created</option>
							<option>Active</option>
							<option>Disabled</option>
							<option>Expired</option>
		       			</select>
			       	</div>
				</div>
				
				<div id="panelMargin">&nbsp;</div>
							
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldDescription"><wicket:message key="collection.description">Description:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<textarea wicket:id="genoCollection.description" cols="25"></textarea> 
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="startDate"><wicket:message key="collection.startDate">Start Date:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="genoCollection.startDate"  type="text" maxLength="10"/>
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="expirytDate"><wicket:message key="collection.expiryDate">Expiry Date:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="genoCollection.expiryDate"  type="text" maxLength="10"/>
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						&nbsp;
					</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				<!-- ModalWindow for confirm Delete window -->
				<div wicket:id="modalwindow"></div>
			</div>
			<!-- Detail container end-->
			
			<!--  Buttons -->
			<div wicket:id="viewButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="edit" type="submit" wicket:message="value:button.edit" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="editCancel" type="submit"	wicket:message="value:button.cancel" />
				  	</div>
				</div>
			</div>
			
			<div wicket:id="editButtonContainer">
				<div id="fldLabel">&nbsp;</div>
				<div id="fldControl">&nbsp;</div>
				<div id="panelMargin">&nbsp;</div>
				<div id="actionButtons">&nbsp;
					<div class="label">
						<input wicket:id="save" type="submit" wicket:message="value:button.save" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="cancel" type="submit"	wicket:message="value:button.cancel" />&nbsp;
						<div id="panelMargin">&nbsp;</div>
						<input wicket:id="delete" type="submit" wicket:message="value:button.delete" />
				  	</div>
				</div>
			</div>
		</div>
	
	</form>
</wicket:panel>