#buttons {
background-color:#EEE;
}
#actionButtons {
float:right;
width:50%;
height:5%;
padding-bottom:10px;
}
.actionButtons {
float:right;
padding-bottom:10px;
width:50%;
}
.printButtons {
float:left;
margin:10px auto auto 10%;
width:100%;
}