#contextMenu {
	float: center;
}

#contextMenu ul {
	width: 100%;
	float: left;
	padding: 0;
	margin-left: 0;
	font: bold 12px Verdana, sans-serif;
}

#contextMenu ul li {
	list-style: none;
	margin: 0; 
	float: left;
	padding: 1px;
	margin-left: 5%;
	border-bottom: none;
	text-decoration: none;
	background-position: 50%;
	background-repeat: repeat-x;
	display: block;
	width: 15%;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* for IE6 */
* html .clearfix {
	height: 1%;
}

/* for IE7 */
*:first-child+html .clearfix {
	min-height: 1px;
}