span.requiredHint {
font-size:12pt;
}

#error {
border:1px solid red;
}

.formcomponent.invalid {
border:2px solid red;
color:red;
}

.formcomponent.valid {
color:green;
}

.legend {
background:#EEE;
border:none;
font-size:1.1em;
font-weight:700;
padding:2px 6px;
}

#detailPanel {
float:left;
width:100%;
height:90%;
}

.paddedDetailPanel {
float:left;
padding-left:3%;
width:100%;
}

#detailFormContainer {
background-color:#EEE;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

#detailsPanelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:0 #6F6F6F 0 0;
border-style:solid;
border-width:1px;
}

#detailSectionBorder {
background-color:#EEE;
border-top:1px solid;
float:left;
margin:10px auto auto;
padding-bottom:10px;
padding-top:10px;
width:100%;
}

#detailFormLabelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:0 #6F6F6F 0 0;
border-style:solid solid none;
border-width:1px;
}

#detailPanelBreaker {
float:left;
width:100%;
height:10px;
}

#summaryPanelBorder {
border-bottom-style:solid;
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-width:1px;
}

#listDetailsPanelBorder,#detailPanelContent {
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

.detailPanel {
float:left;
width:100%;
height:90%;
}

.detailFormContainer {
background-color:#EEE;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

.detailsPanelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:0 #6F6F6F 0 0;
border-style:solid;
border-width:1px;
}

.detailSectionBorder {
background-color:#EEE;
border-top:1px solid;
float:left;
margin:10px auto auto;
padding-bottom:10px;
padding-top:10px;
width:100%;
}

.detailFormLabelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:0 #6F6F6F 0 0;
border-style:solid solid none;
border-width:1px;
}

.detailPanelBreaker {
float:left;
width:100%;
height:10px;
}

.summaryPanelBorder {
border-bottom-style:solid;
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-width:1px;
}

.listDetailsPanelBorder, .detailPanelContent {
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

.detailSubForm {
background-color: #EEEEEE;
border-top: 1px solid;
border-bottom: 1px solid;
float: left;
margin: 10px auto auto;
padding-bottom: 10px;
padding-top: 10px;
width: 100%;
}