.fieldset {
	border: 1px solid #6F6F6F;
}

.legend {
	background: #EEEEEE;
	border: 1px solid #6F6F6F;
	border: none;
	padding: 2px 6px;
	font-size: 1.1em;
	font-weight: bold;
}

#detailPanel {
	float: left;
	width: 100%;
	height: 90%;
}

#detailFormContainer{
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
}

#detailsPanelBorder{
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}

#detailPanelContent {
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}

#detailPanelContentRight {
	float: right;
	height: 5%;
	width: 5%;
}

#detailPanelBreaker {
	float: left;
	width: 100%;
	height: 20%;
}

#summaryPanelBorder{
	border-bottom-style: solid; 
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}

#customPanelBorder{
	background-color: #EEEEEE;
    border: 1px solid #6F6F6F;
    float: left;
    height: 100%;
    margin-left: 6.5em;
    margin-right: 6.5em;
    padding-bottom: 1.5em;
    padding-left: 1.2em;
    padding-top: 1.5em;
    width: 80%;
}

#customPanelContentLeft {
    float: left;
    height: 5%;
    width: 2%;
}

#customPanelMargin{
	float: left;
    height: 5%;
    width: 15%;
}

#customPanelContentRight {
    float: right;
    height: 5%;
    width: 2%;
}
