.fieldset {
	border: 1px solid #6F6F6F;
}

.legend {
	background: #EEEEEE;
	border: 1px solid #6F6F6F;
	border: none;
	padding: 2px 6px;
	font-size: 1.1em;
	font-weight: bold;
}

#detailPanel {
	float: left;
	width: 100%;
	height: 90%;
}

#detailFormContainer{
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
}

#detailsPanelBorder{
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}

#detailPanelContent {
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}

#detailPanelContentRight {
	float: right;
	height: 5%;
	width: 5%;
}

#detailPanelBreaker {
	float: left;
	width: 100%;
	height: 20%;
}

#summaryPanelBorder{
	border-bottom-style: solid; 
	border-width: 1px;
	border-color: #6F6F6F;
	background-color:#EEEEEE;
	float: left;
	width: 100%;
	height: 100%;
}