span.requiredHint {
font-size:12pt;
}

#error {
border:1px solid red;
}

.formcomponent.invalid {
border:2px solid red;
color:red;
}

.formcomponent.valid {
color:green;
}

.fieldset {
border:1px solid #6F6F6F;
}

.legend {
background:#EEE;
border:none;
font-size:1.1em;
font-weight:700;
padding:2px 6px;
}

.detailsPanelBorder {
background-color:#EEE;
border-style:solid;
border-width:1px;
float:left;
height:100%;
width:100%;
}

#detailPanel {
float:left;
width:100%;
height:90%;
}

.detailPanel {
float:left;
width:100%;
height:90%;
}

#detailFormContainer {
background-color:#EEE;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

#detailsPanelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:0 #6F6F6F 0 0;
border-style:solid;
border-width:1px;
}

.detailsPanelBorder {
background-color:#EEE;
border-color:0 #6F6F6F 0 0;
border-style:solid;
border-width:1px;
float:left;
height:100%;
padding-top:10px;
width:100%;
}

#detailSectionBorder {
background-color:#EEE;
border-top:1px solid;
float:left;
margin:10px auto auto;
padding-bottom:10px;
padding-top:10px;
width:100%;
}

.detailSectionBorder {
background-color:#EEE;
border-top:1px solid;
float:left;
margin:10px auto auto;
padding-bottom:10px;
padding-top:10px;
width:100%;
}

#detailFormLabelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:0 #6F6F6F 0 0;
border-style:solid solid none;
border-width:1px;
}

#detailPanelBreaker {
float:left;
width:100%;
height:10px;
}

#summaryPanelBorder {
border-bottom-style:solid;
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-width:1px;
}

#customPanelBorder {
background-color:#EEE;
border:1px solid #6F6F6F;
float:left;
height:100%;
padding-bottom:1.5em;
padding-left:1.5em;
padding-top:1.5em;
width:90%;
}

#customPanelContentLeft {
float:left;
height:5%;
width:2%;
}

#customPanelMargin {
float:left;
height:5%;
width:5%;
}

#customPanelContentRight {
float:right;
height:5%;
width:2%;
}

#listDetailsPanelBorder,#detailPanelContent {
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}