.feedbackPanelERROR {
color: red;
list-style: circle;
font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
font-weight: 700;
}
.fieldErrorMessage {
color: red;
font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
font-weight: 700;
}
.feedbackPanelINFO {
color: green;
list-style: circle;
font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
font-weight: 700;
}
#feedbackPanel {
float: left;
padding-left: 20px;
width: 95%;
}
.feedbackPanel {
float: left;
padding-left: 20px;
width: 95%;
}
.feedbackZone {
float: left;
width: 40%;
height: 10%;
}
#feedbackZone {
float: left;
width: 40%;
height: 10%;
}