#header {
height:120px;
overflow:hidden;
width:100%;
margin-top:22px;
}

#mainheaderouter {
min-height:120px;
margin:auto;
}

#hostedby {
float:left;
height:100px;
}

#product {
float:right;
height:100px;
}

#studyName {
font-size:30pt;
font-weight:700;
text-align:center;
height:100px;
margin-left:auto;
margin-right:auto;
/* margin-top:28px; ARK-1405 make the adjustment. */
/* 4px adjustment */
margin-top:32px;
padding-top:10px;
}

#studyLogo {
height:100px;
margin-left:auto;
margin-right:auto;
padding-top:0;
}

#banner {
width:100%;
height:1px;
border-top:solid 1px;
}

img.center {
display:block;
margin-left:auto;
margin-right:auto;
}