#inventoryButtonPanel {
	background-color: #EEEEEE;
    border-color: -moz-use-text-color #6F6F6F -moz-use-text-color -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px;
    float: left;
    height: 100%;
    width: 100%;
}

#inventoryPanelBreaker {
	float: left;
    width: 100%;
}

#inventoryPanelContent {
	border: 1px solid #6F6F6F;
    float: left;
    width: 100%;
}

#inventoryContentZoneLeft {
	float: left;
    margin-left: 10px;
    width: 15%;
}

#inventoryContentZoneCenter {
	margin-left: auto;
    margin-right: auto;
    width: 65%;
}

#inventoryContentZoneRight {
	float: right;
	width: 5%;
}

#gridBox {
    margin-left: auto;
    margin-right: auto;
    width: 0;
}

table.gridBoxTable {
	 border: 1px solid;
	 border-collapse:collapse;
}

table.gridBoxTable th {
    color: white;
    font-weight: bold;
    padding: 1px;
}

table.gridBoxTable td {
    padding: 2px;
}

#gridBoxKeyContainer {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 0;
}