table.palette td.header {
background-color:#EEE;
border-bottom:1px solid #6F6F6F;
border-top:1px solid #6F6F6F;
font-size:10pt;
font-weight:700;
text-align:center;
padding:2px;
}

table.palette {
border:0;
}

table.palette td.pane {
width:100px;
text-align:center;
}

table.palette td.pane select {
width:200px;
}

table.palette td.buttons {
text-align:center;
padding-left:10px;
padding-right:10px;
}

table.palette td.buttons button {
width:40px;
height:40px;
}

div.tabpanel div.tab-row {
float:left;
width:100%;
background: url("../images/bg.gif") repeat-x bottom;
line-height:normal;
}

div.tabpanel div.tab-row ul {
list-style:none;
margin:0;
padding:10px 10px 0;
}

div.tabpanel div.tab-row li {
float:left;
background:url("../images/left.gif") no-repeat left top;
margin:0;
padding:0 0 0 10px;
}

div.tabpanel div.tab-row a {
display:block;
background:url("../images/right.gif") no-repeat right top;
text-decoration:none;
font-weight:700;
color:#6F6F6F;
white-space:nowrap;
padding:5px 15px 4px 6px;
}

div.tabpanel div.tab-row a:hover {
color:#333;
}

div.tabpanel div.tab-row li.selected {
background-image:url("../images/lefton.gif");
}

div.tabpanel div.tab-row li.selected a {
background-image:url("../images/righton.gif");
color:#333;
padding-bottom:5px;
}

#paletteAvailableLabel {
background-color:#EEE;
border-bottom:1px solid #6F6F6F;
border-top:1px solid #6F6F6F;
font-size:10pt;
font-weight:700;
float:left;
margin-bottom:5px;
text-align:center;
width:100%;
}

#paletteSelectedLabel {
background-color:#EEE;
border-bottom:1px solid #6F6F6F;
border-top:1px solid #6F6F6F;
font-size:10pt;
font-weight:700;
float:right;
margin-bottom:5px;
text-align:center;
width:100%;
}

#paletteAvailable {
float:left;
height:100%;
width:40%;
}

#paletteSelected {
float:right;
height:100%;
width:40%;
}

#paletteButtons {
display:block;
height:100%;
margin-left:auto;
margin-right:auto;
width:10%;
padding:20px;
}

#paletteCenter {
float:center;
height:100%;
width:10%;
}

#paletteAddAllButtons {
float:left;
height:20%;
width:100%;
}

#paletteBreaker,#paletteBorder {
float:left;
width:100%;
}

#addSelectedBtn,#removeSelectedBtn,#addAllBtn,#removeAllBtn {
width:100%;
}