.fieldset {
	border: 1px solid #6F6F6F;
}

.legend {
	background: #CCCCCC;
	border: 1px solid #6F6F6F;
	padding: 2px 6px;
	font-size: 1.1em;
	font-weight: bold;
	padding: 2px 6px
}

#searchPanel {
	float: left;
	width: 100%;
	height: 90%;
}

#searchPanelContent {
	border-style: solid;
	border-width: 1px;
	border-color: #6F6F6F;
	float: left;
	width: 100%;
	height: 100%;
}

#searchPanelContentRight {
	float: right;
	height: 5%;
	width: 5%;
}

#searchPanelFbContainer {
	float: left;
	width: 100%;
	height: 25%;
}

#searchPanelFbLeft {
	float: left;
	width: 25%;
	height: 25%;
}

#searchPanelFbRight {
	float: right;
	width: 25%;
	height: 25%;
}

#searchPanelFb {
	background-color: white;
	float: left;
	width: 50%;
	height: 25%;
}

#searchPanelBtnLeft {
	float: left;
	width: 75%;
	height: 10%;
}

#searchPanelBtnRight {
	float: right;
	width: 25%;
	height: 10%;
}

#searchPanelBr {
	float: left;
	width: 100%;
	height: 10%;
}

#searchPanelBreaker {
	float: left;
	width: 100%;
	height: 20%;
}