
.wicketExtensionsWizardButtonBar {
	float: left;
	height: 20%;
	width: 100%;
	border-top: solid;
	border-top: 1px;
	text-align: right;
}
.wicketExtensionsWizardButtonBar input {
	width: 80px;
}
.wicketExtensionsWizardHeaderTitle {
	margin: 10 5 10 15;
	font-weight: bold;
	padding-left: 10%;
}
.wicketExtensionsWizardHeaderSummary {
	margin: 10 5 5 5;
	font-style: italic;
	padding-left: 10%;
}