.fieldset {
border:1px solid #6F6F6F;
}

.legend {
background:#EEE;
border:none;
font-size:1.1em;
font-weight:700;
padding:2px 6px;
}

#wizardPanel {
float:left;
width:100%;
height:90%;
}

#wizardPanelMargin {
float:left;
height:5%;
width:5%;
}

#wizardFormContainer {
background-color:#EEE;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

#wizardPanelBorder {
background-color:#EEE;
float:left;
height:100%;
width:100%;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

#wizardPanelContent {
background-color:#EEE;
float:left;
width:100%;
height:100%;
border-color:#6F6F6F;
border-style:solid;
border-width:1px;
}

#wizardPanelContentRight {
float:right;
height:5%;
width:5%;
}

#wizardPanelContentLeft {
float:left;
width:5%;
height:5%;
}

#wizardPanelBreaker {
float:left;
width:100%;
height:20%;
}

#wizardStepContent {
margin-right:auto;
padding-left:5%;
padding-top:1%;
width:80%;
}

#wizardGridContent {
float:left;
margin-right:auto;
padding-left:5%;
padding-top:1%;
width:80%;
}

.wicketExtensionsWizardButtonBar {
float:left;
height:20%;
width:100%;
border-top:1px;
text-align:right;
}

.wicketExtensionsWizardButtonBar input {
width:80px;
}

.wicketExtensionsWizardHeaderTitle {
font-weight:700;
padding-left:5%;
margin:10px 5px 10px 15px;
}

.wicketExtensionsWizardHeaderSummary {
font-style:italic;
padding-left:5%;
margin:10px 5px 5px;
}

#wizardErrorMessages {
border:1px solid;
float:left;
height:100px;
overflow:auto;
padding-bottom:5px;
width:100%;
}

.wizardDataGrid {
overflow:auto;
height:200px;
width:100%;
}

table.wizardDataGridTable {
border-collapse:collapse;
}

table.wizardDataGridTable th {
background:none repeat scroll 0 0 #C3C3C3;
border:1px solid #000;
color:#FFF;
font-weight:700;
padding:1px;
}

table.wizardDataGridTable td {
border:1px solid #000;
}