<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview">
		<tr>
			<th width="5%">&nbsp;</th>
			<th width="10%>
				<label for="id">
					<wicket:message	key="uploadCollection.id">Upload ID:</wicket:message>
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="filename">
					<wicket:message	key="uploadCollection.upload.filename">Filename:</wicket:message>
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="fileFormat">
					<wicket:message	key="uploadCollection.upload.fileFormat">File format:</wicket:message>
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="delimiterType">
					<wicket:message	key="uploadCollection.upload.delimiterType">Delimiter:</wicket:message>
				</label>
			</th>
			<th width="5%">&nbsp;</th>
			<th width="10%">
				<label for="other">
					&nbsp;
				</label>
			</th>
			<th width="5%">&nbsp;</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="collectionList">
			<td width="5%">&nbsp;</td>
			<td width="10%">
				<span wicket:id="uploadCollection.id">100</span>
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
			  <a href="#"wicket:id="uploadCollection.upload.filename">
			  	<span wicket:id="nameLbl">Filename</span>
			  </a>
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				<span wicket:id="uploadCollection.upload.fileFormat">File format</span>
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				<span wicket:id="uploadCollection.upload.delimiterType">Delimiter type</span>
			</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">
				&nbsp;
			</td>
			<td width="5%">&nbsp;</td>
		</tr>
		<tr>
			<td width="5%">&nbsp;</td>
			<td width="10%"><span wicket:id="navigator" class="a"></span></td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
			<td width="10%">&nbsp;</td>
			<td width="5%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>