<wicket:panel>&nbsp;
	<div id="searchPanelContainer">
		<form wicket:id="searchForm">
		
			<div id="searchPanelContent">
				
				<div id="searchPanelBreaker">&nbsp;</div>				
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
		 				<label for="id"><wicket:message key="uploadCollection.id">Upload Collection ID:</wicket:message></label>
		 			</div> 
		 		</div>
		 		
				<div id="fldControl">
					<div class="label"> <!--  this will change to ID -->
						<input wicket:id="uploadCollection.id"  type="text" />
					</div>
				</div>
				
				<div  id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="name"><wicket:message key="uploadCollection.upload.filename">Filename:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="uploadCollection.upload.filename"  type="text" />
					</div>
				</div>
					
				<div id="searchPanelContentRight">&nbsp;</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="fileFormat"><wicket:message	key="uploadCollection.upload.fileFormat">File format:</wicket:message></label>
						&nbsp; 
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<!-- NB: Different from the typical full class path -->
						<select wicket:id="fileFormat">
		       				<option>PED</option>
							<option>MAP</option>
		       			</select>
		       			&nbsp;
			       	</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
					<div class="label">
						<label for="delimiterType"><wicket:message	key="uploadCollection.upload.delimiterType">Delimiter:</wicket:message></label> 
					</div>
				</div>
				<div id="fldControl">
					<div class="label">
						<!-- NB: Different from the typical full class path -->
						<select wicket:id="delimiterType">
		       				<option>Test</option>
		       			</select>
			       	</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>		
				<!--  Defines the location for buttons -->			
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">&nbsp;</div>
				
				<div id="fldControl">&nbsp;</div>
				
				<div id="panelMargin">&nbsp;</div>
				
				<div id="actionButtons">&nbsp;
					<div>
						<input wicket:id="search" type="submit" wicket:message="value:button.search" />&nbsp;
						<input wicket:id="reset" type="submit" wicket:message="value:button.reset" />&nbsp;
						<input wicket:id="new" type="submit" wicket:message="value:button.new" />
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
			</div>
		</form>
	</div>
</wicket:panel>