<wicket:panel>&nbsp;
	<div id="searchPanelContainer">
		<form wicket:id="searchForm">
			<div id="searchPanelContent">
				<div id="searchPanelBreaker">&nbsp;</div>	
			
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="searchPanelTextMessage">
					<div class="label">
						<span wicket:id="generalLbl"></span>
					</div>
				</div>
				
				<div id="panelContentRight">&nbsp;</div>
				
				<!-- 
				<div id="searchPanelBreaker">&nbsp;</div>				
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
		 				<label for="phoneId"><wicket:message key="phoneId">Phone iD:</wicket:message></label>		
		 			</div> 
		 		</div>
		 		
				<div id="fldControl">
					<div class="label">
						<input wicket:id="phone.id"  type="text" />
					</div>
				</div>
				
				<div  id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="phoneType"><wicket:message key="phoneType">Phone Type:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<select wicket:id="phone.phoneType">
		       				<option>Mobile</option>
							<option>IPhone</option>
							<option>Date</option>
		       			</select>
		       		</div>
				</div>
					
				
				
				<div id="searchPanelBreaker">&nbsp;</div>
		       	
		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
		 				<label for="areaCode"><wicket:message key="areaCode">Area Code:</wicket:message></label>		
		 			</div> 
		 		</div>
		 		
				<div id="fldControl">
					<div class="label">
						<input wicket:id="phone.areaCode"  type="text" />
					</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
		       	
				<div id="fldLabel">
		 			<div class="label">
						<label for="fieldType"><wicket:message key="phoneNumber">Phone Number:</wicket:message></label>		
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<input wicket:id="phone.phoneNumber"  type="text" />
					</div>
				</div>

				
				<div id="searchPanelBr"></div>
				
				<div id="searchPanelBreaker">&nbsp;</div>	
				
				-->	
				
				<!--  Defines the location for buttons -->
				<div id="actionButtons">&nbsp;
					<div>
						<input wicket:id="search" type="submit" wicket:message="value:button.search" />&nbsp;
						<input wicket:id="reset" type="submit" wicket:message="value:button.reset" />&nbsp;
						<input wicket:id="new" type="submit" wicket:message="value:button.new" />
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
			</div>
		</form>
	</div>
</wicket:panel>