<wicket:panel>
	<div id="searchPanelBreaker">&nbsp;</div>
    <table width="0%" cellspacing="0"></table>
	<table width="100%" cellspacing="0" class="dataview" border="0">
		<tr>
			<th width="2%">&nbsp;</th>
			<th width="5%">
				<label for="studyComponent">
					<wicket:message	key="studyComponent">Study Component:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="studyComponentStatus">
					<wicket:message	key="studyComponent.status">Component Status:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="consentStatus">
					<wicket:message	key="consent.consentStatus">Consent Status:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="consentType">
					<wicket:message	key="consent.type">Consent Type:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="consentedBy">
					 <wicket:message	key="consent.consentedBy">Consented By:</wicket:message>
				</label>
			</th>
			<th width="10%">
				<label for="something">
					  <wicket:message	key="consent.date">Consent Date:</wicket:message>
				</label>
			</th>			
			<th width="2%">
				&nbsp;
			</th>
		</tr>
		<!--  The Data Result Set -->
		<tr wicket:id="consentList">
			<td width="2%">&nbsp;</td>
			<td width="5%">
				<a href="#"wicket:id="studyComp.name">
				  <span wicket:id="consentComponentLabel">Component Name</span>
			    </a>
			</td>
			<td width="10%">
			  	<span wicket:id="studyComponentStatus.name">Completed</span>
			</td>
			<td width="10%">
  				<span wicket:id="consentStatus.name">Consented</span>			   
			</td>
			<td width="10%"><span wicket:id="consentType.name">Soft Copy</span></td>
			<td width="10%"><span wicket:id="consentedBy">Paul White</span></td>
			<td width="10%"><span wicket:id="consentDate">10/01/2005</span></td>
			<td width="2%">
				&nbsp;
			</td>
		</tr>
		<tr>
			<td width="2%">&nbsp;</td>
			<td width="96%" colspan="6"><span wicket:id="navigator" class="a"></span></td>
			<td width="2%">&nbsp;</td>
		</tr>
	</table>
	<table width="0%" cellspacing="0"></table>
</wicket:panel>