<wicket:panel>&nbsp;
	<div id="searchPanelContainer">
		<form wicket:id="searchForm">
		
			<div id="searchPanelContent">
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="searchPanelTextMessage">
					<div class="label">
						<span wicket:id="generalLbl"></span>
					</div>
				</div>
				
				<div id="panelContentRight">&nbsp;</div>
				
				
				<!-- 
				<div id="searchPanelBreaker">&nbsp;</div>				
				
				<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
		 				<label for="studyComponent"><wicket:message key="studyComponent">Study Component:</wicket:message></label>		
		 			</div> 
		 		</div>
		 		 -->
		 		 
		 		 <!--  Drop Down Choice for Study Component -->
		 		 <!-- 
				<div id="fldControl">
					<div class="label"> 
						<select wicket:id="consent.studyComp">
		       				<option>Blood</option>
							<option>Saliva</option>
		       			</select>
					</div>
				</div>
				
				<div  id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="studyComponentStatus"><wicket:message key="studyComponent.status">Study Component Status:</wicket:message></label>		
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<select wicket:id="consent.studyComponentStatus">
		       				<option>Completed</option>
							<option>Not Completed</option>
		       			</select>
					</div>
				</div>
					
				<div id="searchPanelContentRight">&nbsp;</div>
				<div id="searchPanelBreaker">&nbsp;</div>

		       	<div id="panelContentLeft">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="consentType"><wicket:message key="consent.type">Consent Type:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				<div id="fldControl">
					<div class="label">
						<select wicket:id="consent.consentType">
		       				<option>Hard Copy</option>
		       				<option>Electronic Copy</option>
		       			</select>
		       		</div>
				</div>
		       	   		       			
		       	<div id="panelMargin">&nbsp;</div>
						
				<div id="fldLabel">
		 			<div class="label">
						<label for="consentStatus"><wicket:message key="consent.consentStatus">Consent Status:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				
				<div id="fldControl">
					<div class="label">
						<select wicket:id="consent.consentStatus">
		       				<option>Consented</option>
		       				<option>Not Consented</option>
		       			</select>
					</div>
				</div>
				<div id="searchPanelContentRight">&nbsp;</div>
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				<div id="fldLabel">
		 			<div class="label">
						<label for="consentDate"><wicket:message key="consent.date.between.from">Consent Date:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				<div id="fldControl">
					<div class="date">
						<input wicket:id="consent.consentDate"  type="text" maxLength="10"/>
		       		</div>
				</div>
		       	
		       	<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						<label for="consentDate"><wicket:message key="consent.date.to">Consent To:</wicket:message></label>
		 			</div> 
		 		</div> 	
				
				<div id="fldControl">
					<div class="date">
						<input wicket:id="consentDateEnd"  type="text" maxLength="10"/>
		       		</div>
				</div>
				
				<div id="searchPanelContentRight">&nbsp;</div>
				<div id="searchPanelBreaker">&nbsp;</div>
				
				<div id="panelContentLeft">&nbsp;</div>
				<div id="fldLabel">
		 			<div class="label">
						<label for="consentedBy"><wicket:message key="consent.consentedBy">Consented By:</wicket:message></label>
		 			</div> 
		 		</div> 			       			
				<div id="fldControl">
					<div class="label">
						<input wicket:id="consent.consentedBy"  type="text" />
		       		</div>
				</div>
		       	
		       	<div id="panelMargin">&nbsp;</div>
				
				<div id="fldLabel">
		 			<div class="label">
						&nbsp;
		 			</div> 
		 		</div> 	
				
				<div id="fldControl">
					<div class="label">
						&nbsp;
		       		</div>
				</div>
				-->
				
				<div id="searchPanelContentRight">&nbsp;</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>		
				
				<!--  Defines the location for buttons -->			
				
				<div id="actionButtons">&nbsp;
					<div>
						<input wicket:id="search" type="submit" wicket:message="value:button.search" />&nbsp;
						<input wicket:id="reset" type="submit" wicket:message="value:button.reset" />&nbsp;
						<input wicket:id="new" type="submit" wicket:message="value:button.new" />
					</div>
				</div>
				
				<div id="searchPanelBreaker">&nbsp;</div>
			</div>
		</form>
	</div>
</wicket:panel>